- content_for :actions do
  = link_to(t(:new), new_admin_zonefile_setting_path, class: 'btn btn-primary')
= render 'shared/title', name: t(:zonefile_settings)

.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-10'}
              = t(:origin)
            %th{class: 'col-xs-2'}
              = t(:action)
        %tbody
          - @zonefile_settings.each do |x|
            %tr
              %td= link_to(x, edit_admin_zonefile_setting_path(x))
              %td
                = link_to(t(:generate_zonefile),
                  admin_zonefiles_path(origin: x.origin),
                  method: 'post', class: 'btn btn-xs btn-primary')
