#dnskeys
  = f.fields_for :dnskeys do |key_fields|
    .panel.panel-default
      .panel-heading.clearfix
        .pull-left= t('shared.dnskey')
        .pull-right
          = link_to(t('shared.add_another'), '#', class: 'btn btn-primary btn-xs add-dnskey')
          = link_to(t('shared.delete'), '#', class: 'btn btn-danger btn-xs destroy')
      .panel-body
        .errors
          = render 'shared/errors', object: key_fields.object
          - if key_fields.object.errors.any?
            %hr
        .form-group
          = key_fields.label :flags, class: 'col-md-2 control-label'
          .col-md-10
            = key_fields.text_field :flags, class: 'form-control'

        .form-group
          = key_fields.label :protocol, class: 'col-md-2 control-label'
          .col-md-10
            = key_fields.text_field :protocol, class: 'form-control'

        .form-group
          = key_fields.label :alg, class: 'col-md-2 control-label'
          .col-md-10
            = key_fields.text_field :alg, class: 'form-control'

        .form-group
          = key_fields.label :public_key, class: 'col-md-2 control-label'
          .col-md-10
            = key_fields.text_field :public_key, class: 'form-control'
:javascript
  $("#dnskeys").nestedAttributes({
    bindAddTo: $(".add-dnskey"),
    afterAdd: function(item) {
      item.find('.errors').html('');
    }
  });
