%html{lang: I18n.locale.to_s}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "Full stack top-level domain (TLD) management.", name: "description"}/
    %meta{content: "Gitlab LTD", name: "author"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'registrar-manifest', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{href: "../../favicon.ico", rel: "icon"}/
    %title EIS Registrar Portal
  %body
    / Static navbar
    .navbar.navbar-default.navbar-static-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to main_app.registrar_root_path, class: 'navbar-brand' do
            EIS Registrar
            - if unstable_env.present?
              .text-center
                %small{style: 'color: #0074B3;'}= unstable_env
        - if current_user
          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              - if can? :show, Invoice
                %li= link_to t('invoices'), main_app.registrar_invoices_path

              - active_class = %w(domains check renew tranfer keyrelays).include?(params[:controller]) ? 'active' :nil
              %li{class: active_class}= link_to t(:domains), depp.domains_path

              - active_class = ['contacts'].include?(params[:controller]) ? 'active' :nil
              %li{class: active_class}= link_to t(:contacts), contacts_path

              - active_class = ['xml_consoles'].include?(params[:controller]) ? 'active' :nil
              %li{class: active_class}= link_to t(:xml_console), xml_console_path
            %ul.nav.navbar-nav.navbar-right
              %li= link_to t('log_out', user: current_user), '/registrar/logout'

        / /.nav-collapse
    .container
      - display = (flash.empty?) ? 'none' : 'block'
      #flash{style: "display: #{display};"}
        - type = (flash[:notice]) ? 'bg-success' : 'bg-danger'
        .alert{class: type}= flash[:notice] || flash[:alert]
      = yield

      .footer.text-right
        Version
        = CURRENT_COMMIT_HASH
