!!! 5
%html{lang: I18n.locale.to_s}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    - if content_for? :head_title
      = yield :head_title
    - else
      %title= t(:registrant_head_title)
    = csrf_meta_tags
    = stylesheet_link_tag 'registrant-manifest', media: 'all'
    = favicon_link_tag 'favicon.ico'
  %body
    / Fixed navbar
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to registrant_root_path, class: 'navbar-brand' do
            = t(:registrant_head_title)
            - if unstable_env.present?
              .text-center
                %small{style: 'color: #0074B3;'}= unstable_env
        - if current_user
          .navbar-collapse.collapse
            %ul.nav.navbar-nav.public-nav
              - if can? :view, Depp::Domain
                - active_class = %w(registrant/domains registrant/check registrant/renew registrant/tranfer registrant/keyrelays).include?(params[:controller]) ? 'active' :nil
                %li{class: active_class}= link_to t(:domains), registrant_domains_path

              - active_class = %w(registrant/whois).include?(params[:controller]) ? 'active' :nil
              %li{class: active_class}= link_to t(:whois), registrant_whois_path

            %ul.nav.navbar-nav.navbar-right
              - if user_signed_in?
                %li= link_to t(:log_out, user: current_user), '/registrant/logout'

    .container
      = render 'shared/flash'
      = yield

    %footer.footer
      .container
        .row
          .col-md-6
            = image_tag 'eis-logo-et.png'
          .col-md-6.text-right
            Version
            = CURRENT_COMMIT_HASH
    = javascript_include_tag 'registrant-manifest', async: true
