= render 'shared/title', name: t(:domains)

.row
  .col-md-12
    = search_form_for [:registrant, @q], html: { style: 'margin-bottom: 0;', class: 'js-form', autocomplete: 'off' } do |f|
      .row
        .col-md-3
          .form-group
            = f.label :name
            = f.search_field :name_matches, value: params[:q][:name_matches], class: 'form-control', placeholder: t(:name)
        .col-md-3
          .form-group
            = f.label t(:registrant_ident)
            = f.search_field :registrant_ident_eq, class: 'form-control', placeholder: t(:registrant_ident)
      .row
        .col-md-3
          .form-group
            = f.label t(:valid_to_from)
            = f.search_field :valid_to_gteq, value: params[:q][:valid_to_gteq], class: 'form-control datepicker', placeholder: t(:valid_to_from)
        .col-md-3
          .form-group
            = f.label t(:valid_to_until)
            = f.search_field :valid_to_lteq, value: params[:q][:valid_to_lteq], class: 'form-control datepicker', placeholder: t(:valid_to_until)
        .col-md-3
          .form-group
            = label_tag t(:results_per_page)
            = text_field_tag :results_per_page, params[:results_per_page], class: 'form-control', placeholder: t(:results_per_page)
        .col-md-3{style: 'padding-top: 25px;'}
          %button.btn.btn-primary
            &nbsp;
            %span.glyphicon.glyphicon-search
            &nbsp;
          %button.btn.btn-default.js-reset-form
            = t(:clear_fields)
      .row
        .col-md-3
          .btn-group{:role => "group"}
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Download
              %span.caret
            %ul.dropdown-menu
              %li= link_to 'PDF', download_list_registrant_domains_path(q: params[:q], format: "pdf")
              %li= link_to 'CSV', download_list_registrant_domains_path(q: params[:q], format: "csv")
        .col-md-3
        .col-md-3
        .col-md-3



%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'name')
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'registrant_name', t('.registrant'))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'valid_to', t(:valid_to))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'registrar_name', t(:registrar_name))
        %tbody
          - @domains.each do |x|
            %tr
              %td= link_to(x, registrant_domain_path(x))
              %td= link_to(x.registrant.name, registrant_contact_path(x.registrant)) if x.registrant
              %td= l(x.valid_to, format: :short)
              %td= link_to(x.registrar, registrant_registrar_path(x.registrar)) if x.registrar

            .row
  .col-md-6
    = paginate @domains
  .col-md-6.text-right
    .pagination
      = t(:result_count, count: @domains.total_count)

:coffee
  $(".js-reset-form").on "click", (e) ->
    e.preventDefault();
    window.location = "#{registrant_domains_path}"

