<%= render 'shared/title', name: @domain.name %>

<div class="row">
    <div class="col-md-6">
        <%= render 'registrant/domains/partials/general' %>
    </div>
    <div class="col-md-6">
        <%= render 'registrant/domains/partials/owner' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'registrant/domains/partials/tech_contacts' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'registrant/domains/partials/admin_contacts' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'registrant/domains/partials/statuses' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'registrant/domains/partials/nameservers' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'registrant/domains/partials/dnskeys' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'registrant/domains/partials/keyrelays' %>
    </div>
</div>
