<ol class="breadcrumb">
    <li><%= link_to t('registrant.domains.index.header'), registrant_domains_path %></li>
</ol>

<div class="page-header">
    <h1><%= @domain %></h1>
</div>

<div class="row">
    <div class="col-md-6">
        <%= render 'registrant/domains/partials/general' %>
    </div>

    <div class="col-md-6">
        <%= render partial: 'registrant/domains/partials/registrant',
                   locals: { registrant: @domain.registrant, domain: @domain } %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'registrant/domains/partials/contacts',
                   header: t('.tech_contacts'),
                   domain: @domain,
                   contacts: @domain.tech_contacts,
                   errors: @domain.errors.messages[:tech_contacts] %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'registrant/domains/partials/contacts',
                   header: t('.admin_contacts'),
                   domain: @domain,
                   contacts: @domain.admin_contacts,
                   errors: @domain.errors.messages[:admin_contacts] %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'registrant/domains/partials/statuses' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'registrant/domains/partials/nameservers' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'registrant/domains/partials/dnskeys' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'registrant/domains/partials/keyrelays' %>
    </div>
</div>
