= render 'shared/title', name: @domain.name

.row
  .col-md-6= render 'registrant/domains/partials/general'
  .col-md-6= render 'registrant/domains/partials/owner'
.row
  .col-md-12= render 'registrant/domains/partials/tech_contacts'
.row
  .col-md-12= render 'registrant/domains/partials/admin_contacts'
.row
  .col-md-12= render 'registrant/domains/partials/statuses'
.row
  .col-md-12= render 'registrant/domains/partials/nameservers'
.row
  .col-md-12= render 'registrant/domains/partials/dnskeys'
.row
  .col-md-12= render 'registrant/domains/partials/keyrelays'
