.navbar-collapse.collapse
  %ul.nav.navbar-nav.public-nav
    - if can? :view, Depp::Domain
      - active_class = %w(registrar/domains registrar/check registrar/renew registrar/tranfer registrar/keyrelays).include?(params[:controller]) ? 'active' :nil
      %li{class: active_class}= link_to t(:domains), registrar_domains_path

    - if can? :view, Depp::Contact
      - active_class = ['registrar/contacts'].include?(params[:controller]) ? 'active' :nil
      %li{class: active_class}= link_to t(:contacts), registrar_contacts_path

    - if can? :show, Invoice
      - active_class = ['registrar/invoices'].include?(params[:controller]) ? 'active' :nil
      %li{class: active_class}= link_to t(:billing), registrar_invoices_path

    - if !Rails.env.production? && can?(:manage, :xml_console)
      - active_class = ['registrar/xml_consoles'].include?(params[:controller]) ? 'active' :nil
      %li{class: active_class}= link_to t(:xml_console), registrar_xml_console_path

  %div.navbar-text.navbar-right
    = render 'current_user'
