<p>Lugupeetud domeeni <%= @domain.name %> registreerija/halduskontakt</p>

<p>Eesti Interneti Sihtasutusele (EIS) on saanud teatavaks, et füüsiline isik isikukoodiga <%= @registrant.id_code %> on surnud ja sellest on möödunud vähemalt 6 kuud.</p>

<p>Kuna surnud isik ei saa olla domeeni registreerijaks, algas domeeni <%= @domain.name %> suhtes <%= @redemption_grace_period %> päevane kustutusmenetlus. Menetluse käigus on domeen internetis kättesaadav. </p>

<p>Domeeni suhtes õigust omaval isikul on võimalus esitada domeeni <%= @domain.name %> registripidajale <%= @registrar.name %> domeeni üleandmise taotlus, millele tuleb lisada pärimisõiguse tõend. Dokumentatsioon tuleb esitada registripidajale <%= @redemption_grace_period %> päeva jooksul.</p>

<p>Kui üleandmine ei ole <%= @redemption_grace_period %> päeva jooksul toimunud, kustub domeen <%= @domain.name %> 24 tunni jooksul <%= @domain.force_delete_date %> süsteemi poolt juhuslikult valitud ajahetkel. Soovi korral on võimalik domeen pärast selle kustumist “kes ees, see mees” põhimõttel uuesti registreerida.</p>

<p>Lisaküsimuste korral võtke palun ühendust oma registripidajaga:</p>
<%= render 'mailers/shared/registrar/registrar.et.html', registrar: @registrar %>

Lugupidamisega
Eesti Interneti Sihtasutus
---------------------------------------------------
<p>Dear registrant/administrative contact of .ee domain,</p>

<p>Estonian Internet Foundation (EIF) has learned that the natural person <%= @registrant.name %> with identification code <%= @registrant.id_code %> has been deceased more than 6 months.</p>

<p>The registrant holding a right to the domain name <%= @domain.name %> can submit a domain name transfer application to the registrar <%= @registrar.name %>.The application must be submitted together with succession evidence certifying the acquisition of the domain. The relevant documents should be submitted to the registrar within <%= @redemption_grace_period %> days.</p>

<p>As a deceased natural person can not be the registrant of a domain, a <%= @redemption_grace_period %>-day deletion process of <%= @domain.name %> domain has started on <%= l(@force_delete_set_date, format: :date) %>.  The domain will remain available on the Internet during the deletion process.</p>

<p>If the transfer has not been made in <%= @redemption_grace_period %> day(s), the domain <%= @domain.name %> will be deleted at a randomly chosen moment within 24 hours on <%= @domain.force_delete_date %>. After deletion it is possible to register the domain on a "first come, first served" basis.</p>

<p>Should you have additional questions, please contact your registrar:</p>
<%= render 'mailers/shared/registrar/registrar.en.html', registrar: @registrar %>

Best Regards,
Estonian Internet Foundation
---------------------------------------------------
<p>Уважаемый регистрант/административный контакт домена .ee</p>

<p>Целевому учреждению Eesti Internet (EIS) стало известно, что физическое лицо с личным кодом <%= @registrant.id_code %> умерло, и с момента смерти прошло не менее 6 месяцев.</p>

<p>Поскольку умершее лицо не может являться регистрантом домена, начат <%= @redemption_grace_period %>-дневный процесс удаления домена <%= @domain.name %>. До завершения процесса домен доступен в Интернете.</p>

<p>Лицо, обладающее правом на домен, может подать регистратору <%= @registrar.name %> домена <%= @domain.name %> ходатайство о передаче, представив справку о праве наследования. Документы должны быть представлены регистратору в течение <%= @redemption_grace_period %> дней.</p>

<p>Если передача домена в течение <%= @redemption_grace_period %> дней не состоялась, домен  <%= @domain.name %> <%= @domain.force_delete_date %> удаляется в течение 24 часов в произвольно выбранный системой момент времени. При желании домен можно вновь зарегистрировать после удаления из регистра по принципу "первым пришел ‒ первым обслужен".</p>

<p>В случае возникновения дополнительных вопросов свяжитесь, пожалуйста, со своим регистратором:</p>
<%= render 'mailers/shared/registrar/registrar.ru.html', registrar: @registrar %>

С уважением,
Eesti Interneti Sihtasutus
