<p>Lugupeetud domeeni <%= @domain.name %> registreerija/halduskontakt</p>

<p>Eesti Interneti Sihtasutusele (EIS) on saanud teatavaks, et juriidiline isik registrikoodiga <%= @registrant.reg_no %> on äriregistrist kustutatud.</p>

<p>Kuna äriregistrist kustutatud juriidiline isik ei saa olla domeeni registreerijaks, algas domeeni <%= @domain.name %> suhtes <%= @redemption_grace_period %> päevane kustutusmenetlus. Menetluse käigus on domeen internetis kättesaadav.</p>

<p>Domeeni suhtes õigust omaval isikul on võimalus esitada domeeni <%= @domain.name %> registripidajale <%= @registrar.name %> domeeni üleandmise taotlus koos tõendava dokumendiga.</p>

<p>Kui üleandmine ei ole <%= @redemption_grace_period %> päeva jooksul toimunud, kustub domeen <%= @domain.name %> <%= @domain.force_delete_date %> 24 tunni jooksul süsteemi poolt juhuslikult valitud ajahetkel. Soovi korral on võimalik domeen pärast selle kustumist registrist “kes ees, see mees” põhimõttel uuesti registreerida.</p>

<p>Lisaküsimuste korral võtke palun ühendust oma registripidajaga:</p>
<%= render 'mailers/shared/registrar/registrar.et.html', registrar: @registrar %>

Lugupidamisega
Eesti Interneti Sihtasutus
---------------------------------------------------
<p>Dear registrant/administrative contact of .ee domain,</p>

<p>Estonian Internet Foundation (EIS) has learned that the legal person with registry code <%= @registrant.reg_no %> has been deleted from the Business Registry.</p>

<p>As a terminated legal person cannot be the registrant of a domain, a <%= @redemption_grace_period %>-day deletion process has started on <%= l(@force_delete_set_date, format: :date) %> for the <%= @domain.name %> domain. The domain will remain available on the Internet during the deletion process.</p>

<p>The registrant holding a right to the domain name <%= @domain.name %> can submit a domain name transfer application to the registrar <%= @registrar.name %>.</p>

<p>If the transfer has not been made in <%= @redemption_grace_period %> days, the domain <%= @domain.name %> will be deleted at a randomly chosen moment within 24 hours on <%= @domain.force_delete_date %>. After deletion it is possible to register the domain on a "first come, first served" basis.</p>

<p>Should you have additional questions, please contact your registrar:</p>
<%= render 'mailers/shared/registrar/registrar.en.html', registrar: @registrar %>

Best Regards,
Estonian Internet Foundation
---------------------------------------------------
<p>Уважаемый регистрант/административный контакт домена .ee</p>

<p>Целевому учреждению Eesti Internet (EIS) стало известно, что юридическое лицо с регистрационным кодом <%= @registrant.reg_no %> удалено из коммерческого реестра.</p>

<p>Поскольку удаленное из коммерческого регистра юридическое лицо не может являться регистрантом домена, <%= l(@force_delete_set_date, format: :date) %> начат <%= @redemption_grace_period %>-дневный процесс удаления домена <%= @domain.name %>. До завершения процесса домен доступен в Интернете.</p>

<p>Лицо, обладающее правом на домен, может подать регистратору <%= @registrar.name %> домена <%= @domain.name %> ходатайство о передаче домена, представив вместе с ходатайством подтверждающие документы. Документы должны быть представлены регистратору в течение <%= @redemption_grace_period %> дней.</p>

<p>Если передача домена в течение <%= @redemption_grace_period %> дней не состоялась, домен  <%= @domain.name %> <%= @domain.force_delete_date %> удаляется в течение 24 часов в произвольно выбранный системой момент времени. При желании домен можно вновь зарегистрировать после удаления из регистра по принципу "первым пришел ‒ первым обслужен".</p>

<p>В случае возникновения дополнительных вопросов свяжитесь, пожалуйста, со своим регистратором:</p>
<%= render 'mailers/shared/registrar/registrar.ru.html', registrar: @registrar %>

С уважением,
Eesti Interneti Sihtasutus
