<h1><%= t '.header' %></h1>
<%= render 'search_form', search: @search %>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="col-xs-2"><%= sort_link(@q, 'ID', t('.')) %></th>
                    <th class="col-xs-2"><%= sort_link(@q, 'Balance') %></th>
                    <th class="col-xs-2"><%= sort_link(@q, 'Currency') %></th>
                    <th class="col-xs-2"><%= sort_link(@q, 'registrar_name', Registrar.model_name.human) %></th>
                    <th class="col-xs-2">
                        <%= t(:actions) %>
                    </th>
                </tr>
                </thead>

                <tbody>
                <%= render @accounts %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-6">
        <%= paginate @accounts %>
    </div>
    <div class="col-md-6 text-right">
        <div class="pagination">
            <%= t(:result_count, count: @q.result.count) %>
        </div>
    </div>
</div>
