#domain_contacts
  = f.fields_for :domain_contacts do |contact_fields|
    .panel.panel-default
      .panel-heading.text-right
        = link_to(t('shared.add_another'), '#', class: 'btn btn-primary btn-xs add-domain-contact')
        = link_to(t('shared.delete'), '#', class: 'btn btn-danger btn-xs destroy')
      .panel-body
        .errors
          = render 'admin/shared/errors', object: contact_fields.object
        .row
          .col-md-6
            .form-group
              = contact_fields.label :contact_type
              = contact_fields.select :contact_type, options_for_select(DomainContact::TYPES, contact_fields.object.contact_type), {}, {class: 'form-control'}
          .col-md-6
            .form-group.has-feedback.js-typeahead-container
              = contact_fields.label :typeahead_value
              = contact_fields.text_field(:typeahead_value, class: 'form-control js-contact-typeahead', placeholder: t('shared.contact_code'), autocomplete: 'off')
              %span.glyphicon.glyphicon-ok.form-control-feedback.js-typeahead-ok.hidden
              %span.glyphicon.glyphicon-remove.form-control-feedback.js-typeahead-remove
              = contact_fields.hidden_field(:contact_id, class: 'js-contact-id')
:javascript
  $("#domain_contacts").nestedAttributes({
    bindAddTo: $(".add-domain-contact"),
    afterAdd: function(item) {
      item.find('.errors').html('');
      item.find('.js-contact-id').val('')
      Autocomplete.bindContactSearch();
    }
  });
