#domain_statuses
  = f.fields_for :domain_statuses do |status_fields|
    .panel.panel-default
      .panel-heading.clearfix
        .pull-left= t('shared.status')
        .pull-right
          = link_to(t('shared.add_another'), '#', class: 'btn btn-primary btn-xs add-domain-status')
          = link_to(t('shared.delete'), '#', class: 'btn btn-danger btn-xs destroy')
      .panel-body
        .errors
          = render 'admin/shared/errors', object: status_fields.object
          - if status_fields.object.errors.any?
            %hr
        .row
          .col-md-6
            .form-group
              = status_fields.label :value
              = status_fields.select :value, options_for_select(DomainStatus::STATUSES, status_fields.object.value), {include_blank: true}, {class: 'form-control'}
          .col-md-6
            .form-group
              = status_fields.label :description
              = status_fields.text_field :description, class: 'form-control', autocomplete: 'off'
:javascript
  $("#domain_statuses").nestedAttributes({
    bindAddTo: $(".add-domain-status"),
    afterAdd: function(item) {
      item.find('.errors').html('');
    }
  });
