<div class="panel panel-default">
    <div class="panel-heading">
        <%= t '.header' %>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt><%= Registrar.human_attribute_name :country %></dt>
            <dd><%= @registrar.country %></dd>

            <dt><%= Registrar.human_attribute_name :address %></dt>
            <dd><%= @registrar.address %></dd>

            <dt><%= Registrar.human_attribute_name :phone %></dt>
            <dd><%= @registrar.phone %></dd>

            <dt><%= Registrar.human_attribute_name :email %></dt>
            <dd><%= @registrar.email %></dd>
        </dl>
    </div>
</div>