.form-signin.text-center
  %h2.form-signin-heading.text-center= t('log_in')
  %hr
    = link_to '/registrar/login/mid' do
      = image_tag 'mid.gif'
    = link_to '/registrar/login/id' do
      = image_tag 'id_card.gif'
