<div class="row">
    <div class="form-signin col-md-6 center-block text-center">
        <h1 class="form-signin-heading text-center"><%= t '.header_html' %></h1>

        <hr>

        <%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
            <%= f.text_field :username, placeholder: ApiUser.human_attribute_name(:username),
                             autofocus: true,
                             required: true,
                             class: 'form-control' %>
            <%= f.password_field :password,
                                 placeholder: ApiUser.human_attribute_name(:password),
                                 required: true,
                                 class: 'form-control' %>

            <%= f.submit t('.submit_btn'), class: 'btn btn-lg btn-primary btn-block' %>
        <% end %>

        <hr>

        <div id="tara-sign-in" class="login-block ui segment">
            <h3><%= t('.sign_in_with_identity_document') %></h3>
            <p><%= t('.identity_document_text')%></p>
            <%= link_to t(:sign_in), "/auth/tara", method: :post, class: 'btn btn-lg btn-primary btn-block' %>
        </div>
    </div>
</div>
