- if params[:confirmed].present?
  .row
    .col-md-12
      %h1= t(:domain_registrant_change_confirmed_title)
  .row
    .col-md-12
      %p=  t(:domain_registrant_change_confirmed_body)
- elsif params[:rejected].present?
  .row
    .col-md-12
      %h1= t(:domain_registrant_change_rejected_title)
  .row
    .col-md-12
      %p=  t(:domain_registrant_change_rejected_body)
- else
  - if @domain.present?
    .row
      .col-md-12
        %h1= t(:domain_registrant_change_title)
    .row
      .col-md-12
        %p=  t(:domain_registrant_change_body)

    %hr
    .row
      .col-md-12.text-center.confirmation
        .column-keys
          %p= t(:domain_name) + ':'
          %p= t(:current_registrant) + ':'
          %p= t(:new_pending_registrant) + ':'
        .column-values
          %p= @domain.name
          %p= "#{@domain.registrant.name} (#{@domain.registrant.ident})"
          %p= "#{@domain.pending_registrant.try(:name)} (#{@domain.pending_registrant.try(:ident)})" 
        
    .row
      .col-md-12.text-center
        .confirmation
          = form_for registrant_domain_update_confirm_path(@domain.id), method: :patch do |f|
            = hidden_field_tag :token, params[:token]
            = f.button t(:confirm_domain_registrant_update), name: 'confirmed', class: 'btn btn-primary'
            = f.button t(:reject_domain_registrant_update), name: 'rejected', class: 'btn btn-warning'
    %hr
  - else
    %h1= t(:not_valid_domain_verification_title).html_safe
    %p=  t(:not_valid_domain_verification_body).html_safe
