.row
  .col-sm-6
    %h2.text-center-xs= "#{t(:edit)}: #{@pricelist.name}"

- if @pricelist.persisted? && @pricelist.errors.none?
  %hr
  - active_pricelist = Pricelist.pricelist_for(@pricelist.category, @pricelist.operation_category, @pricelist.duration)
  - if active_pricelist
    = t('active_price_for_this_operation_is', price: "#{active_pricelist.price.amount.to_s} #{active_pricelist.price_currency}")
  - else
    = t('active_price_missing_for_this_operation')

%hr
= render 'form'
