.row
  .col-sm-6
    %h2.text-center-xs= t(:pricelists)
  .col-sm-6
    %h2.text-right.text-center-xs
      = link_to(t(:new), new_admin_pricelist_path, class: 'btn btn-primary')

%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'category', t(:category))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'operation_category', t(:operation))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'duration', t(:duration))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'price', t(:price))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'valid_from', t(:valid_from))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'valid_to', t(:valid_to))
            %th{class: 'col-xs-2'}
              = t(:action)

        %tbody
          - @pricelists.each do |pricelist|
            %tr
              %td= pricelist.category
              %td= pricelist.operation_category
              %td= pricelist.duration
              %td= pricelist.price
              %td= l(pricelist.valid_from, format: :ydate)
              %td= l(pricelist.valid_to, format: :ydate)
              %td= link_to(t(:edit), edit_admin_pricelist_path(pricelist), class: 'btn btn-xs btn-primary')

.row
  .col-md-12
    = paginate @pricelists
