- content_for :actions do
  = link_to(t('back_to_bank_transaction'), [:admin, @bank_transaction], class: 'btn btn-default')
= render 'admin/shared/title', name: "#{t('manual_binding')}"

= form_for([:admin, @bank_transaction], url: {action: :bind}, html: { class: 'form-horizontal' }) do |f|
  = render 'shared/full_errors', object: @bank_transaction

  .row
    .col-md-8
      .form-group
        = f.label :status, class: 'col-md-2 control-label'
        - c = @bank_transaction.binded? ? 'text-success' : 'text-danger'
        .col-md-10.form-control-static{class: c}
          = @bank_transaction.binded? ? t('binded') : t('not_binded')

      .form-group
        = f.label :sum, class: 'col-md-2 control-label'
        .col-md-10.form-control-static
          = "#{@bank_transaction.sum} #{@bank_transaction.currency}"
      .form-group
        = label_tag :invoice_id, t('invoice'), class: 'col-md-2 control-label'
        .col-md-10
          = text_field_tag(:invoice_id, params[:invoice_id], class: 'form-control')
  %hr
  .row
    .col-md-8.text-right
      = button_tag(t('save'), class: 'btn btn-primary')
