.panel.panel-default
  .panel-heading
    %h3.panel-title= t(:general)
  .panel-body
    %dl.dl-horizontal
      %dt= t(:id)
      %dd= @contact.code

      %dt= t(:name)
      %dd= @contact.name

      %dt= t(:password)
      %dd
        = text_field_tag :auth_info, @contact.auth_info, readonly: true, class: 'partially-hidden'

      %br

      %dt= t(:ident)
      %dd= ident_for(@contact)

      %dt= t(:email)
      %dd= @contact.email

      %dt= t(:phone)
      %dd= @contact.phone

      - if @contact.fax
        %dt= t(:fax)
        %dd= @contact.fax

      %br

      %dt= t(:created)
      %dd
        = l(@contact.created_at, format: :short)
        by
        = @contact.name

      %dt= t(:updated)
      %dd
        = l(@contact.updated_at, format: :short)
        by
        = @contact.name

      %dt= t(:registrar_name)
      %dd
        - if @contact.registrar.present?
          = link_to(@contact.registrar, registrant_registrar_path(@contact.registrar))
