.general-tab.panel.panel-default
  .panel-body
    .form-group
      .col-md-3.control-label
        = label_tag :domain_name, t(:name), class: 'required'
      .col-md-7
        - readonly = params[:domain_name] ? true : false
        = text_field_tag('domain[name]', @domain_params[:name],
          class: 'form-control', readonly: readonly, required: true)

    - unless params[:domain_name]
      .form-group
        .col-md-3.control-label
          = label_tag :domain_period, t(:period), class: 'required'
        .col-md-7
          = select_tag 'domain[period]',
            options_for_select(Depp::Domain::PERIODS, @domain_params[:period]), { class: 'form-control' }

    .form-group
      .col-md-3.control-label
        = label_tag :domain_registrant, t(:registrant), class: 'required'
      .col-md-7
        = text_field_tag 'domain[registrant]', @domain_params[:registrant], class: "hidden"
        = text_field_tag 'domain[registrant_helper]', contacts.find_by(code: @domain_params[:registrant]).try(:search_name),
              class: 'form-control',  data: {autocomplete: search_contacts_registrar_domains_path}, required: true

    - if params[:domain_name]
      .form-group
        .col-md-3.control-label
          = label_tag :verified, t(:verified)
        .col-md-7
          = check_box_tag 'domain[verified]', '1', @domain_params[:verified].eql?('1'), onclick: "return (confirm('#{t(:verified_confirm)}') ? true : false);"

    - unless params[:domain_name]
      .form-group
        .col-md-3.control-label
          = label_tag :domain_reserved_pw, t(:reserved_pw)
        .col-md-7
          = text_field_tag('domain[reserved_pw]', @domain_params[:reserved_pw], class: 'form-control')
