<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <%= t '.header' %>
        </h3>
    </div>

    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt><%= ApiUser.human_attribute_name :username %></dt>
            <dd><%= @api_user.username %></dd>

            <dt><%= ApiUser.human_attribute_name :plain_text_password %></dt>
            <dd><%= @api_user.plain_text_password %></dd>

            <dt><%= Registrar.model_name.human %></dt>
            <dd><%= link_to(@api_user.registrar, admin_registrar_path(@api_user.registrar)) %></dd>

            <dt><%= ApiUser.human_attribute_name :roles %></dt>
            <dd><%= @api_user.roles.join(', ') %></dd>

            <dt><%= ApiUser.human_attribute_name :active %></dt>
            <dd><%= @api_user.active %></dd>
        </dl>
    </div>
</div>
