= form_for([:admin, @domain]) do |f|
  = render 'admin/shared/errors', object: @domain
  - unless @domain.parent_valid?
    %hr
  .row
    .col-md-12
      = render 'admin/domains/form_partials/general', f: f
      %hr
      = render 'admin/domains/form_partials/contacts', f: f
      %hr
      = render 'admin/domains/form_partials/statuses', f: f
      %hr
      = render 'admin/domains/form_partials/nameservers', f: f
  .row
    .col-md-12.text-right
      = button_tag(t('shared.save'), class: 'btn btn-primary')
