= form_for([:admin, @domain]) do |f|
  = render 'shared/errors', object: @domain
  - unless @domain.parent_valid?
    %hr
  .row
    .col-md-12
      %ul.nav.nav-tabs{:role => "tablist", id: 'tabs'}
        - li_class = @domain.statuses_tab_valid? ? nil : 'error-tab'
        %li{class: li_class}
          %a{"data-toggle" => "tab", :href => "#statuses-tab", :role => "tab"}= t('shared.statuses')
        / Tab panes
      .tab-content{style:'margin-top: 20px;'}
        #general-tab.tab-pane.active
          = render 'admin/domains/form_partials/statuses', f: f
  .row
    .col-md-12.text-right
      = button_tag(t('shared.save'), class: 'btn btn-primary')

:javascript
  $(function() {
    $('#tabs a:first').tab('show')
  })
