= form_for([:admin, @domain]) do |f|
  - if @domain.errors.any?
    - @domain.errors.each do |attr, err|
      = err
      %br
  - if @domain.errors.any?
    %hr

  .row
    .col-md-12
      / Nav tabs
      %ul.nav.nav-tabs{:role => "tablist", id: 'tabs'}
        %li.active
          %a{"data-toggle" => "tab", :href => "#general-tab", :role => "tab"} general-tab
        %li
          %a{"data-toggle" => "tab", :href => "#nameservers-tab", :role => "tab"} nameservers-tab
        %li
          %a{"data-toggle" => "tab", :href => "#tech-contacts-tab", :role => "tab"} tech-contacts-tab
        %li
          %a{"data-toggle" => "tab", :href => "#admin-contacts", :role => "tab"} admin-contacts-tab
        %li
          %a{"data-toggle" => "tab", :href => "#statuses-tab", :role => "tab"} statuses-tab
      / Tab panes
      .tab-content{style:'margin-top: 20px;'}
        #general-tab.tab-pane.active
          = render 'admin/domains/form_partials/general', f: f
        #nameservers-tab.tab-pane
          = render 'admin/domains/form_partials/nameservers', f: f
        #tech-contacts-tab.tab-pane
          = render 'admin/domains/form_partials/tech_contacts', f: f
        #admin-contacts-tab.tab-pane ...
        #statuses-tab.tab-pane ...
  .row
    .col-md-12.text-right
      = button_tag(t('shared.save'), class: 'btn btn-primary')

:javascript
  $(function () {
    $('#tabs a:first').tab('show')
  })
