- content_for :actions do
  = link_to(t('.add_new_status_btn'), '#', class: 'btn btn-primary js-add-status')
  - if @domain.force_deletable?
    = link_to(t(:set_force_delete), set_force_delete_admin_domain_path(@domain), 
      method: :post, data: { confirm: t(:are_you_sure) }, class: 'btn btn-warning')
  - else
    = link_to(t(:unset_force_delete), unset_force_delete_admin_domain_path(@domain), 
      method: :post, data: { confirm: t(:are_you_sure) }, class: 'btn btn-warning')
  = link_to(t(:back_to_domain), [:admin, @domain], class: 'btn btn-default')

= render 'shared/title', name: "#{t(:edit)}: #{@domain.name}"

= render 'form'
= render 'force_delete_dialog'
