<% domain = DomainPresenter.new(domain: @domain, view: self) %>

<ol class="breadcrumb">
    <li><%= link_to t('admin.domains.index.header'), admin_domains_path %></li>
    <li><%= link_to @domain, admin_domain_path(@domain) %></li>
</ol>

<div class="page-header">
    <div class="row">
        <div class="col-sm-4">
            <h1><%= t '.header', domain: domain.name %></h1>
        </div>

        <div class="col-sm-8 text-right">
            <%= link_to t('.add_new_status_btn'), '#', class: 'btn btn-primary js-add-status' %>
            <%= domain.keep_btn %>
            <%= domain.force_delete_toggle_btn %>
        </div>
    </div>
</div>

<%= render 'form' %>
<%= render 'force_delete_dialog', domain: @domain, templates: force_delete_templates %>