<div class="page-header">
    <h1><%= t '.header' %></h1>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'search_form' %>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="col-xs-2">
                        <%= sort_link(@q, 'name') %>
                    </th>
                    <th class="col-xs-2">
                        <%= sort_link(@q, 'registrant_name', t('.registrant')) %>
                    </th>
                    <th class="col-xs-2">
                        <%= sort_link(@q, 'valid_to', t(:valid_to)) %>
                    </th>
                    <th class="col-xs-2">
                        <%= sort_link(@q, 'registrar_name', t(:registrar_name)) %>
                    </th>
                </tr>
                </thead>
                <tbody>
                <% @domains.each do |x| %>
                    <tr>
                        <td>
                            <%= link_to(x, admin_domain_path(x)) %>
                        </td>
                        <td>
                            <% if x.registrant %>
                                <%= link_to(x.registrant, [:admin, x.registrant]) %>
                            <% end %>
                        </td>
                        <td>
                            <%= l(x.valid_to, format: :short) %>
                        </td>
                        <td>
                            <%= link_to(x.registrar, admin_registrar_path(x.registrar)) if x.registrar %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <%= paginate @domains %>
    </div>
    <div class="col-md-6 text-right">
        <div class="pagination">
            <%= t(:result_count, count: @domains.total_count) %>
        </div>
    </div>
</div>
