.row
  .col-sm-12
    %h2.text-center-xs= t(:domains)
%hr
.row
  .col-md-12
    = search_form_for [:admin, @q], html: { class: 'form-horizontal' } do |f|
      .col-md-11
        .form-group
          = f.search_field :name_cont, class: 'form-control'
      .col-md-1.text-right.text-center-xs
        .form-group
          %button.btn.btn-primary
            &nbsp;
            %span.glyphicon.glyphicon-search
            &nbsp;
%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'name')
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'registrant_name', t(:registrant))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'valid_to', t(:valid_to))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'registrar_name', t(:registrar))
        %tbody
          - @domains.each do |x|
            %tr
              %td= link_to(x, admin_domain_path(x))
              %td= link_to(x.registrant, [:admin, x.registrant])
              %td= l(x.valid_to, format: :short)
              %td= link_to(x.registrar, admin_registrar_path(x.registrar)) if x.registrar
.row
  .col-md-12
    = paginate @domains
