%h2= t('shared.new_domain')
%hr
= form_for([:admin, @domain]) do |f|
  .row
    .col-md-6
      .form-group
        = f.label :name
        = f.text_field(:name, class: 'form-control')
      .form-group
        = f.label :period
        = f.text_field(:period, class: 'form-control')
    .col-md-6
      .form-group.has-feedback
        = f.label :registrar
        = f.text_field(:registrar, class: 'form-control js-typeahead js-registrars-typeahead', placeholder: t('shared.registrar_name'), autocomplete: 'off')
        %span.glyphicon.glyphicon-remove.form-control-feedback.js-registrar-unselected
        %span.glyphicon.glyphicon-ok.form-control-feedback.js-registrar-selected.hidden
        = f.hidden_field(:registrar_id)
      .form-group
        = f.label :owner_contact
        = f.text_field(:owner_contact, class: 'form-control js-contacts-typeahead', placeholder: t('shared.contact_code'), autocomplete: 'off')
  .row
    .col-md-12.text-right
      = button_tag(t('shared.save'), class: 'btn btn-primary')
