.row
  .col-sm-6
    %h2.text-center-xs
      = "#{t('shared.domain_details')}"
  .col-sm-6
    %h2.text-right.text-center-xs
      = link_to(t('shared.edit_statuses'), edit_admin_domain_path(@domain), class: 'btn btn-primary')
      = link_to(t('generate_zonefile'), zonefile_admin_domain_path(@domain), class: 'btn btn-primary')

%hr
.row
  .col-md-6= render 'admin/domains/partials/general'
  .col-md-6= render 'admin/domains/partials/owner'
.row
  .col-md-12= render 'admin/domains/partials/tech_contacts'
.row
  .col-md-12= render 'admin/domains/partials/admin_contacts'
.row
  .col-md-12= render 'admin/domains/partials/statuses'
.row
  .col-md-12= render 'admin/domains/partials/nameservers'
.row
  .col-md-12= render 'admin/domains/partials/dnskeys'
