<% content_for :actions do %>
    <%= link_to(t(:edit_statuses), edit_admin_domain_path(@domain), class: 'btn btn-primary') %>
    <%= link_to(t(:history), admin_domain_domain_versions_path(@domain.id), method: :get,
                class: 'btn btn-primary') %>
<% end %>
<%= render 'shared/title', name: @domain.name %>

<div class="row">
    <div class="col-md-6">
        <%= render 'admin/domains/partials/general' %>
    </div>
    <div class="col-md-6">
        <%= render 'admin/domains/partials/owner' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'admin/domains/partials/tech_contacts' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'admin/domains/partials/admin_contacts' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'admin/domains/partials/statuses' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'admin/domains/partials/nameservers' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'admin/domains/partials/dnskeys' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'admin/domains/partials/keyrelays' %>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'admin/domains/partials/legal_documents', legal_documents:
            @domain.legal_documents %>
    </div>
</div>
