- content_for :actions do
  = link_to(t(:back_to_domain), [:admin, @domain], class: 'btn btn-default')
= render 'shared/title', name: "#{t(:history)}: #{@domain.name}"

.row
  .col-md-12
    .table-responsive{data: {doublescroll: true}}
      %table.table.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-1'}= t('.time')
            %th{class: 'col-xs-2'}= t(:statuses)
            %th{class: 'col-xs-1'}= t(:period)
            %th{class: 'col-xs-2'}= t('.registrant')
            %th{class: 'col-xs-2'}= t('.admin_contact')
            %th{class: 'col-xs-2'}= t('.tech_contact')
            %th{class: 'col-xs-2'}= t(:nameservers)
            %th{class: 'col-xs-2'}= t(:dnskeys)
            %th{class: 'col-xs-2'}= t(:registrar_name)

        %tbody
          -#- if @pending_domain.present?
            %tr.small
              = render 'admin/domains/partials/version',
                domain: @pending_domain, pending_user: @pending_user, statuses_link: true

          -# current version
          -# - if @domain.audit_domains.present?
          -#   %tr.small
          -#     = render 'admin/domains/partials/version',
          -#       domain: @domain, version: @domain.audit_domains.last

          -# all other older versions
          - @domain.audit_domains.not_creates.each do |version|
            - attributes = only_present_fields_audit(version, Domain)
            - domain = Domain.new(attributes)
            - attach_existing_fields_audit(version, domain)
            %tr.small
              = render 'admin/domains/partials/version',
                domain: domain, version: version

:javascript
  window.addEventListener('load', function() {
    $(document).on('click', '.js-pending, .js-event', function(e) {
      return e.preventDefault();
    });

    $(document).on('mousedown', '.js-pending, .js-event', function(e) {
      var target;
      target = $(e.target);
      return target.parents('tr').nextUntil('tr.small', 'tr.' + this.className).toggle();
    });
  });
