.row
  .form-signin.col-md-6.center-block.text-center
    %h2.form-signin-heading.text-center Eesti Interneti SA
    %hr
    .form-signin
      = form_for(@admin_user, url: admin_user_session_path, html: {class: 'form-signin'}) do |f|
        = render 'admin/shared/errors', object: f.object

        - error_class = f.object.errors.any? ? 'has-error' : ''
        %div{class: error_class}
          = f.text_field :username, class: 'form-control', placeholder: t(:username), required: true
          = f.password_field :password, class: 'form-control', 
            autocomplete: 'off', placeholder: t(:password), required: true
        %button.btn.btn-lg.btn-primary.btn-block{:type => 'submit'}= t(:log_in)

