!!!
%html{lang: I18n.locale.to_s}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "Full stack top-level domain (TLD) management.", name: "description"}/
    %meta{content: "Gitlab LTD", name: "author"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'registrar-manifest', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    %title EIS Registrar Portal
  %body
    / Fixed navbar
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to main_app.registrar_root_path, class: 'navbar-brand' do
            EIS Registrar
            - if unstable_env.present?
              .text-center
                %small{style: 'color: #0074B3;'}= unstable_env
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.public-nav
            - active_class = %w(depp/domains depp/check depp/renew depp/tranfer depp/keyrelays).include?(params[:controller]) ? 'active' :nil
            %li{class: active_class}= link_to t(:domains), depp.domains_path

            - active_class = ['depp/contacts'].include?(params[:controller]) ? 'active' :nil
            %li{class: active_class}= link_to t(:contacts), depp.contacts_path

            - if can? :show, Invoice
              - active_class = ['registrar/invoices'].include?(params[:controller]) ? 'active' :nil
              %li{class: active_class}= link_to t('accounting'), main_app.registrar_invoices_path

            - active_class = ['depp/xml_consoles'].include?(params[:controller]) ? 'active' :nil
            %li{class: active_class}= link_to t(:xml_console), depp.xml_console_path

          %ul.nav.navbar-nav.navbar-right
            %li= link_to t('log_out', user: current_user), '/registrar/logout'
        / /.nav-collapse
    / Begin page content
    .container
      - if params[:controller].start_with?('depp/')
        = render 'depp/shared/flash'
        = render 'depp/shared/epp_results'
      - else
        - display = (flash.empty?) ? 'none' : 'block'
        #flash{style: "display: #{display};"}
          - type = (flash[:notice]) ? 'bg-success' : 'bg-danger'
          .alert{class: type}= flash[:notice] || flash[:alert]
      = yield
    %footer.footer
      .container
        %row
          .col-md-6
            = image_tag 'eis-logo-et.png'
          .col-md-6.text-right
            Version
            = CURRENT_COMMIT_HASH
