!!! 5
%html{lang: I18n.locale.to_s}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "Full stack top-level domain (TLD) management.", name: "description"}/
    %meta{content: "Gitlab LTD", name: "author"}/
    - if content_for? :head_title
      = yield :head_title
    - else
      %title= t(:registrar_head_title)
    = csrf_meta_tags
    = stylesheet_link_tag 'registrar-manifest', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'registrar-manifest', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
  %body
    / Fixed navbar
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to main_app.registrar_root_path, class: 'navbar-brand' do
            = t(:registrar_head_title)
            - if unstable_env.present?
              .text-center
                %small{style: 'color: #0074B3;'}= unstable_env
        - if current_user
          .navbar-collapse.collapse
            %ul.nav.navbar-nav.public-nav
              - if can? :view, Depp::Domain
                - active_class = %w(registrar/domains registrar/check registrar/renew registrar/tranfer registrar/keyrelays).include?(params[:controller]) ? 'active' :nil
                %li{class: active_class}= link_to t(:domains), registrar_domains_path

              - if can? :view, Depp::Contact
                - active_class = ['registrar/contacts'].include?(params[:controller]) ? 'active' :nil
                %li{class: active_class}= link_to t(:contacts), registrar_contacts_path

              - if can? :show, Invoice
                - active_class = ['registrar/invoices'].include?(params[:controller]) ? 'active' :nil
                %li{class: active_class}= link_to t(:billing), registrar_invoices_path

              - if !Rails.env.production? && can?(:manage, :xml_console)
                - active_class = ['registrar/xml_consoles'].include?(params[:controller]) ? 'active' :nil
                %li{class: active_class}= link_to t(:xml_console), registrar_xml_console_path

            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  = "#{current_user} (#{current_user.roles.first}) - #{current_user.registrar}"
                  %span.caret
                %ul.dropdown-menu{role: "menu"}
                  - ApiUser.all_by_identity_code(current_user.identity_code).each do |x|
                    %li= link_to "#{x} (#{x.roles.first}) - #{x.registrar}", "/registrar/switch_user/#{x.id}"
                  - if user_signed_in?
                    %li= link_to t(:log_out_), '/registrar/logout'

    .container
      = render 'shared/flash'
      - if depp_controller?
        = render 'registrar/shared/epp_results'
      = yield

    %footer.footer
      .container
        %row
          .col-md-6
            = image_tag 'eis-logo-et.png'
          .col-md-6.text-right
            Version
            = CURRENT_COMMIT_HASH
