<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
    <meta charset="utf-8">
    <% if content_for? :head_title %>
        <%= yield :head_title %>
    <% else %>
        <title>
            <%= t(:registrar_head_title) %>
        </title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'registrar-manifest', media: 'all' %>
    <%= javascript_include_tag 'registrar-manifest' %>
</head>
<body class="<%= body_css_class %>">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <%= link_to new_registrar_user_session_path, class: 'navbar-brand' do %>
                    <%= t(:registrar_head_title) %>
                    <% if unstable_env.present? %>
                        <div class="text-center">
                            <small style="color: #0074B3;">
                                <%= unstable_env %>
                            </small>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </nav>

    <div class="container">
        <%= render 'flash_messages' %>
        <%= yield %>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <%= image_tag 'eis-logo-et.png' %>
                </div>
                <div class="col-md-6 text-right">
                    Version
                    <%= link_to(CURRENT_COMMIT_HASH, "#{CURRENT_COMMIT_REPO}/commits/#{CURRENT_COMMIT_HASH}", style: 'color:#FFFFFF;') %>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
