!!! 5
%html{lang: I18n.locale.to_s}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    - if content_for? :head_title
      = yield :head_title
    - else
      %title= t(:registrar_head_title)
    = csrf_meta_tags
    = stylesheet_link_tag 'registrar-manifest', media: 'all'
    = javascript_include_tag 'registrar-manifest'
    = favicon_link_tag 'favicon.ico'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to registrar_root_path, class: 'navbar-brand', id: 'registrar-home-btn' do
            = t(:registrar_head_title)
            - if unstable_env.present?
              .text-center
                %small{style: 'color: #0074B3;'}= unstable_env
        - if current_user
          = render 'navbar'

    .container
      = render 'shared/flash'
      - if depp_controller?
        = render 'registrar/shared/epp_results'
      = yield

    %footer.footer
      .container
        .row
          .col-md-6
            = image_tag 'eis-logo-et.png'
          .col-md-6.text-right
            Version
            = CURRENT_COMMIT_HASH
