- content_for :actions do
  = render 'shared/title', name: t(:registrars)

.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-6'}
              = sort_link(@q, 'name')
            %th{class: 'col-xs-6'}
              = sort_link(@q, 'reg_no', Registrar.human_attribute_name(:reg_no))
        %tbody
          - @registrars.each do |x|
            %tr
              %td= link_to(x, [:registrar, x])
              %td= x.reg_no
.row
  .col-md-12
    = paginate @registrars
