= render 'shared/title', name: @registrar.name

- if @registrar.errors.any?
  - @registrar.errors.each do |attr, err|
    = err
    %br
- if @registrar.errors.any?
  %hr
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t(:general)
      .panel-body
        %dl.dl-horizontal
          %dt= Registrar.human_attribute_name :name
          %dd= @registrar.name

          %dt= Registrar.human_attribute_name :reg_no
          %dd= @registrar.reg_no

          %dt= Registrar.human_attribute_name :vat_no
          %dd= @registrar.vat_no

          %dt= Registrar.human_attribute_name :code
          %dd= @registrar.code

  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t(:contact)
      .panel-body
        %dl.dl-horizontal
          %dt= Registrar.human_attribute_name :country
          %dd= @registrar.country

          %dt= Registrar.human_attribute_name :address
          %dd= @registrar.address

          %dt= Registrar.human_attribute_name :phone
          %dd= @registrar.phone

          %dt= Registrar.human_attribute_name :email
          %dd= @registrar.email
