<tr>
    <td><%= invoice_item.description %></td>
    <td><%= invoice_item.unit %></td>
    <td><%= invoice_item.quantity %></td>
    <td><%= number_to_currency invoice_item.price %></td>
    <td><%= number_to_currency invoice_item.item_sum_without_vat %></td>
</tr>