= form_for([:admin, @domain], html: {class: 'form-horizontal'}) do |f|
  = render 'shared/full_errors', object: @domain

  .row
    .col-md-8
      .panel.panel-default
        .panel-heading.clearfix
          .pull-left= t(:general)
        .panel-body
          .form-group
            .col-md-4.control-label
              = f.label :name
            .col-md-7
              = f.text_field(:name, class: 'form-control', disabled: !f.object.new_record?)
          .form-group
            .col-md-4.control-label
              = f.label :password
            .col-md-7
              = f.text_field(:password, placeholder: t(:optional), class: 'form-control')
              .p.help-block= t('.password_info')
  .row
    .col-md-8.text-right
      = button_tag(t(:save), class: 'btn btn-primary')
