- content_for :actions do
  = link_to('#', class: 'btn btn-default', "data-container": "body", "data-title": t('list_format_is_in_yaml'), "data-content": "domain.ee: authinfopw<br>seconddomain.ee:<br>thirddomain.ee: authinfo3<br><br>#{t('if_auth_info_is_left_empty_it_will_be_auto_generated')}<br>#{t('each_domain_name_must_end_with_colon_sign')}", "data-placement": "left", "data-toggle": "popover", "data-html" => "true") do
    %span.glyphicon.glyphicon-info-sign{"aria-hidden" => "true"}

= render 'shared/title', name: t(:reserved_domains)

= form_tag([:admin, :reserved_domains]) do |f|
  .row
    .col-md-12
      = text_area_tag :reserved_domains, @reserved_domains, class: 'form-control', rows: 30
      %hr
  .row
    .col-md-12.text-right
      %button.btn.btn-warning=t(:save)
