- content_for :actions do
  = link_to(t(:add_deposit), new_registrar_deposit_path, class: 'btn btn-primary')
  = link_to(t(:account_activity), registrar_account_activities_path, class: 'btn btn-default')
= render 'shared/title', name: t(:your_account)

= t(:your_current_account_balance_is,
  balance: currency(current_user.registrar.cash_account.balance),
  currency: current_user.registrar.cash_account.currency)

%h1= t(:invoices)
.row
  .col-md-12
    %hr
    = search_form_for @q, url: [:registrar, :invoices], html: { style: 'margin-bottom: 0;' } do |f|
      .row
        .col-md-3
          .form-group
            = f.label t(:minimum_invoice_no)
            = f.search_field :number_gteq, class: 'form-control', placeholder: t(:minimum_invoice_no), autocomplete: 'off'
        .col-md-3
          .form-group
            = f.label t(:maximum_invoice_no)
            = f.search_field :number_lteq, class: 'form-control', placeholder: t(:maximum_invoice_no), autocomplete: 'off'
        .col-md-3
          .form-group
            = f.label t(:due_date_from)
            = f.search_field :due_date_gteq, value: params[:q][:due_date_gteq], class: 'form-control datepicker', placeholder: t(:due_date_from)
        .col-md-3
          .form-group
            = f.label t(:due_date_until)
            = f.search_field :due_date_lteq, value: params[:q][:due_date_lteq], class: 'form-control datepicker', placeholder: t(:due_date_until)
      .row
        .col-md-3
          .form-group
            = f.label t(:minimum_total)
            = f.search_field :sum_cache_gteq, class: 'form-control', placeholder: t(:minimum_total), autocomplete: 'off'
        .col-md-3
          .form-group
            = f.label t(:maximum_total)
            = f.search_field :sum_cache_lteq, class: 'form-control', placeholder: t(:maximum_total), autocomplete: 'off'
        .col-md-3{style: 'padding-top: 25px;'}
          %button.btn.btn-default
            &nbsp;
            %span.glyphicon.glyphicon-search
            &nbsp;
          %button.btn.btn-default.js-reset-form
            = t(:clear_fields)
%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-3'}= t(:invoice)
            %th{class: 'col-xs-3'}= t(:receipt_date)
            %th{class: 'col-xs-3'}= t(:due_date)
            %th{class: 'col-xs-3'}= t(:total)
        %tbody
          - @invoices.each do |x|
            %tr
              %td= link_to(x, [:registrar, x])
              - if x.receipt_date
                %td= l(x.receipt_date, format: :date_long)
              - elsif x.cancelled?
                %td.text-grey= t(:cancelled)
              - else
                %td{class: 'text-danger'}= t(:unpaid)

              %td= l(x.due_date, format: :date_long)
              %td= currency(x.sum)
.row
  .col-md-12
    = paginate @invoices

:coffee
  $(".js-reset-form").on "click", (e) ->
    e.preventDefault();
    window.location = "#{registrar_invoices_path}"

