- content_for :actions do
  = link_to(t(:back), :back, class: 'btn btn-default')
= render 'shared/title', name: t(:invoice_no, no: @invoice.id)

.row
  .col-md-6= render 'registrar/invoices/partials/details'
.row
  .col-md-6= render 'registrar/invoices/partials/seller'
  .col-md-6= render 'registrar/invoices/partials/buyer'
.row
  .col-md-12= render 'registrar/invoices/partials/items'
.row.semifooter
  .col-md-12.text-right= render 'registrar/invoices/partials/banklinks'
