.row
  .col-sm-6
    %h1.text-center-xs
      = t('invoice_no', no: @invoice.id)
  .col-sm-6
    %h1.text-right.text-center-xs
      = link_to(t('back_to_billing'), registrar_invoices_path, class: 'btn btn-default')
%hr
.row
  .col-md-6= render 'registrar/invoices/partials/details'
.row
  .col-md-6= render 'registrar/invoices/partials/seller'
  .col-md-6= render 'registrar/invoices/partials/buyer'
.row
  .col-md-12= render 'registrar/invoices/partials/items'
.row.semifooter
  .col-md-12.text-right= render 'registrar/invoices/partials/banklinks'
