- content_for :actions do
  = link_to(t('.download_btn'), download_registrar_invoice_path(@invoice), class: 'btn btn-default')
  = link_to(t('.deliver_btn'), new_registrar_invoice_delivery_path(@invoice), class: 'btn btn-default')
  - if @invoice.cancellable?
    = link_to(t(:cancel), cancel_registrar_invoice_path(@invoice), method: :patch, class: 'btn btn-warning')
  = link_to(t(:back), registrar_invoices_path, class: 'btn btn-default')
= render 'shared/title', name: @invoice.to_s
= render 'shared/full_errors', object: @invoice

.row
  .col-md-6= render 'registrar/invoices/partials/details'
.row
  .col-md-6= render 'registrar/invoices/partials/seller'
  .col-md-6= render 'registrar/invoices/partials/buyer'
.row
  .col-md-12= render 'registrar/invoices/partials/items'

- if @invoice.payable?
  .row.semifooter
    .col-md-6-offset-6.text-right= render 'registrar/invoices/partials/banklinks', locals: { payment_channels: PaymentOrder::PAYMENT_METHODS }
