%h1= t('invoice_no', no: @invoice.id)
%hr
.row
  .col-md-6= render 'registrar/invoices/partials/seller'
  .col-md-6= render 'registrar/invoices/partials/details'
.row
  .col-md-12= render 'registrar/invoices/partials/buyer'
.row
  .col-md-12= render 'registrar/invoices/partials/items'
