= form_for(@contact, html: {class: 'form-horizontal js-contact-form'}) do |f|
  = render 'depp/shared/error_messages', f: f 
  = f.hidden_field :id
  = f.hidden_field :password
  .row
    .col-md-12
      = render 'depp/contacts/form_partials/general', f: f
  .row
    .col-md-12
      = render 'depp/contacts/form_partials/address', f: f
  - if !@contact.persisted? 
    .row
      .col-md-12
        = render 'depp/contacts/form_partials/code', f: f
  .row
    .col-md-12
      = render 'depp/contacts/form_partials/legal_document', f: f

  .row
    .col-md-12.text-right
      - if @contact.persisted?
        = button_tag(t(:save), class: 'btn btn-primary')
      - else
        = button_tag(t(:create), class: 'btn btn-primary')
