- if @contact.persisted?
  = render 'depp/shared/title', name: "#{t(:delete)}: #{@contact.name}"

  = form_for(@contact, class: 'form-horizontal', multipart: true, method: :delete) do |f|
    = render 'depp/shared/error_messages', f: f 
    = f.hidden_field :id
    = f.hidden_field :password

    .row
      .col-md-12
        = render 'depp/contacts/form_partials/legal_document', f: f

    %hr
    .row
      .col-md-12.text-right
        = button_tag t(:delete), class: 'btn btn-danger'
- else
  %h2= "#{t(:delete)}: #{t(:not_found)}"
