<div class="page-header">
    <div class="row">
        <h1><%= t '.header' %></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <%= form_tag registrar_domain_transfers_path, class: 'form-horizontal', multipart: true, autocomplete: 'off' do %>
            <div class="form-group">
                <div class="col-md-3 control-label">
                    <%= label_tag :domain_name, t(:name), class: 'required' %>
                </div>
                <div class="col-md-7">
                    <%= text_field_tag :domain_name, params[:domain_name], class: 'form-control', placeholder: t(:domain_name), autocomplete: 'off', autofocus: true, required: true %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 control-label">
                    <%= label_tag :password, t(:password), class: 'required' %>
                </div>
                <div class="col-md-7">
                    <%= text_field_tag :password, params[:password], class: 'form-control', autocomplete: 'off', required: true %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-3 control-label">
                    <%= label_tag 'legal_document', t(:legal_document) %>
                </div>
                <div class="col-md-7">
                    <%= file_field_tag 'legal_document' %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 text-right">
                    <button class="btn btn-warning" name="request">
                        <%= t(:transfer) %>
                    </button>
                </div>
            </div>
        <% end %>
    </div>
</div>
