= render 'shared/title', name: t(:keyrelays)

.row
  .col-md-12
    = search_form_for [:admin, @q], html: { class: 'form-horizontal' } do |f|
      .col-md-11
        .form-group
          = f.search_field :domain_name_cont, class: 'form-control', placeholder: t(:domain_name)
      .col-md-1.text-right.text-center-xs
        .form-group
          %button.btn.btn-primary
            &nbsp;
            %span.glyphicon.glyphicon-search
            &nbsp;
%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-4'}
              = sort_link(@q, 'pa_date', t(:uploaded_at))
            %th{class: 'col-xs-3'}
              = t(:expiry)
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'requester_name', t(:requester))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'accepter_name', t(:accepter))
            %th{class: 'col-xs-1'}
              = t(:status)
        %tbody
          - @keyrelays.each do |x|
            %tr
              %td= link_to(x.pa_date, [:admin, x])
              %td= x.expiry
              %td= link_to(x.requester, [:admin, x.requester])
              %td= link_to(x.accepter, [:admin, x.accepter])
              %td= x.status
.row
  .col-md-12
    = paginate @keyrelays
