= render 'shared/title', name: t(:keyrelay_details)

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t(:keyrelay)
      .panel-body{style: 'word-wrap: break-word;'}
        %dl.dl-horizontal
          %dt= t(:uploaded_at)
          %dd= @keyrelay.pa_date

          %dt= t(:domain)
          %dd= link_to(@keyrelay.domain, [:admin, @keyrelay.domain])

          %dt= t(:status)
          %dd= @keyrelay.status

          %dt= t(:flag)
          %dd= @keyrelay.key_data_flags

          %dt= t(:protocol)
          %dd= @keyrelay.key_data_protocol

          %dt= t(:algorithm)
          %dd= @keyrelay.key_data_alg

          %dt= t(:public_key)
          %dd= @keyrelay.key_data_public_key

          %dt= t(:password)
          %dd= @keyrelay.auth_info_pw

          %dt= t(:expiry_relative)
          %dd= @keyrelay.expiry_relative

          %dt= t(:expiry_absolute)
          %dd= @keyrelay.expiry_absolute

          %dt= t(:requester)
          %dd= link_to(@keyrelay.requester, [:admin, @keyrelay.requester])

          %dt= t(:accepter)
          %dd= link_to(@keyrelay.accepter, [:admin, @keyrelay.accepter])

.row
  .col-md-12
    .panel.panel-default
      .panel-heading.clearfix
        = t(:legal_documents)
      .table-responsive
        %table.table.table-hover.table-bordered.table-condensed
          %thead
            %tr
              %th{class: 'col-xs-8'}= t(:created_at)
              %th{class: 'col-xs-4'}= t(:type)
          %tbody
            - @keyrelay.legal_documents.each do |x|
              %tr
                %td= link_to(x.created_at, [:admin, x])
                %td= x.document_type
