<%= search_form_for [:registrar, @q], html: { style: 'margin-bottom: 0;', class: 'js-form', autocomplete: 'off' } do |f| %>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :name %>
                <%= f.search_field :name_matches, value: params[:q][:name_matches], class: 'form-control', placeholder: t(:name) %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= f.label t(:id) %>
                <%= f.search_field :code_eq, class: 'form-control', placeholder: t(:id) %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= f.label t(:ident) %>
                <%= f.search_field :ident_matches, class: 'form-control', placeholder: t(:ident) %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= label_tag t(:ident_type) %>
                <%= select_tag '[q][ident_type_eq]', options_for_select(ident_types, params[:q][:ident_type_eq]), { include_blank: true, placeholder: t(:choose), class: 'form-control selectize' } %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <%= f.label t(:email) %>
                <%= f.search_field :email_matches, class: 'form-control', placeholder: t(:email) %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= label_tag t(:country) %>
                <%= select_tag '[q][country_code_eq]', SortedCountry.all_options(params[:q][:country_code_eq]), { include_blank: true, placeholder: t(:choose), class: 'form-control selectize' } %>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <%= label_tag t(:contact_type) %>
                <%= select_tag '[q][domain_contacts_type_in]', options_for_select([['admin', 'AdminDomainContact'], ['tech', 'TechDomainContact'], ['registrant', 'registrant']], params[:q][:domain_contacts_type_in]), { multiple: true, placeholder: t(:choose), class: 'form-control js-combobox' } %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <%= f.label t(:registrar_name) %>
                <%= f.select :registrar_id_eq, Registrar.all.map { |x| [x, x.id] }, { include_blank: true }, class: 'form-control selectize', placeholder: t(:choose) %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= f.label t(:created_at_from) %>
                <%= f.search_field :created_at_gteq, value: params[:q][:created_at_gteq], class: 'form-control js-datepicker', placeholder: t(:created_at_from) %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= f.label t(:created_at_until) %>
                <%= f.search_field :created_at_lteq, value: params[:q][:created_at_lteq], class: 'form-control js-datepicker', placeholder: t(:created_at_until) %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= f.label t(:updated_at) %>
                <%= f.search_field :updated_at_gteq, value: params[:q][:updated_at_gteq], class: 'form-control js-datepicker', placeholder: t(:updated_at) %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= label_tag t(:status) %>
                <%= select_tag :statuses_contains, options_for_select(Contact::STATUSES, params[:statuses_contains]), { multiple: true, placeholder: t(:choose), class: 'form-control js-combobox' } %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= label_tag t(:results_per_page) %>
                <%= text_field_tag :results_per_page, params[:results_per_page], class: 'form-control', placeholder: t(:results_per_page) %>
            </div>
        </div>

        <div class="col-md-3" style="padding-top: 25px;">
            <button class="btn btn-primary">
                &nbsp;
                <span class="glyphicon glyphicon-search"></span>
                &nbsp;
            </button>
            <%= link_to(t('.reset_btn'), registrar_contacts_path, class: 'btn btn-default') %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="btn-group" role="group">
                <button aria-expanded="false" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                    Download
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <%= link_to 'PDF', download_list_registrar_contacts_path(q: params[:q], format: "pdf") %>
                    </li>
                    <li>
                        <%= link_to 'CSV', download_list_registrar_contacts_path(q: params[:q], format: "csv") %>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
<% end %>
