- if @contact.persisted?
  = render 'shared/title', name: "#{t(:delete)}: #{@contact.name}"

  = form_for(@contact, url: registrar_contact_path(@contact), 
    class: 'form-horizontal', multipart: true, method: :delete) do |f|

    = render 'registrar/shared/error_messages', f: f 
    = f.hidden_field :id
    = f.hidden_field :password

    .row
      .col-md-8
        = render 'registrar/contacts/form/legal_document', f: f

    %hr
    .row
      .col-md-8.text-right
        = button_tag t(:delete), class: 'btn btn-danger'
- else
  %h2= "#{t(:delete)}: #{t(:not_found)}"
