- if @contact.id.present?
  - content_for :actions do
    = link_to(t(:edit), edit_registrar_contact_path(@contact.id), class: 'btn btn-primary')
    = link_to(t(:delete), delete_registrar_contact_path(@contact.id), class: 'btn btn-default')
  = render 'shared/title', name: @contact.name

  .row
    .col-md-6= render 'registrar/contacts/partials/general'
    .col-md-6= render 'registrar/contacts/partials/address' if Contact.address_processing?
  .row
    .col-md-12= render 'registrar/contacts/partials/statuses', statuses: @contact.statuses
  .row
    - if @contact.ident.present?
      .col-md-12= render 'registrar/contacts/partials/domains', contact: Contact.find_by(code: params[:id])

- else 
  .row
    .col-sm-6
      %h1= t(:not_found)
