= form_for([:admin, @registrar], html: {class: 'form-horizontal'}) do |f|
  = render 'shared/full_errors', object: @registrar

  .row
    .col-md-8
      .panel.panel-default
        .panel-heading.clearfix
          .pull-left= t(:general)
        .panel-body
          .form-group
            .col-md-4.control-label
              = f.label :name
            .col-md-7
              = f.text_field(:name, class: 'form-control')
          .form-group
            .col-md-4.control-label
              = f.label :reg_no
            .col-md-7
              = f.text_field(:reg_no, class: 'form-control')
          .form-group
            .col-md-4.control-label
              = f.label :vat_no
            .col-md-7
              = f.text_field(:vat_no, class: 'form-control')
          .form-group
            .col-md-4.control-label
              = f.label :phone
            .col-md-7
              = f.text_field(:phone, class: 'form-control')
          .form-group
            .col-md-4.control-label
              = f.label :website
            .col-md-7
              = f.url_field :website, class: 'form-control'
          .form-group
            .col-md-4.control-label
              = f.label :email
            .col-md-7
              = f.email_field :email, class: 'form-control'
          .form-group
            .col-md-4.control-label
              = f.label :billing_email
            .col-md-7
              = f.email_field :billing_email, class: 'form-control'

          .form-group
            .col-md-4.control-label
              = f.label :accounting_customer_code
            .col-md-7
              = f.text_field :accounting_customer_code, class: 'form-control', required: true

  .row
    .col-md-8
      .panel.panel-default
        .panel-heading.clearfix
          .pull-left= t(:address)
        .panel-body
          .form-group
            .col-md-4.control-label
              = f.label :street
            .col-md-7
              = f.text_field(:street, class: 'form-control')
          .form-group
            .col-md-4.control-label
              = f.label :city
            .col-md-7
              = f.text_field(:city, class: 'form-control')
          .form-group
            .col-md-4.control-label
              = f.label :state
            .col-md-7
              = f.text_field(:state, class: 'form-control')
          .form-group
            .col-md-4.control-label
              = f.label :zip
            .col-md-7
              = f.text_field(:zip, class: 'form-control')
          .form-group
            .col-md-4.control-label
              = f.label :country_code, t(:country)
            .col-md-7
              = f.select(:country_code,
                SortedCountry.all_options(f.object.country_code), {}, class: 'form-control')

  .row
    .col-md-8
      .panel.panel-default
        .panel-heading.clearfix
          .pull-left= t('.misc')
        .panel-body
          .form-group
            .col-md-4.control-label
              = f.label :code
            .col-md-7
              = f.text_field(:code, class: 'form-control', disabled: !f.object.new_record?)
          .form-group
            .col-md-4.control-label
              = f.label :test_registrar
            .col-md-7
              = f.check_box :test_registrar, class: 'form-control'

  %hr
  .row
    .col-md-8.text-right
      = button_tag(t(".#{f.object.new_record? ? 'create' : 'update'}_btn"), class: 'btn btn-success')
