<div class="panel panel-default">
    <div class="panel-heading">
        <%= t '.header' %>
    </div>

    <table class="table table-hover table-bordered table-condensed">
        <thead>
            <tr>
                <th class="col-xs-6"><%= APIUser.human_attribute_name :username %></th>
                <th class="col-xs-6"><%= APIUser.human_attribute_name :active %></th>
            </tr>
        </thead>

        <tbody>
            <% registrar.api_users.each do |user| %>
                <tr>
                    <td><%= link_to(user, [:admin, user]) %></td>
                    <td><%= user.active %></td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <div class="panel-footer text-right">
        <%= link_to t('.new_btn'), new_admin_registrar_api_user_path(registrar),
                    class: 'btn btn-default btn-xs' %>
    </div>
</div>
