<div class="page-header">
    <div class="row">
        <div class="col-sm-8">
            <h1><%= t '.header' %></h1>
        </div>

        <div class="col-sm-4 text-right">
            <%= link_to t('.import_btn'), import_admin_registrars_path, class: 'btn btn-default' %>
            <%= link_to t('.new_btn'), new_admin_registrar_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>

<%= render 'search_form', search: @search %>

<hr/>

<%= form_tag admin_registrars_path(format: :csv), method: :get, class: 'form-horizontal', autocomplete: 'off' do %>
    <% selected_csv_fields = params[:csv_fields].presence || Registrar.csv_sync_default_export_fields.map(&:to_s) %>
    <% csv_fields_open = params[:csv_fields].present? %>
    <% params.fetch(:q, {}).to_unsafe_h.each do |key, value| %>
        <%= hidden_field_tag "q[#{key}]", value %>
    <% end %>
    <%= hidden_field_tag :status, params[:status] if params[:status].present? %>
    <%= hidden_field_tag :results_per_page, params[:results_per_page] if params[:results_per_page].present? %>

    <div class="row">
      <div class="col-md-12">
        <a
           role="button"
           data-toggle="collapse"
           href="#registrar-csv-fields"
           aria-expanded="<%= csv_fields_open %>"
           aria-controls="registrar-csv-fields">
          <%= t('.toggle_csv_fields_btn') %>
        </a>
      </div>
    </div>

    <div id="registrar-csv-fields" class="collapse <%= 'in' if csv_fields_open %>">
      <%= render 'admin/csv_sync/field_checkboxes',
                 fields: Registrar.csv_sync_default_export_fields,
                 selected_fields: selected_csv_fields,
                 model_name: 'registrar',
                 panel_title: t('.csv_fields_label'),
                 input_name: 'csv_fields[]' %>
    </div>

    <%= render 'admin/csv_sync/export_actions',
               export_url: admin_registrars_path(format: :csv, params: params.permit!.to_h.except('controller', 'action', 'format', 'registrar_ids', 'export_selected')),
               reset_url: admin_registrars_path,
               export_selected_param: :export_selected,
               export_label: t('.download_btn') %>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="col-xs-1 text-center">
                        <%= check_box_tag :check_all %>
                    </th>
                    <th class="col-xs-4">
                        <%= sort_link(@q, 'name') %>
                    </th>
                    <th class="col-xs-4">
                        <%= sort_link(@q, 'reg_no', Registrar.human_attribute_name(:reg_no)) %>
                    </th>
                    <th class="col-xs-4">
                        <%= Registrar.human_attribute_name :balance %>
                    </th>
                    <th class="col-xs-4">
                        <%= t(:test_registrar) %>
                    </th>
                    <th class="col-xs-4">
                        <%= t(:emails) %>
                    </th>
                    </th>
                    <th>
                        Accreditation status
                    </th>
                </tr>
                </thead>
                <tbody>
                <% @registrars.each do |x| %>
                    <tr>
                        <td class="text-center">
                            <%= check_box_tag 'registrar_ids[]', x.id, false, id: "registrar_ids_#{x.id}" %>
                        </td>
                        <td>
                            <%= link_to(x, [:admin, x]) %>
                        </td>
                        <td>
                            <%= x.reg_no %>
                        </td>
                        <% if x.cash_account.present? %>
                            <td>
                                <%= link_to "#{x.balance}", edit_admin_account_path(x.cash_account) %>
                            </td>
                        <% end %>
                        <td>
                            <%= "#{x.test_registrar}" %>
                        </td>
                        <td>
                            <%= content_tag(:span, x.email) %>
                            <% if x[:billing_email].present? %>
                                <%= content_tag(:span, x[:billing_email]) %>
                            <% end %>
                        </td>
                        <td>
                            <% if !x.accredited? || x.accreditation_expired? %>
                                <span class="text-danger">Not accredited</span>
                            <% else %>
                                <span class="text-success">Accredited</span>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% end %>
<div class="row">
    <div class="col-md-6">
        <%= paginate @registrars %>
    </div>
    <div class="col-md-6 text-right">
        <div class="pagination">
            <%= t(:result_count, count: @registrars.total_count) %>
        </div>
    </div>
</div>

<script>
(function() {
  const checkAll = document.getElementById('check_all');
  if (!checkAll) return;

  checkAll.addEventListener('click', () => {
    const checkboxes = document.querySelectorAll('[id^="registrar_ids_"]');
    for (let i = 0; i < checkboxes.length; i++) {
      checkboxes[i].checked = checkAll.checked;
    }
  });
})();
</script>
