<div class="page-header">
    <div class="row">
        <div class="col-sm-10">
            <h1><%= t '.header' %></h1>
        </div>

        <div class="col-sm-2 text-right">
            <%= link_to t('.new_btn'), new_admin_registrar_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="col-xs-4">
                        <%= sort_link(@q, 'name') %>
                    </th>
                    <th class="col-xs-4">
                        <%= sort_link(@q, 'reg_no', Registrar.human_attribute_name(:reg_no)) %>
                    </th>
                    <th class="col-xs-4">
                        <%= Registrar.human_attribute_name :balance %>
                    </th>
                    <th class="col-xs-4">
                        <%= t(:test_registrar) %>
                    </th>
                    <th class="col-xs-4">
                        <%= t(:emails) %>
                    </th>
                </tr>
                </thead>
                <tbody>
                <% @registrars.each do |x| %>
                    <tr>
                        <td>
                            <%= link_to(x, [:admin, x]) %>
                        </td>
                        <td>
                            <%= x.reg_no %>
                        </td>
                        <td>
                            <%= "#{x.balance}" %>
                        </td>
                        <td>
                            <%= "#{x.test_registrar}" %>
                        </td>
                        <td>
                            <span class=<%= 'text-danger' unless x.email_verification&.success %>>
                            <%= "#{x.email}" %>
                            </span>
                            <% if x[:billing_email].present? %>
                                <span class=<%= 'text-danger' unless x.billing_email_verification&.success %>>
                                <%= "#{x[:billing_email]}" %>
                                </span>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <%= paginate @registrars %>
    </div>
</div>
