- content_for :actions do
  = link_to(t(:edit), edit_admin_registrar_path(@registrar), class: 'btn btn-primary')
  = link_to(t(:delete), admin_registrar_path(@registrar),
    method: :delete, data: { confirm: t(:are_you_sure) }, class: 'btn btn-danger')
- content_for :page_name do
  = @registrar.name
  - if @registrar.test_registrar?
    %span{style: "color: #c9302c;"} (test)
= render 'shared/title', name: @registrar.name

- if @registrar.errors.any?
  - @registrar.errors.each do |attr, err|
    = err
    %br
- if @registrar.errors.any?
  %hr
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t(:general)
      .panel-body
        %dl.dl-horizontal
          %dt= t(:name)
          %dd= @registrar.name

          %dt= t(:reg_no)
          %dd= @registrar.reg_no

          %dt= t(:vat_no)
          %dd= @registrar.vat_no

          %dt= t(:reference_no)
          %dd= @registrar.reference_no

          %dt= t(:id)
          %dd= @registrar.code

          %dt= t(:credit_balance)
          %dd= @registrar.balance

  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t(:contact)
      .panel-body
        %dl.dl-horizontal
          %dt= t(:country)
          %dd= @registrar.country

          %dt= t(:address)
          %dd= @registrar.address

          %dt= t(:contact_phone)
          %dd= @registrar.phone

          %dt= t(:contact_email)
          %dd= @registrar.email

          %dt= t(:billing_address)
          %dd= @registrar.billing_address

          %dt= t(:billing_email)
          %dd= @registrar.billing_email

.row
  .col-md-12
    #epp-users.panel.panel-default
      .panel-heading.clearfix
        .pull-left
          = t('.api_users')
        .pull-right
          = link_to(t('.new_api_use_btn'), new_admin_registrar_api_user_path(@registrar), class: 'btn btn-default btn-xs')

      .table-responsive
        %table.table.table-hover.table-bordered.table-condensed
          %thead
            %tr
              %th{class: 'col-xs-6'}= t(:username)
              %th{class: 'col-xs-6'}= t('.active')
          %tbody
            - @registrar.api_users.each do |x|
              %tr
                %td= link_to(x, [:admin, x])
                %td= x.active

.row
  .col-md-12
    #epp-users.panel.panel-default
      .panel-heading.clearfix
        .pull-left
          = t(:white_ips)
        .pull-right
          = link_to(t(:create_new_white_ip), new_admin_registrar_white_ip_path(@registrar), class: 'btn btn-default btn-xs')

      .table-responsive
        %table.table.table-hover.table-bordered.table-condensed
          %thead
            %tr
              %th{class: 'col-xs-4'}= t(:ipv4)
              %th{class: 'col-xs-6'}= t(:ipv6)
              %th{class: 'col-xs-2'}= t(:interfaces)
          %tbody
            - @registrar.white_ips.each do |x|
              %tr
                %td
                  - if x.ipv4.present?
                    = link_to(x.ipv4, [:admin, @registrar, x])
                %td
                  - if x.ipv6.present?
                    = link_to(x.ipv6, [:admin, @registrar, x])
                %td= x.interfaces.join(', ').upcase
