#tech_contacts.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title= t(:contacts)
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-4'}= t('type')
          %th{class: 'col-xs-8'}= t('code')
      %tbody
        - @data.css('contact').each do |x|
          %tr
            %td= x['type']
            %td= x.text

