.row
  .col-sm-6
    %h2.text-center-xs= t('bank_statements')
  .col-sm-6
    %h2.text-right.text-center-xs
      = link_to(t('import'), new_admin_bank_statement_path, class: 'btn btn-primary')
%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'created_at', t('imported_at'))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'bank_code')
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'iban', t('iban').upcase)
        %tbody
          - @bank_statements.each do |x|
            %tr
              %td= link_to(l(x.created_at), admin_bank_statement_path(x))
              %td= x.bank_code
              %td= x.iban
.row
  .col-md-12
    = paginate @bank_statements
