- content_for :actions do
  = link_to(t(:back_to_bank_statements), admin_bank_statements_path, class: 'btn btn-default')
= render 'shared/title', name: t(:import_th6_bank_statement)

= form_for([:admin, @bank_statement], multipart: true) do |f|
  = render 'shared/full_errors', object: @bank_statement

  .row
    .col-md-8
      .form-group
        .col-md-4.control-label
          = f.label :th6_file
        .col-md-8
          = f.file_field :th6_file
    .col-md-4
      %p= t(:bank_statement_desc)
  %hr
  .row
    .col-md-8.text-right
      = button_tag(t(:save), class: 'btn btn-primary')
