.row
  .col-md-12
    = search_form_for @q, url: [:admin, :account_activities], html: { style: 'margin-bottom: 0;' } do |f|
      .row
        .col-md-12
          .form-group
            = f.label t(:registrar_name)
            = f.select :account_registrar_id_in, Registrar.all.map { |x| [x, x.id] }, {}, class: 'form-control js-combobox', placeholder: t(:choose), multiple: true
      .row
        .col-md-6
          .form-group
            = f.label t(:activity_type)
            = f.select :activity_type_in, AccountActivity.types_for_select, {}, class: 'form-control js-combobox', placeholder: t(:choose), multiple: true
        .col-md-6
          .form-group
            = f.label t(:description)
            = f.search_field :description_cont, class: 'form-control', placeholder: t(:description), autocomplete: 'off'
      .row
        .col-md-3
          .form-group
            = f.label t(:receipt_date_from)
            = f.search_field :created_at_gteq, value: params[:q][:created_at_gteq], class: 'form-control js-datepicker', placeholder: t(:receipt_date_from)
        .col-md-3
          .form-group
            = f.label t(:receipt_date_until)
            = f.search_field :created_at_lteq, value: params[:q][:created_at_lteq], class: 'form-control js-datepicker', placeholder: t(:receipt_date_until)
        .col-md-3
          .form-group
            = label_tag t(:results_per_page)
            = text_field_tag :results_per_page, params[:results_per_page], class: 'form-control', placeholder: t(:results_per_page)
        .col-md-3{style: 'padding-top: 25px;'}
          %button.btn.btn-default.search
            &nbsp;
            %span.glyphicon.glyphicon-search
            &nbsp;
          = link_to(t('.reset_btn'), admin_account_activities_path, class: 'btn btn-default')
