%h2= t("setting_groups.codes.#{@setting_group.code}")
%hr
= form_for([:admin, @setting_group]) do |f|
  .row
    .col-md-12
      .table-responsive
        %table.table.table-striped.table-bordered.table-condensed
          %tr
            %th{class: 'col-xs-9'}
              = t('shared.setting')
            %th{class: 'col-xs-2'}
              = t('shared.value')
          - @setting_group.settings.order(:code).each do |setting|
            = f.fields_for :settings, setting do |sf|
              %tr
                %td= sf.label :value, t("settings.codes.#{sf.object.code}")
                %td= sf.text_field(:value, autocomplete: 'off')
  .row
    .col-md-12.text-right
      %button.btn.btn-primary=t('shared.save')
