<% dispute = DisputePresenter.new(dispute: dispute, view: self) %>

<tr class="dispute">
    <td><%= dispute.link %></td>
    <td><%= dispute.create_time %></td>
    <td><%= dispute.expire_date %></td>
    <td>
        <%= link_to t('.edit_btn'), edit_admin_dispute_path(dispute), class: 'btn btn-primary btn-xs' %>
        <%= link_to t('.delete_btn'), admin_dispute_path(dispute),
                    method: :delete,
                    data: { confirm: t('.delete_btn_confirm') },
                    class: 'btn btn-danger btn-xs' %>
    </td>
</tr>
