<div class="page-header">
    <div class="row">
        <div class="col-sm-10">
            <h1><%= t '.title' %></h1>
        </div>

        <div class="col-sm-2 text-right">
            <%= link_to t('.new_btn'), new_admin_dispute_path, class: 'btn btn-primary' %>
        </div>
    </div>
</div>

<% if @disputes.present? %>
    <table class="table table-hover table-bordered disputes">
        <thead>
            <tr>
                <th><%= Domain.model_name.human %></th>
                <th><%= Dispute.human_attribute_name :created_at %></th>
                <th><%= Dispute.human_attribute_name :expire_date %></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <%= render @disputes %>
        </tbody>
    </table>
<% else %>
    <div class="alert alert-info"><%= t '.not_found' %></div>
<% end %>
