Tere
<br><br>
Registrisse laekus taotlus domeeni <%= @domain.name %> registreerija vahetuseks. Palun veenduge, et muudatus on korrektne ning probleemide korral pöörduge oma registripidaja poole:

<p>
  <%= @registrar.name %><br>
  Email: <%= @registrar.email %><br>
  Telefon: <%= @registrar.phone %><br>
  Veebileht: <%= @registrar.url %>
</p>

<br><br>
Uue registreerija andmed:<br>
Nimi: <%= @registrant.name %><br>
<% if @registrant.priv? %>
  Isikukood: <%= @registrant.ident %><br>
<% else %>
  Äriregistrikood: <%= @registrant.ident %><br>
<% end %>
Tänav: <%= @registrant.street %><br>
Linn: <%= @registrant.city %><br>
Riik: <%= @params[:registrant_country] %>
<br><br>
Taotlus on aktiivne <%= Setting.expire_pending_confirmation %> tundi ja lükatakse automaatselt tagasi kui te seda enne ei kinnita või tagasi lükka.
<br><br>
Muudatuse kinnitamiseks külastage palun allolevat lehekülge, kontrollige uuesti üle muudatuse andmed ning vajutage nuppu kinnitan:<br>

<%= link_to @verification_url, @verification_url %>
<br><br>
Lugupidamisega<br>
Eesti Interneti Sihtasutus
<br><br>
<hr>
<br><br>
Hi,
<br><br>
Application for changing registrant of your domain <%= @domain.name %> has been filed. Please make sure that the update and information are correct. Incase of problems please turn to your registrar:

<p>
  <%= @registrar.name %><br>
  Email: <%= @registrar.email %><br>
  Phone: <%= @registrar.phone %><br>
  Website: <%= @registrar.url %>
</p>

<br><br>
New registrant:<br>
Name: <%= @registrant.name %><br>
<% if @params[:registrant_priv] %>
Personal code: <%= @registrant.ident %><br>
<% else %>
Business Registry code: <%= @registrant.ident %><br>
<% end %>
Street: <%= @params[:registrant_street] %><br>
City: <%= @params[:registrant_city] %><br>
Country: <%= @params[:registrant_country] %>
<br><br>
The application will remain in pending status for <%= Setting.expire_pending_confirmation %> hrs and will be automaticcally rejected if it is not approved nor rejected before.
<br><br>
To confirm the update please visit this website, once again review the data and press approve:<br>
<%= link_to @verification_url, @verification_url %>
<br><br>
Best Regards,<br>
Estonian Internet Foundation
