.row
  .col-md-12
    = form_with url: run_admin_report_path(@report), html: { style: 'margin-bottom: 0;', autocomplete: 'off' } do |f|
      - if @report.parameters.present?
        #report-parameters
          - parameter_sets = params[:report_parameters].present? ? params[:report_parameters].to_unsafe_h : { "0" => @report.parameters.transform_values { |v| v["default"] } }
          - parameter_sets.each do |set_index, set_values|
            .row.parameter-group
              - @report.parameters.each do |param, props|
                .col-md-6
                  .form-group
                    = label_tag param, param.humanize
                    - if props["type"] == "date"
                      = date_field_tag "report_parameters[#{set_index}][#{param}]", (set_values[param] || props['default']), class: 'form-control'
                    - elsif props["type"] == "string"
                      = text_field_tag "report_parameters[#{set_index}][#{param}]", (set_values[param] || props['default']), class: 'form-control'
        .d-flex.flex-wrap.gap-2
          %button.btn.btn-secondary#add-parameter-group{ type: 'button' } Add Parameters
          %button.btn.btn-danger.remove-parameter-group{ type: 'button', style: "display: #{parameter_sets.size > 1 ? 'inline-block' : 'none'};" }
            %span.glyphicon.glyphicon-trash
      - else
        .alert.alert-info
          This report has no parameters and will run directly.

      %hr
      .row
        .col-md-12
          .d-flex.flex-wrap.gap-2
            %button.btn.btn-primary{ type: 'submit' }
              = t('admin.reports.index.run')
            %button.btn.btn-primary{ type: 'submit', name: 'format', value: 'csv' }
              = t('.csv_btn')

