!!! 5
%html{lang: I18n.locale.to_s}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    - if content_for? :head_title
      = yield :head_title
    - else
      %title= t(:admin_head_title)
    = csrf_meta_tags
    = stylesheet_link_tag 'admin-manifest', media: 'all'
    = favicon_link_tag 'favicon.ico'
  %body{:style => env_style, class: body_css_class}
    .navbar.navbar-inverse.navbar-static-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to admin_root_path, class: 'navbar-brand' do
            = ENV['app_name']
            - if unstable_env.present?
              .text-center
                %small{style: 'color: #0074B3;'}= unstable_env

        = render 'menu'
    .container
      = render 'flash_messages'
      = yield

      .footer.text-right
        Version
        = link_to "#{CURRENT_COMMIT_HASH}", "#{CURRENT_COMMIT_REPO}/commits/#{CURRENT_COMMIT_HASH}", style: 'color:#000000;'
    = javascript_include_tag 'admin-manifest', async: true
