- panel_class = @domain.errors.messages[:admin_contacts] ? 'panel-danger' : 'panel-default'
.panel{class: panel_class}
  .panel-heading.clearfix
    = t('shared.admin_contacts')
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-4'}= t('shared.name')
          %th{class: 'col-xs-4'}= t('shared.code')
          %th{class: 'col-xs-4'}= t('shared.email')
      %tbody
        - @domain.domain_contacts.admin.each do |x|
          %tr
            %td= link_to(x.contact, '#')
            %td= x.contact.code
            %td= x.contact.email
      - if @domain.errors.messages[:admin_contacts]
        %tfoot
          - @domain.errors.messages[:admin_contacts].each do |x|
            %tr
              %td{colspan: 4}= x
