.panel.panel-default
  .panel-heading
    %h3.panel-title= t(:general)
  .panel-body
    %dl.dl-horizontal
      %dt= t(:name)
      %dd= @domain.name

      %dt= t(:registered_at)
      %dd= l(@domain.registered_at)

      %dt= t(:registrar_name)
      %dd= link_to(@domain.registrar, admin_registrar_path(@domain.registrar))

      %dt= t(:authinfo_pw)
      %dd
        = text_field_tag :password, @domain.auth_info, readonly: true, class: 'partially-hidden'

      %dt= t(:valid_from)
      %dd= l(@domain.valid_from)

      %dt= t(:valid_to)
      %dd= l(@domain.valid_to)

      %dt= t('.outzone_time')
      %dd= l(@domain.outzone_at)

      %dt= t('.delete_time')
      %dd= l(@domain.delete_at)

      %dt= t('.force_delete_time')
      %dd= l(@domain.force_delete_at)
