.panel.panel-default
  .panel-heading
    %h3.panel-title= t('shared.general')
  .panel-body
    %dl.dl-horizontal
      %dt= t('shared.name')
      %dd= @domain.name

      %dt= t('shared.registered_at')
      %dd= l(@domain.registered_at)

      %dt= t('shared.registrar')
      %dd= link_to(@domain.registrar, root_path)

      %dt= t('shared.password')
      %dd= @domain.auth_info

      %dt= t('shared.valid_from')
      %dd= l(@domain.valid_from)

      %dt= t('shared.valid_to')
      %dd= l(@domain.valid_to)
