.panel{class: 'panel-default'}
  .panel-heading.clearfix
    = t('keyrelays')
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-4'}= t('uploaded_at')
          %th{class: 'col-xs-3'}= t('expiry')
          %th{class: 'col-xs-2'}= t('requester')
          %th{class: 'col-xs-2'}= t('accepter')
          %th{class: 'col-xs-1'}= t('status')
      %tbody
        - @domain.keyrelays.includes([:requester, :accepter]).order(pa_date: :desc).each do |x|
          %tr
            %td= link_to(x.pa_date, [:admin, x])
            %td= x.expiry
            %td= link_to(x.requester, [:admin, x.requester])
            %td= link_to(x.accepter, [:admin, x.accepter])
            %td= x.status
