.panel.panel-default
  .panel-heading.clearfix
    = t('legal_documents')
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-8'}= t('created_at')
          %th{class: 'col-xs-4'}= t('type')
      %tbody
        - @domain.legal_documents.each do |x|
          %tr
            %td= link_to(x.created_at, [:admin, x])
            %td= x.document_type
