.panel.panel-default
  .panel-heading.clearfix
    = t(:nameservers)
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-4'}= t(:hostname)
          %th{class: 'col-xs-4'}= t(:ipv4)
          %th{class: 'col-xs-4'}= t(:ipv6)
      %tbody
        - @domain.nameservers.each do |x|
          %tr
            %td= x
            %td= x.ipv4
            %td= x.ipv6
