- panel_class = @domain.errors.messages[:nameservers] ? 'panel-danger' : 'panel-default'
#nameservers.panel{class: panel_class}
  .panel-heading.clearfix
    .pull-left
      = t('shared.nameservers')
    .pull-right
      = link_to(t('shared.add'), new_admin_domain_nameserver_path(@domain), class: 'btn btn-primary btn-xs')
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-3'}= t('shared.hostname')
          %th{class: 'col-xs-3'}= t('shared.ipv4')
          %th{class: 'col-xs-3'}= t('shared.ipv6')
          %th{class: 'col-xs-3'}= t('shared.action')
      %tbody
        - @domain.nameservers.each do |x|
          %tr
            %td= x
            %td= x.ipv4
            %td= x.ipv6
            %td
              = link_to(t('shared.edit'), edit_admin_domain_nameserver_path(@domain, x), class: 'btn btn-primary btn-xs')
              = link_to(t('shared.delete'), admin_domain_nameserver_path(@domain, x), method: :delete, data: { confirm: t('shared.are_you_sure') }, class: 'btn btn-danger btn-xs')
      - if @domain.errors.messages[:nameservers]
        %tfoot
          - @domain.errors.messages[:nameservers].each do |x|
            %tr
              %td{colspan: 4}= x

