.panel.panel-default
  .panel-heading
    %h3.panel-title= t('.title')
  .panel-body
    %dl.dl-horizontal
      %dt.left_25= t(:name)
      %dd.left_25= link_to @domain.registrant, admin_contact_path(@domain.registrant)

      %dt.left_25= t(:id)
      %dd.left_25= @domain.registrant.code

      %dt.left_25= t(:identity_code)
      %dd.left_25= @domain.registrant.ident

      %dt.left_25= t(:email)
      %dd.left_25= @domain.registrant.email

      %dt.left_25= t(:phone)
      %dd.left_25= @domain.registrant.phone
