.panel.panel-default
  .panel-heading
    %h3.panel-title= t('owner')
  .panel-body
    %dl.dl-horizontal
      %dt= t('name')
      %dd= link_to(@domain.owner_contact, [:admin, @domain.owner_contact])

      %dt= t('code')
      %dd= @domain.owner_contact_code

      %dt= t('identity_code')
      %dd= @domain.owner_contact_ident

      %dt= t('email')
      %dd= @domain.owner_contact_email

      %dt= t('phone')
      %dd= @domain.owner_contact_phone
