- panel_class = @domain.errors.messages[:domain_statuses] ? 'panel-danger' : 'panel-default'
#domain_statuses.panel{class: panel_class}
  .panel-heading.clearfix
    = t('statuses')
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-6'}= t('status')
          %th{class: 'col-xs-6'}= t('description')
      %tbody
        - @domain.domain_statuses.each do |x|
          %tr
            %td= x.value
            %td= x.description
      - if @domain.errors.messages[:domain_statuses]
        %tfoot
          - @domain.errors.messages[:domain_statuses].each do |x|
            %tr
              %td{colspan: 4}= x
