- panel_class = @domain.errors.messages[:tech_contacts] ? 'panel-danger' : 'panel-default'
#tech_contacts.panel{class: panel_class}
  .panel-heading.clearfix
    = t('tech_contacts')
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-4'}= t('name')
          %th{class: 'col-xs-4'}= t('code')
          %th{class: 'col-xs-4'}= t('email')
      %tbody
        - @domain.domain_contacts.tech.each do |x|
          %tr
            %td= link_to(x.contact, admin_contact_path(x.contact))
            %td= x.contact.code
            %td= x.contact.email
      - if @domain.errors.messages[:tech_contacts]
        %tfoot
          - @domain.errors.messages[:tech_contacts].each do |x|
            %tr
              %td{colspan: 4}= x
