- version ||= false
- domain ||= false

- if version # normal history
  - epp_req = ApiLog::EppLog.find_by(uuid: version.uuid).try(:request) if version.uuid
  - children       = HashWithIndifferentAccess.new(version.prepare_children_history)
  - nameservers    = Nameserver.objects_for(children[:nameservers]&.map(&:id))
  - dnskeys        = Dnskey.objects_for(children[:dnskeys]&.map(&:id))
  - tech_contacts  = Contact.objects_for(children[:tech_contacts]&.map(&:id))
  - admin_contacts = Contact.objects_for(children[:admin_contacts]&.map(&:id))
  - registrant     = Contact.objects_for(children[:registrant]&.map(&:id))
  - event                   = version.action
  - creator                 = plain_username(version.terminator)

  %td
    %p.nowrap
      = l domain.updated_at

    %p.text-right
      - if (event == 'UPDATE' || event == 'CREATE') && epp_req
        = link_to event, '#', class: 'js-event'
      - else
        = event
      %br
        = creator
    - if version
      %p.text-right
        = link_to "Pure history", admin_domain_version_path(version)

  %td{class: changing_css_class_audit(version,"statuses")}
    %p
      - if domain.statuses.present?
        - domain.statuses.each do |s|
          = s
          - if domain.status_notes.present?
            - notes = domain.status_notes[s]
            - if notes
              %br
              %i= notes
            %br
    - if domain.pending_json.present?
      %p
        = link_to t(:pending_epp), '#', class: 'js-pending'

  %td{class: changing_css_class_audit(version, "period", "period_unit", "valid_to")}
    %p
      = "#{domain.period}#{domain.period_unit}"
      %br
      = "#{l(domain.valid_to, format: :date)}"
  %td
    - Array(registrant).each do |r|
      - link = r.version_loader ? admin_contact_version_path(r.version_loader.try(:id)) : admin_contact_path(r.id)
      = link_to link, target: "contact_#{r.id}" do
        %p
          = r[:name]
          = r[:phone]
          = r[:email]
        %p
          = r[:code]

  %td
    - Array(admin_contacts).each do |ac|
      - link = ac.version_loader ? admin_contact_version_path(ac.version_loader.try(:id)) : admin_contact_path(ac.id)
      = link_to link, target: "contact_#{ac.id}" do
        %p
          = ac[:name]
          = ac[:phone]
          = ac[:email]
        %p
          = ac[:code]

  %td
    - Array(tech_contacts).each do |tc|
      - link = tc.version_loader ? admin_contact_version_path(tc.version_loader.try(:id)) : admin_contact_path(tc.id)
      = link_to link, target: "contact_#{tc.id}" do
        %p
          = tc[:name]
          = tc[:phone]
          = tc[:email]
        %p
          = tc[:code]

  %td
    %p
      - Array(nameservers).each do |ns|
        %span{class: changing_css_class_action(ns)}
          = ns[:hostname]
          %br
          = ns[:ipv4].presence
          = ns[:ipv6].presence
          %br
  %td
    - Array(dnskeys).each do |ns|
      %p
        = ns.flags
        = ns.protocol
        = ns.alg
        - if ns.public_key.present?
          \...#{ns.public_key.to_s[-20,20]}

  %td{class: changing_css_class_audit(version,"registrar_id")}
    - if domain.registrar
      %p
        = link_to admin_registrar_path(domain.registrar), target: "registrar_#{domain.registrar.id}" do
          = domain.registrar.name

  - if (event == 'CREATE' || event == 'UPDATE') && epp_req
    %tr.js-event{ style: 'display: none;' }
      %td{colspan: 9}
        %pre
          = Nokogiri::XML(epp_req)

  - if domain.pending_json.present?
    %tr.js-pending{ style: 'display: none;' }
      %td{colspan: 9}
        = preserve do
          %pre
            - formatted_req = Nokogiri::XML(domain.pending_json['frame'])
            - if formatted_req.errors.none?
              = formatted_req
            - else
              = domain.pending_json['frame']


