%html{lang: I18n.locale.to_s}
  %head
    %meta{charset: "utf-8"}
    :css
      .container {
        margin: auto;
        font-size: 12px;
      }

      .col-md-12 {

      }

      .col-md-6 {
        width: 49%;
        display: inline-block;
      }

      .col-xs-4 {
        width: 33%;
      }

      .col-xs-2 {
        width: 16%;
      }

      .col-md-3 {
        width: 24%;
        display: inline-block;
      }

      .left {
        float: left;
      }

      .left {
        padding-right: 5px;
      }

      .right {
        float: right;
      }

      .text-right {
        text-align: right;
      }

      dt {
        float: left;
        width: 100px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        line-height: 1.42857;
      }

      dd {
        margin-left: 120px;
        line-height: 1.42857;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
      }

      th {
        text-align: left;
        border: 0px;
        border-top: 1px solid #DDD;
        padding: 6px;
      }

      thead th {
        border-bottom: 2px solid #DDD;
        border-top: 0px;
      }

      td {
        border-top: 1px solid #DDD;
      }

      td {
        padding: 6px;
      }

      .no-border {
        border: 0px;
      }

      hr {
        height: 1px;
        border: 0;
        color: #DDD;
        background-color: #DDD;
      }

      .clear {
        clear: both;
      }

      .pull-down {
        margin-top: 50px;
      }

      #header {
        position: relative;
        min-height: 100px;
      }

      img {
        width: 106px;
        height: 102px;
      }

      #header-content {
        position: absolute;
        bottom: 0;
      }

      #footer {
        position: absolute;
        bottom: 0px;
        width: 99%;
      }

      h1 {
        margin-bottom: 5px;
      }
  %body
    .container
      #header.row
        .col-sm-6.left
          #header-content
            %h1
              = @invoice
        .col-sm-6.right
          %img{src: "#{Rails.root}/public/eis-logo-black-et.png"}
      .clear
      %hr
      .row
        .col-md-6.left
          %h4
            Details
          %hr
          %dl.dl-horizontal
            %dt= Invoice.human_attribute_name :issue_date
            %dd= l @invoice.issue_date

            - if @invoice.cancelled?
              %dt= Invoice.human_attribute_name :cancelled_at
              %dd= l @invoice.cancelled_at

            %dt= Invoice.human_attribute_name :due_date
            - if @invoice.cancelled?
              %dd= t(:cancelled)
            - else
              %dd= l @invoice.due_date

            %dt= Invoice.human_attribute_name :receipt_date
            - if @invoice.paid?
              %dd= l @invoice.receipt_date
            - elsif @invoice.cancelled?
              %dd= t(:cancelled)
            - else
              %dd{class: 'text-danger'}= t(:unpaid)

            %dt= Invoice::Seller.human_attribute_name :contact_person
            %dd= @invoice.seller.contact_person

            %dt= Invoice.human_attribute_name :payment_term
            %dd Prepayment
          
            %dt= Invoice.human_attribute_name :number
            %dd= @invoice.number

            - if @invoice.description.present?
              %dt= t(:description)
              %dd=@invoice.description
                
            %dt= Invoice.human_attribute_name :reference_no
            %dd= @invoice.reference_no

        .col-md-6.right
          %h4= t('.buyer')
          %hr
          %dl.dl-horizontal
            %dt= Invoice::Buyer.human_attribute_name :name
            %dd= @invoice.buyer.name

            %dt= Invoice::Buyer.human_attribute_name :registration_number
            %dd= @invoice.buyer.registration_number

            %dt= Invoice::Buyer.human_attribute_name :address
            %dd= @invoice.buyer.address

            - if @invoice.buyer.email.present?
              %dt= Invoice::Buyer.human_attribute_name :email
              %dd= @invoice.buyer.email

            - if @invoice.buyer.phone.present?
              %dt= Invoice::Buyer.human_attribute_name :phone
              %dd= @invoice.buyer.phone

            - if @invoice.buyer.website.present?
              %dt= Invoice::Buyer.human_attribute_name :website
              %dd= @invoice.buyer.website

      .clear
      .row.pull-down
        .col-md-12
          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th{class: 'col-xs-4'}= InvoiceItem.human_attribute_name :description
                  %th{class: 'col-xs-2'}= InvoiceItem.human_attribute_name :unit
                  %th{class: 'col-xs-1'}= InvoiceItem.human_attribute_name :quantity
                  %th{class: 'col-xs-3'}= InvoiceItem.human_attribute_name :price
                  %th{class: 'col-xs-2'}= InvoiceItem.human_attribute_name :total
              %tbody
                - @invoice.each do |invoice_item|
                  %tr
                    %td= invoice_item.description
                    %td= invoice_item.unit
                    %td= invoice_item.quantity
                    %td= currency(invoice_item.price)
                    %td= "#{currency(invoice_item.item_sum_without_vat)} #{@invoice.currency}"
              %tfoot
                %tr
                  %th{colspan: 3}
                  %th= Invoice.human_attribute_name :subtotal
                  %td= number_to_currency @invoice.subtotal
                %tr
                  %th.no-border{colspan: 3}
                  %th= "VAT #{number_to_percentage(@invoice.vat_rate, precision: 1)}"
                  %td= number_to_currency @invoice.vat_amount
                %tr
                  %th.no-border{colspan: 3}
                  %th= Invoice.human_attribute_name :total
                  %td= number_to_currency @invoice.total

      #footer
        %hr
        .row
          .col-md-3.left
            = @invoice.seller.name
            %br
            = @invoice.seller.address
            %br
            = "#{Invoice::Seller.human_attribute_name :registration_number} #{@invoice.seller.registration_number}"
            %br
            = "#{Invoice::Seller.human_attribute_name :vat_number} #{@invoice.seller.vat_number}"

          .col-md-3.left
            = @invoice.seller.phone
            %br
            = @invoice.seller.email
            %br
            = @invoice.seller.website

          .col-md-3.text-right.left
            = BankAccount.human_attribute_name :bank_name
            %br
            = BankAccount.human_attribute_name :iban
            %br
            = BankAccount.human_attribute_name :swift

          .col-md-3.left
            = @invoice.seller.bank_account.bank_name
            %br
            = @invoice.seller.bank_account.iban
            %br
            = @invoice.seller.bank_account.swift
