- content_for :actions do
  = link_to(t(:back_to_billing), registrar_invoices_path, class: 'btn btn-default')
= render 'shared/title', name: t(:add_deposit)

= form_for([:registrar, @deposit], method: :post, html: { class: 'form-horizontal' }) do |f|
  = render 'shared/full_errors', object: @deposit

  .row
    .col-md-8
      .form-group
        .col-md-4.control-label
          = f.label :amount, class: 'required'
        .col-md-7
          .input-group
            = f.text_field :amount, class: 'form-control', required: true
            .input-group-addon
              EUR

      .form-group
        .col-md-4.control-label
          = f.label :description
        .col-md-7
          = f.text_area :description, class: 'form-control'

  %hr
  .row
    .col-md-8.text-right
      = button_tag(t(:add), class: 'btn btn-warning')
