.row
  .col-sm-4
    %h1.text-center-xs
      = @invoice
  .col-sm-8
    %h1.text-right.text-center-xs
      - if @invoice.unpaid?
        = link_to(t(:payment_received), new_admin_bank_statement_path(invoice_id: @invoice.id), class: 'btn btn-default')
      = link_to(t('.download_btn'), download_admin_invoice_path(@invoice), class: 'btn btn-default')
      = link_to(t('.deliver_btn'), new_admin_invoice_delivery_path(@invoice), class: 'btn btn-default')
      - if @invoice.cancellable?
        = link_to(t(:cancel), cancel_admin_invoice_path(@invoice), method: :patch, class: 'btn btn-warning')
      = link_to(t(:back), admin_invoices_path, class: 'btn btn-default')
%hr
= render 'shared/full_errors', object: @invoice

.row
  .col-md-6= render 'registrar/invoices/partials/details'
.row
  .col-md-6= render 'registrar/invoices/partials/seller'
  .col-md-6= render 'registrar/invoices/partials/buyer'
.row
  .col-md-12= render 'registrar/invoices/partials/items'
