#nameservers
  - @domain_params['nameservers_attributes'].each do |k, v|
    .panel.panel-default
      .panel-heading.clearfix
        .pull-left= t(:nameserver)
        .pull-right
          = link_to(t(:add_another), '#', class: 'btn btn-default btn-xs add-nameserver')
          = link_to(t(:delete), '#', class: 'btn btn-default btn-xs destroy')
      .panel-body
        .form-group
          .col-md-3.control-label
            = label_tag "domain_nameservers_attributes_#{k}_hostname", t(:hostname),
            class: Domain.nameserver_required? ? 'required' : nil
          .col-md-7
            = text_field_tag "domain[nameservers_attributes][#{k}][hostname]", v['hostname'],
              class: 'form-control', required: Domain.nameserver_required?
        .form-group
          .col-md-3.control-label
            = label_tag "domain_nameservers_attributes_#{k}_ipv4", t(:ipv4)
          .col-md-7
            = text_field_tag "domain[nameservers_attributes][#{k}][ipv4]", v['ipv4'],
              class: 'form-control'#, ipv4: true
        .form-group
          .col-md-3.control-label
            = label_tag "domain_nameservers_attributes_#{k}_ipv6", t(:ipv6)
          .col-md-7
            = text_field_tag "domain[nameservers_attributes][#{k}][ipv6]", v['ipv6'],
              class: 'form-control'#, ipv6: true
:coffee
  window.onload = ->
    $("#nameservers").nestedAttributes
      bindAddTo: $(".add-nameserver")
