= form_for([:admin, @api_user], multipart: true, html: {class: 'form-horizontal'}) do |f|
  = render 'shared/full_errors', object: @api_user

  .row
    .col-md-8
      .form-group
        .col-md-4.control-label
          = f.label :username
        .col-md-7
          = f.text_field(:username, class: 'form-control')
      .form-group
        .col-md-4.control-label
          = f.label :password
        .col-md-7
          = f.text_field(:password, class: 'form-control')
      .form-group
        .col-md-4.control-label
          = f.label :identity_code
        .col-md-7
          = f.text_field(:identity_code, class: 'form-control')
      .form-group
        .form-group.has-feedback.js-typeahead-container
          .col-md-4.control-label
            = f.label :registrar_typeahead, t(:registrar), class: 'required'
          .col-md-7
            = f.text_field(:registrar_typeahead, 
              class: 'form-control js-registrar-typeahead typeahead required', 
              placeholder: t(:registrar), autocomplete: 'off')
            %span.glyphicon.glyphicon-ok.form-control-feedback.js-typeahead-ok.hidden
            %span.glyphicon.glyphicon-remove.form-control-feedback.js-typeahead-remove
            = f.hidden_field(:registrar_id, class: 'js-registrar-id')
            .checkbox
              %label{for: 'api_user_active'}
                = f.check_box(:active)
                = t(:active)
  %hr
  .row
    .col-md-8.text-right
      = button_tag(t(:save), class: 'btn btn-primary')

:coffee
  Autocomplete.bindAdminRegistrarSearch();
