= form_for([:admin, @api_user.registrar, @api_user], html: {class: 'form-horizontal', autocomplete: 'off'}) do |f|
  = render 'shared/full_errors', object: @api_user

  .row
    .col-md-8
      .form-group
        .col-md-4.control-label
          = f.label :username, nil, class: 'required'
        .col-md-7
          = f.text_field :username, required: true, autofocus: true, class: 'form-control'
      .form-group
        .col-md-4.control-label
          = f.label :plain_text_password, nil, class: 'required'
        .col-md-7
          = f.text_field :plain_text_password, required: true, class: 'form-control'

      .form-group
        .col-md-4.control-label
          = f.label :identity_code
        .col-md-7
          = f.text_field(:identity_code, class: 'form-control')

      .form-group
        .col-md-4.control-label
          = f.label :role, nil, class: 'required'
        .col-md-7
          = select_tag 'api_user[roles][]',
            options_for_select(ApiUser::ROLES.map {|x| [x, x] }, @api_user.roles.try(:first)),
            class: 'form-control selectize'
          .checkbox
            %label{for: 'api_user_active'}
              = f.check_box(:active)
              = t('.active')

  %hr

  .row
    .col-md-8.text-right
      = button_tag(t(:save), class: 'btn btn-primary')
