= render 'shared/title', name: t('.title')

.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'username')
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'registrar_name', t(:registrar_name))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'active', t('.active'))
        %tbody
          - @api_users.each do |api_user|
            %tr
              %td= link_to api_user, [:admin, api_user]
              %td= link_to api_user.registrar, [:admin, api_user.registrar]
              %td= api_user.active
.row
  .col-md-12
    = paginate @api_users
