= render 'shared/title', name: t('.title')

.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'username')
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'registrar_name', t(:registrar_name))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'active', t('.active'))
        %tbody
          - @api_users.each do |x|
            %tr
              %td= link_to(x, [:admin, x])
              %td= link_to(x.registrar, [:admin, x.registrar])
              %td= x.active
.row
  .col-md-12
    = paginate @api_users
