<div class="page-header">
    <h1><%= t '.header' %></h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                    <tr>
                        <th class="col-xs-2">
                            <%= sort_link(@q, 'username') %>
                        </th>
                        <th class="col-xs-2">
                            <%= sort_link(@q, 'registrar_name', t(:registrar_name)) %>
                        </th>
                        <th class="col-xs-2">
                            <%= sort_link(@q, 'active', t('.active')) %>
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <%= render @api_users %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= paginate @api_users %>
    </div>
</div>
