<ol class="breadcrumb">
    <li><%= link_to t('admin.registrars.index.header'), admin_registrars_path %></li>
    <li><%= link_to @api_user.registrar, admin_registrar_path(@api_user.registrar) %></li>
    <li><%= t 'admin.registrars.show.api_users.header' %></li>
    <li><%= @api_user.username %></li>
</ol>

<div class="page-header">
    <div class="row">
        <div class="col-sm-8">
            <h1><%= @api_user.username %></h1>
        </div>

        <div class="col-sm-4 text-right">
            <%= link_to t('.edit_btn'), edit_admin_registrar_api_user_path(@api_user.registrar,
                                                                           @api_user),
                        class: 'btn btn-default' %>
            <%= link_to t('.delete_btn'), admin_registrar_api_user_path(@api_user.registrar,
                                                                        @api_user),
                        method: :delete,
                        data: { confirm: t(:are_you_sure) },
                        class: 'btn btn-danger' %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <%= t(:general) %>
                </h3>
            </div>

            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt><%= t(:username) %></dt>
                    <dd><%= @api_user.username %></dd>

                    <dt><%= t(:password) %></dt>
                    <dd><%= @api_user.plain_text_password %></dd>

                    <dt><%= t(:registrar_name) %></dt>
                    <dd><%= link_to(@api_user.registrar, admin_registrar_path(@api_user.registrar)) %></dd>

                    <dt><%= t(:role) %></dt>
                    <dd><%= @api_user.roles.join(', ') %></dd>

                    <dt><%= t('.active') %></dt>
                    <dd><%= @api_user.active %></dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    <%= t(:certificates) %>
                </div>
                <div class="pull-right">
                    <%= link_to(t(:upload_crt), new_admin_api_user_certificate_path(@api_user, crt: true), class: 'btn btn-primary btn-xs') %>
                    <%= link_to(t(:upload_csr), new_admin_api_user_certificate_path(@api_user), class: 'btn btn-primary btn-xs') %>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th class="col-xs-10">
                                <%= t('.subject') %>
                            </th>
                            <th class="col-xs-2">
                                <%= t(:status) %>
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @api_user.certificates.each do |x| %>
                            <% if x.csr %>
                                <tr>
                                    <td>
                                        <%= link_to(x.parsed_csr.try(:subject),
                                                    admin_api_user_certificate_path(@api_user,
                                                                                    x)) %>
                                    </td>
                                    <td>
                                        <%= x.status %>
                                    </td>
                                </tr>
                            <% elsif x.crt %>
                                <tr>
                                    <td>
                                        <%= link_to(x.parsed_crt.try(:subject),
                                                    admin_api_user_certificate_path(@api_user,
                                                                                    x)) %>
                                    </td>
                                    <td>
                                        <%= x.status %>
                                    </td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
