- content_for :head_title do
  %title= "#{truncate(name, length: 60)}#{head_title_sufix}"

.row
  .col-sm-7
    %h1.text-center-xs
      = truncate(name, length: 35)
  .col-sm-5
    %h1.text-right.text-center-xs
      = yield :actions
%hr
