- statuses_link ||= false
- version ||= false
- domain ||= false
- pending_user ||= false

- if domain.present?
  - if version # normal history
    - children = HashWithIndifferentAccess.new(version.children)
    - nameservers    = children[:nameservers] || []
    - tech_contacts  = children[:tech_contacts] || []
    - admin_contacts = children[:admin_contacts] || []
    - registrant  = children[:registrant] || []
    - event       = version.event
    - creator     = plain_username(version.terminator)
  - else # pending history
    - nameservers    = domain.nameservers
    - tech_contacts  = domain.tech_contacts
    - admin_contacts = domain.admin_contacts
    - registrant  = [domain.registrant]
    - creator     = pending_user.try(:username)
    - event       = 'pending'

  %td
    %p.nowrap
      = l(domain.updated_at, format: :shorts)
      - if statuses_link
        %br= link_to t(:edit_statuses), edit_admin_domain_path(params[:domain_id])

    %p.text-right
      = event
      %br
      = creator

  %td
    %p
      = "#{domain.period}#{domain.period_unit}"
      %br
      = "#{l(domain.valid_from, format: :date)}"
      %br
      = "#{l(domain.valid_to, format: :date)}"

  %td
    %p
      - domain.statuses.each do |s|
        = s
        - notes = domain.status_notes[s]
        - if notes
          %br
          %i= notes
        %br
    - if domain.pending_json.present?
      %p
        = link_to t(:pending_epp), '#', class: 'js-pending-toggle'

  %td
    - registrant.each do |r|
      %p
        = r[:name]
        = r[:phone]
        = r[:email]
      %p
        = r[:code]

  %td
    - admin_contacts.each do |ac|
      %p
        = ac[:name]
        = ac[:phone]
        = ac[:email]
      %p
        = ac[:code]

  %td
    - tech_contacts.each do |tc|
      %p
        = tc[:name]
        = tc[:phone]
        = tc[:email]
      %p
        = tc[:code]

  %td
    %p
      - nameservers.each do |ns|
        = ns[:hostname]
        %br
        = ns[:ipv4]
        = ns[:ipv6]

  %td
    %p
      = domain.registrar.name

  - if domain.pending_json.present?
    %tr.js-pending{ style: 'display: none;' }
      %td{colspan: 8}
        = preserve do
          %pre
            - formatted_req = Nokogiri::XML(domain.pending_json['frame'])
            - if formatted_req.errors.none?
              = formatted_req
            - else
              = domain.pending_json['frame']
