- version ||= false
- domain ||= false
- pending_user ||= false

- if domain.present?
  - if version # normal history
    - children = HashWithIndifferentAccess.new(version.children)
    - nameservers    = children[:nameservers] || []
    - tech_contacts  = children[:tech_contacts] || []
    - admin_contacts = children[:admin_contacts] || []
    - registrant  = children[:registrant] || []
    - event       = version.event
    - creator     = plain_username(version.terminator)
  - elsif pending_user # pending history
    - nameservers    = domain.nameservers
    - tech_contacts  = domain.tech_contacts
    - admin_contacts = domain.admin_contacts
    - registrant  = [domain.registrant]
    - creator     = pending_user.try(:username)
    - event       = 'PENDING'
  - else # if legacy data not presentable
    - nameservers    = []
    - tech_contacts  = []
    - admin_contacts = []
    - registrant  = []
    - event       = 'Log data is not viewable'
    - creator     = ''

  %td
    %p.nowrap
      = l(domain.updated_at, format: :short)
    %p.text-right
      = event
      %br
      = creator
      - if event == 'PENDING'
        %br= link_to t(:manage), edit_admin_domain_path(params[:domain_id])

  %td
    %p
      = "#{domain.period}#{domain.period_unit}"
      %br
      = "#{l(domain.valid_from, format: :date)}"
      %br
      = "#{l(domain.valid_to, format: :date)}"

  %td
    %p
      - domain.statuses.each do |s|
        = s

  %td
    - registrant.each do |oc|
      %p
        = oc[:name]
        = oc[:phone]
        = oc[:email]
      %p
        = oc[:code]

  %td
    - admin_contacts.each do |ac|
      %p
        = ac[:name]
        = ac[:phone]
        = ac[:email]
      %p
        = ac[:code]

  %td
    - tech_contacts.each do |tc|
      %p
        = tc[:name]
        = tc[:phone]
        = tc[:email]
      %p
        = tc[:code]

  %td
    %p
      - nameservers.each do |ns|
        = ns[:hostname]
        %br
        = ns[:ipv4]
        = ns[:ipv6]

  %td
    %p
      = domain.registrar.name

  -# %td
    -# = version.children.inspect

  -# %td{ class: changes.include?(:domain) ? 'edit-highlight' : 'no-highlight' }
    -# - if children[:domain]
      -# %p{:style => "font-size:x-small;"}
        -# = children[:domain][:period]
        -# = children[:domain][:period_unit] if children[:domain][:period]
        -# - if children[:domain][:valid_to] && children[:domain][:valid_from]
          -# = ","
          -# = l(children[:domain][:valid_from], format: :date) + '-' + l(children[:domain][:valid_to], format: :date)
        -# - if children[:domain].try(:[], :registrar_id)
          -# = ","
          -# = Registrar.find(children[:domain][:registrar_id]).try(:name)
        -# - if children[:domain][:status]
          -# = ',' + children[:domain][:status]


  -# %td{ class: changes.include?(:registrant) ? 'edit-highlight' : 'no-highlight' }
    -# - if children[:registrant]
      -# %p{:style => "font-size:x-small;"}
        -# = children[:registrant][:name]
        -# = ","
        -# = children[:registrant][:phone]
        -# = ","
        -# = children[:registrant][:email]
        -# = ","
        -# = children[:registrant][:code]

  -# %td{ class: changes.include?(:admin_contacts) ? 'edit-highlight' : 'no-highlight' }
    -# - if children[:admin_contacts]
      -# - children[:admin_contacts].each do |ac|
        -# %p{:style => "font-size:x-small;"}
          -# = ac[:name]
          -# = ","
          -# = ac[:phone]
          -# = ","
          -# = ac[:email]
          -# = ","
          -# = ac[:code]

  -# %td{ class: changes.include?(:tech_contacts) ? 'edit-highlight' : 'no-highlight' }
    -# - if children[:tech_contacts]
      -# - children[:tech_contacts].each do |tc|
        -# %p{:style => "font-size:x-small;"}
          -# = tc[:name]
          -# = ","
          -# = tc[:phone]
          -# = ","
          -# = tc[:email]
          -# = ","
          -# = tc[:code]

  -# %td{ class: changes.include?(:nameservers) ? 'edit-highlight' : 'no-highlight' }
    -# - if children[:nameservers]
      -# - children[:nameservers].each do |ns|
        -# %p{:style => "font-size:x-small;"}
          -# = ns[:hostname]
          -# = ","
          -# = ns[:ipv4] || ns[:ipv6]

  -# %td
    -# %p{ :style => 'font-size:x-small;' }
      -# = l(version.created_at, format: :short)
      -# = whodunnit_with_protocol(version.whodunnit)
      -# = version.event
