.row
  .col-sm-12
    %h2.text-center-xs= t('shared.domains')
%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-1'}
              = t('shared.name')
            %th{class: 'col-xs-1'}
              = sort_link(@q, 'whodunnit')
            %th{class: 'col-xs-1'}
              = sort_link(@q, 'created_at')

        %tbody
          - @domains.each do |domain|
            - obj = domain.reify
            %tr
              %td= link_to(obj.name, admin_domain_version_path(obj))
              %td= whodunnit_with_protocol(domain.whodunnit) unless domain.whodunnit.nil?
              %td= l(obj.created_at, format: :short)

.row
  .col-md-12
    = paginate @domains
