.row
  .col-sm-6
    %h2.text-center-xs
      = "#{t(:domain_history)} for " + @name.to_s
  .col-sm-6
    %h2.text-right.text-center-xs

%hr
.row
  .col-md-12
    .table-responsive
      %table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}= t(:'shared.domain_info')
            %th{class: 'col-xs-2'}= t(:'shared.owner_contact')
            %th{class: 'col-xs-2'}= t(:'shared.admin_contacts')
            %th{class: 'col-xs-2'}= t(:'shared.tech_contacts')
            %th{class: 'col-xs-2'}= t(:'shared.nameservers')
            %th{class: 'col-xs-1'}= t(:'shared.changes_info')

        %tbody
          - @versions.each do |version|
            %tr
              - children = version.load_snapshot
              - next unless children.is_a?(Hash)
              - children = HashWithIndifferentAccess.new(children)
              - changes = version.changed_elements
              = render 'admin/domain_versions/version', children: children, version: version, changes: changes
