- if @version
  - children = HashWithIndifferentAccess.new(@version.children)
  - nameservers    = Nameserver.where(id: children[:nameservers])
  - tech_contacts  = Contact.where(id: children[:tech_contacts])
  - admin_contacts = Contact.where(id: children[:admin_contacts])
  - registrant     = Contact.where(id: children[:registrant])
  - event       = @version.event
  - creator     = plain_username(@version.terminator)
  - domain = Domain.new(@version.object.to_h)
  - @version.object_changes.to_h.each{|k,v| domain[k]=v.last}

= render 'shared/title', name: domain.name

.row
  .col-md-8
    .panel.panel-default{:style => "min-height:400px;"}
      .panel-heading
        %h3.panel-title
          = l(@version.created_at, format: :short)
          = event
          = creator
      .panel-body
        %dl.dl-horizontal
          %dt= t(:name)
          %dd= link_to(domain.name, admin_domain_path(@version.item_id))
          %dt= t(:registered_at)
          %dd= l(domain.registered_at, format: :short)
          %dt= t(:statuses)
          %dd
            - if domain.statuses.present?
              - domain.statuses.each do |s|
                = s
          %dt= t(:registrant)
          %dd
            - registrant.each do |r|
              = r[:name]
              = r[:phone]
              = r[:email]
              = r[:code]
              %br
          %dt= t(:admin_contacts)
          %dd
            - admin_contacts.each do |r|
              = r[:name]
              = r[:phone]
              = r[:email]
              = r[:code]
              %br
          %dt= t(:tech_contacts)
          %dd
            - tech_contacts.each do |r|
              = r[:name]
              = r[:phone]
              = r[:email]
              = r[:code]
              %br
          %dt= t(:nameservers)
          %dd
            - nameservers.each do |ns|
              = ns[:hostname]
              = ns[:ipv4]
              = ns[:ipv6]
              %br
          %dt= t(:registrar)
          %dd= domain.registrar.name
      %span{:style => "padding-right:10px; padding-top:40px; float: right; bottom: 10px;"}
        - if @version.previous
          = link_to(t(:previous),
                    admin_domain_version_path(@version.previous.id),
                    class: 'btn btn-primary')
        - else
          %a.btn.btn-primary.disabled{:href => "#"}
            %span= t(:previous)
        - if @version.next
          = link_to(t(:next),
                    admin_domain_version_path(@version.next.id),
                    class: 'btn btn-default')
        - else
          %a.btn.btn-default.disabled{:href => "#"}
            %span= t(:next)

  .col-md-4
    .panel.panel-default{:style => "min-height:400px;"}
      %ul.nav.nav-pills.nav-stacked
        - @versions.each do |vs|
          - if vs.id == @version.id and vs.reify
            %li.active
              = link_to admin_domain_version_path(vs.id) do
                = l(vs.created_at, format: :short)
                = vs.event
          - else
            %li
              = link_to admin_domain_version_path(vs.id) do
                = l(vs.created_at, format: :short)
                = vs.event
      %span{:style => "padding-left:10px; position: absolute; bottom: 10px;"}
        = paginate @versions
