= form_for([:admin, @registrar, @white_ip], html: {class: 'form-horizontal'}) do |f|
  = render 'shared/full_errors', object: @white_ip

  .row
    .col-md-8
      .form-group
        .col-md-4.control-label
          = f.label :registrar
        .col-md-7
          = f.text_field(:registrar, class: 'form-control', disabled: :disabled)
          = f.hidden_field(:registrar_id, class: 'js-registrar-id')
      .form-group
        .col-md-4.control-label
          = f.label :ipv4
        .col-md-7
          = f.text_field(:ipv4, class: 'form-control', ipv4: true, autocomplete: 'off')
      .form-group
        .col-md-4.control-label
          = f.label :ipv6
        .col-md-7
          = f.text_field(:ipv6, class: 'form-control', ipv6: true, autocomplete: 'off')
      - WhiteIp::INTERFACES.each do |x|
        .form-group
          .col-md-4.control-label
            = f.label x
          .col-md-7
            = f.check_box :interfaces, { multiple: true }, x, nil
      = hidden_field_tag "white_ip[interfaces][]", nil
  %hr
  .row
    .col-md-8.text-right
      = button_tag(t(:save), class: 'btn btn-primary')
