- content_for :actions do
  = link_to(t(:edit), edit_admin_registrar_white_ip_path(@registrar, @white_ip), class: 'btn btn-primary')
  = link_to(t(:delete), admin_registrar_white_ip_path(@registrar, @white_ip),
    method: :delete, data: { confirm: t(:are_you_sure) }, class: 'btn btn-danger')
= render 'shared/title', name: t('white_ip')

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t(:general)
      .panel-body
        %dl.dl-horizontal
          %dt= t(:registrar_name)
          %dd= link_to(@registrar, [:admin, @registrar])

          %dt= WhiteIp.human_attribute_name :ipv4
          %dd= @white_ip.ipv4

          %dt= WhiteIp.human_attribute_name :ipv6
          %dd= @white_ip.ipv6

          %dt= WhiteIp.human_attribute_name :interfaces
          %dd= @white_ip.interfaces.join(', ').upcase
