.panel.panel-default
  .panel-heading.clearfix
    %h3.panel-title= t(:contacts)
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-4'}= t(:type)
          %th{class: 'col-xs-4'}= t(:name)
          %th{class: 'col-xs-4'}= t(:id)
      %tbody
        - @data.css('contact').each do |x|
        - registrant = Contact.find_by_code(x.text)
          %tr
            %td= x['type']
            %td= registrant.name
            %td= x.text
