.panel.panel-default
  .panel-heading
    %h3.panel-title= t(:dnskeys)
  .panel-body{style: 'word-wrap: break-word;'}
    .table-responsive
      %table.table.table-hover.table-condensed
        %tbody
        - @data.css('dsData').each do |x|
          - if x.css('digest').text.present?
            %tr
              %td
                %b= "#{t(:ds_key_tag)}:"
                = x.css('keyTag').text
            %tr
              %td
                %b= "#{t(:ds_algorithm)}:"
                = x.css('alg').first.text
            %tr
              %td
                %b= "#{t(:ds_digest_type)}:"
                = x.css('digestType').text
            %tr
              %td
                %b= "#{t(:ds_digest)}:"
                = x.css('digest').text

            - @data.css('keyData').each do |x|
            %tr
              %td
                %b= "#{t(:flag)}:"
                = x.css('flags').text
            %tr
              %td
                %b= "#{t(:protocol)}:"
                = x.css('protocol').text
            %tr
              %td
                %b= "#{t(:public_key)}:"
                = x.css('alg').text
            %tr
              %td{:colspan => "3"}
                %b= "#{t(:public_key)}:"
                = x.css('pubKey').text
            %tr
              %td{:colspan => "3"}
                = "&nbsp;".html_safe

        - if @data.css('dsData').empty?
          - @data.css('keyData').each do |x|
            %tr
              %td
                %b= "#{t(:flag)}:"
                = x.css('flags').text
              %td
                %b= "#{t(:protocol)}:"
                = x.css('protocol').text
              %td
                %b= "#{t(:public_key)}:"
                = x.css('alg').text
            %tr
              %td{:colspan => "3"}
                %b= "#{t(:public_key)}:"
                = x.css('pubKey').text
            %tr
              %td{:colspan => "3"}
                = "&nbsp;".html_safe