.panel.panel-default
  .panel-heading
    %h3.panel-title= t(:general)
  .panel-body
    %dl.dl-horizontal
      %dt= t(:authinfo_pw)
      %dd= @data.css('pw').text.present? ? @data.css('pw').text : t('hidden')

      - if @data.css('pw').text.blank?
        %dt= t(:registrar_name)
        %dd= @data.css('clID').text

      - registrant = Contact.find_by_code(@data.css('registrant').text)
      %dt= t(:registrant)
      %dd= "#{registrant.name} (#{@data.css('registrant').text})"

      %dt= t('.registered')
      %dd= @data.css('crDate').text

      %dt= t(:valid_to)
      %dd= @data.css('exDate').text

      %dt= t('.created')
      %dd= @data.css('crDate').text

      %dt= t('.updated')
      %dd= @data.css('upDate').text
