<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    <%= t '.header' %>
                </div>
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-4 control-label">
                        <%= f.label :vat_no %>
                    </div>
                    <div class="col-md-7">
                        <%= f.text_field :vat_no, class: 'form-control' %>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 control-label">
                        <%= f.label :vat_rate %>
                    </div>
                    <div class="col-md-8">
                        <div class="col-md-4 input-group">
                            <%= f.number_field :vat_rate, min: 0, max: 99.9, step: 0.1,
                                               class: 'form-control' %>
                            <div class="input-group-addon">%</div>
                        </div>
                        <span class="help-block"><%= t '.vat_rate_hint', registry_vat_rate:
                            number_to_percentage(registry_vat_rate, precision: 1) %></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 control-label">
                        <%= f.label :accounting_customer_code %>
                    </div>
                    <div class="col-md-7">
                        <%= f.text_field :accounting_customer_code, class: 'form-control', required: true %>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 control-label">
                        <%= f.label :billing_email %>
                    </div>
                    <div class="col-md-7">
                        <%= f.email_field :billing_email, class: 'form-control' %>
                    </div>
                </div>

                <div class="form-group">
                    <% if f.object.new_record? %>
                        <div class="col-md-offset-4 col-md-8">
                            <%= t '.no_reference_number_hint' %>
                        </div>
                    <% else %>
                        <div class="col-md-4 control-label">
                            <%= f.label :reference_no %>
                        </div>

                        <div class="col-md-7">
                            <%= f.text_field :reference_no, disabled: true,
                                             title: t('.disabled_reference_number_hint'),
                                             class: 'form-control' %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
