= render 'shared/title', name: t(:contact_versions)


.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'name', t(:name))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'code', t(:id))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'ident', t(:ident))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'registrar_name', t(:registrar))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'email', t(:created_at))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'action', t(:action))
        %tbody
          - @versions.each do |version|
            %tr
              %td= version.reify.name
              %td= version.reify.code
              %td= ident_for(version.reify)
              %td= l(version.created_at, format: :short)
              %td
                - if version.reify.registrar
                  = link_to(version.reify.registrar, admin_registrar_path(version.reify.registrar))

              %td= version.event

.row
  .col-md-6
    = paginate @versions
  .col-md-6.text-right


:coffee
  $(".js-reset-form").on "click", (e) ->
    e.preventDefault();
    window.location = "#{admin_contact_versions_path}"
