- panel_class = @domain.errors.messages[:admin_contacts] ? 'panel-danger' : 'panel-default'
.panel{class: panel_class}
  .panel-heading.clearfix
    = t('.title')
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-4'}= t(:name)
          %th{class: 'col-xs-4'}= t(:id)
          %th{class: 'col-xs-4'}= t(:email)
      %tbody
        - @domain.admin_contacts.each do |ac|
          %tr
            %td= link_to(ac, registrant_contact_path(ac))
            %td= ac.code
            %td= ac.email
      - if @domain.errors.messages[:admin_contacts]
        %tfoot
          - @domain.errors.messages[:admin_contacts].each do |x|
            %tr
              %td{colspan: 4}= x
