<% panel_class = errors ? 'panel-danger' : 'panel-default' %>
<div class="<%= panel_class %> panel">
    <div class="panel-heading">
        <%= header %>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered table-condensed">
            <thead>
                <tr>
                    <th class="col-xs-4"><%= Contact.human_attribute_name :name %></th>
                    <th class="col-xs-4"><%= Contact.human_attribute_name :code %></th>
                    <th class="col-xs-4"><%= Contact.human_attribute_name :email %></th>
                </tr>
            </thead>

            <tbody>
                <% contacts.each do |contact| %>
                    <tr>
                        <td>
                            <%= link_to contact, registrant_domain_contact_path(domain, contact) %>
                        </td>
                        <td><%= contact.code %></td>
                        <td><%= contact.email %></td>
                    </tr>
                <% end %>
            </tbody>

            <% if errors %>
                <tfoot>
                    <% errors.each do |error| %>
                        <tr>
                            <td colspan="3"><%= error %></td>
                        </tr>
                    <% end %>
                </tfoot>
            <% end %>
        </table>
    </div>
</div>