<div class="panel panel-default">
    <div class="panel-heading">
        <%= t ".header_#{domain_contacts.model_name.plural.underscore}" %>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered table-condensed
            <%= domain_contacts.model_name.plural.dasherize %>">
            <thead>
                <tr>
                    <th class="col-xs-4"><%= Contact.human_attribute_name :name %></th>
                    <th class="col-xs-4"><%= Contact.human_attribute_name :code %></th>
                    <th class="col-xs-4"><%= Contact.human_attribute_name :email %></th>
                </tr>
            </thead>

            <tbody>
                <%= render partial: 'registrant/domains/partials/domain_contact',
                           collection: domain_contacts,
                           locals: { domain: domain } %>
            </tbody>
        </table>
    </div>
</div>