- panel_class = @domain.errors.messages[:nameservers] ? 'panel-danger' : 'panel-default'
.panel{class: panel_class}
  .panel-heading.clearfix
    = t(:nameservers)
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-4'}= t(:hostname)
          %th{class: 'col-xs-4'}= t(:ipv4)
          %th{class: 'col-xs-4'}= t(:ipv6)
      %tbody
        - @domain.nameservers.each do |x|
          %tr
            %td= x
            %td= x.ipv4
            %td= x.ipv6
      - if @domain.errors.messages[:nameservers]
        %tfoot
          - @domain.errors.messages[:nameservers].each do |x|
            %tr
              %td{colspan: 3}= x

