#domain_statuses.panel.panel-default
  .panel-heading.clearfix
    = t(:statuses)
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-6'}= t(:status)
          %th{class: 'col-xs-6'}= t(:notes)
      %tbody
        - @domain.statuses.each do |status|
          %tr
            %td
              - if [DomainStatus::PENDING_UPDATE, DomainStatus::PENDING_DELETE].include?(status) && @domain.pending_json.present?
                = link_to(status, domain_verification_url_registrant_domain_url(@domain.id))
              - else
                = status
            %td= @domain.status_notes[status]
