- panel_class = @domain.errors.messages[:tech_contacts] ? 'panel-danger' : 'panel-default'
#tech_contacts.panel{class: panel_class}
  .panel-heading.clearfix
    = t('.title')
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-4'}= t(:name)
          %th{class: 'col-xs-4'}= t(:id)
          %th{class: 'col-xs-4'}= t(:email)
      %tbody
        - @domain.tech_contacts.each do |tc|
          %tr
            %td= link_to(tc, registrant_contact_path(tc))
            %td= tc.code
            %td= tc.email
      - if @domain.errors.messages[:tech_contacts]
        %tfoot
          - @domain.errors.messages[:tech_contacts].each do |x|
            %tr
              %td{colspan: 4}= x
