%h4= t(:pay_by_bank_link)
%hr
= link_to '#' do
  = image_tag('swed.png')

= link_to '#' do
  = image_tag('seb.png')

= link_to '#' do
  = image_tag('nordea.png')

= link_to '#' do
  = image_tag('lhv.png')

= link_to '#' do
  = image_tag('danske.png')
