%h4= t('buyer')
%hr
%dl.dl-horizontal
  %dt= t('name')
  %dd= @invoice.buyer_name

  %dt= t('reg_no')
  %dd= @invoice.buyer_reg_no

  %dt= t('address')
  %dd= @invoice.buyer_address

  %dt= t('phone')
  %dd= @invoice.buyer_phone

  %dt= t('url')
  %dd= @invoice.buyer_url

  %dt= t('email')
  %dd= @invoice.buyer_email
