%h4= t(:details)
%hr
%dl.dl-horizontal
  %dt= t(:issue_date)
  %dd= l @invoice.issue_date

  - if @invoice.cancelled?
    %dt= Invoice.human_attribute_name :cancelled_at
    %dd= l @invoice.cancelled_at

  %dt= t(:due_date)
  - if @invoice.cancelled?
    %dd.text-grey= t(:cancelled)
  - else
    %dd= l @invoice.due_date

  %dt= Invoice.human_attribute_name :receipt_date
  - if @invoice.paid?
    %dd= l @invoice.receipt_date
  - elsif @invoice.cancelled?
    %dd.text-grey= t(:cancelled)
  - else
    %dd{class: 'text-danger'}= t(:unpaid)

  %dt= t(:payment_term)
  %dd Prepayment

  %dt= t(:invoice_number)
  %dd= @invoice.number

  - if @invoice.description.present?
    %dt= t(:description)
    %dd=@invoice.description

  %dt= Invoice.human_attribute_name :reference_no
  %dd= @invoice.reference_no
