%h4= t('details')
%hr
%dl.dl-horizontal
  %dt= t('issue_date')
  %dd= l(@invoice.created_at)

  %dt= t('due_date')
  %dd= l(@invoice.due_date)

  %dt= t('payment_term')
  %dd= t(@invoice.payment_term)

  %dt= t('description')
  - @invoice.description.prepend(' - ') if @invoice.description.present?
  %dd= "#{t('invoice_no', no: @invoice.id)}#{@invoice.description}"

  %dt= t('reference_no')
  %dd= @invoice.reference_no
