%h4= t(:items)
%hr
.table-responsive
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th{class: 'col-xs-4'}= t(:description)
        %th{class: 'col-xs-2'}= t(:unit)
        %th{class: 'col-xs-2'}= t(:amount)
        %th{class: 'col-xs-2'}= t(:price)
        %th{class: 'col-xs-2'}= t(:total)
    %tbody
      - @invoice.items.each do |x|
        %tr
          %td= t(x.description)
          %td= x.unit
          %td= currency(x.amount)
          %td= currency(x.price)
          %td= currency(x.item_sum_without_vat)
    %tfoot
      %tr
        %th{colspan: 3}
        %th= Invoice.human_attribute_name :subtotal
        %td= currency(@invoice.subtotal)
      %tr
        %th.no-border{colspan: 3}
        %th= "VAT #{vat_rate(@invoice.vat_rate)}"
        %td= currency(@invoice.vat)
      %tr
        %th.no-border{colspan: 3}
        %th= t(:total)
        %td= currency(@invoice.total)
