%h4= t(:seller)
%hr
%dl.dl-horizontal
  %dt= t(:name)
  %dd= @invoice.seller_name

  %dt= t(:reg_no)
  %dd= @invoice.seller_reg_no

  %dt= t(:iban)
  %dd= @invoice.seller_iban

  %dt= t(:bank)
  %dd= @invoice.seller_bank

  %dt= t(:swift)
  %dd= @invoice.seller_swift

  %dt= Registrar.human_attribute_name :vat_no
  %dd= @invoice.seller_vat_no

  %dt= t(:address)
  %dd= @invoice.seller_address

  %dt= t(:country)
  %dd= @invoice.seller_country

  %dt= t(:phone)
  %dd= @invoice.seller_phone

  %dt= t(:url)
  %dd= @invoice.seller_url

  %dt= t(:email)
  %dd= @invoice.seller_email

  %dt= t(:issuer)
  %dd= @invoice.seller_contact_name
