%h4= t(:total)
%hr
%dl.dl-horizontal
  / %dt= t(:document_name)
  / %dd= t(@invoice.document_name)

  %dt= t(:issue_date)
  %dd= l(@invoice.date)

  %dt= t(:due_date)
  %dd= l(@invoice.due_date)

  %dt= t(:payment_term)
  %dd= t(@invoice.payment_term)

  %dt= t(:description)
  %dd= @invoice.description
