- content_for :actions do
  = link_to(t('.new_status_btn'), '#', class: 'btn btn-primary js-add-status')
  = link_to(t('.back_btn'), [:admin, @contact], class: 'btn btn-default')
= render 'shared/title', name: "#{t(:edit)}: #{@contact.name}"

= render 'form', contact: @contact
