.row
  .col-sm-6
    %h2.text-center-xs= t('shared.contacts')
    = render 'admin/contacts/partials/search'
  .col-sm-6
    %h2.text-right.text-center-xs
      = link_to(t('shared.add'), new_admin_contact_path, class: 'btn btn-primary')
%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'international_address_name', t('shared.name'))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'code', t('shared.code'))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'ident', t('shared.identity_code'))
            %th{class: 'col-xs-1'}
              = sort_link(@q, 'email', t('shared.email'))
            %th{class: 'col-xs-1'}
              = t('shared.action')
        %tbody
          - @contacts.each do |x|
            %tr
              %td= link_to(x, admin_contact_path(x))
              %td= x.code
              %td= x.ident
              %td= x.email
              %td= link_to(t('shared.edit'), edit_admin_contact_path(x), class: 'btn btn-primary btn-xs')
.row
  .col-md-12
    = paginate @contacts
