.row
  .col-sm-12
    %h2.text-center-xs= t('contacts')
%hr
.row
  .col-md-12
    = search_form_for [:admin, @q], html: { class: 'form-horizontal' } do |f|
      .col-md-11
        .form-group
          = f.search_field :name_cont, class: 'form-control'
      .col-md-1.text-right.text-center-xs
        .form-group
          %button.btn.btn-primary
            &nbsp;
            %span.glyphicon.glyphicon-search
            &nbsp;
%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'name', t(:name))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'ident', t(:identity))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'email', t(:email))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'code', t(:code))
        %tbody
          - @contacts.each do |x|
            %tr
              %td= link_to(x, admin_contact_path(x))
              %td= x.ident
              %td= x.email
              %td= x.code
.row
  .col-md-12
    = paginate @contacts
