= render 'shared/title', name: @contact.name

.row
  .col-md-6= render 'admin/contacts/partials/general'
  .col-md-6= render 'admin/contacts/partials/address'
.row
  .col-md-12= render 'admin/contacts/partials/domains'
.row
  .col-md-12= render 'admin/contacts/partials/statuses', contact: @contact

- if @contact.legal_documents.present?
  .row
    .col-md-12
      = render 'admin/domains/partials/legal_documents', legal_documents: @contact.legal_documents
