<% form_method = local_assigns.fetch(:method, :post) %>
<% submit_label = local_assigns.fetch(:submit_label, t('admin.csv_sync.import_form.submit_btn')) %>
<% file_param = local_assigns.fetch(:file_param, :file) %>
<% file_label = local_assigns.fetch(:file_label, t('admin.csv_sync.import_form.file_label')) %>
<% instructions = local_assigns.fetch(:instructions, t('admin.csv_sync.import_form.instructions')) %>
<% fields_open = local_assigns.fetch(:fields_open, false) %>

<%= form_tag url, method: form_method, multipart: true do %>
  <p><%= instructions %></p>

  <div class="form-group">
    <%= label_tag file_param, file_label %>
    <%= file_field_tag file_param, required: true, accept: 'text/csv' %>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a
        role="button"
        data-toggle="collapse"
        href="#csv-import-fields"
        aria-expanded="<%= fields_open %>"
        aria-controls="csv-import-fields">
        <%= t('admin.csv_sync.import_form.toggle_fields_btn') %>
      </a>
    </div>
  </div>

  <div id="csv-import-fields" class="collapse <%= 'in' if fields_open %>">
    <%= render 'admin/csv_sync/field_checkboxes',
        fields: fields,
        selected_fields: selected_fields,
        model_name: model_name,
        field_groups: local_assigns[:field_groups],
        input_name: local_assigns.fetch(:input_name, 'fields[]'),
        panel_title: local_assigns.fetch(:panel_title, t('admin.csv_sync.import_form.fields_panel_title')) %>
  </div>

  <div class="form-group text-right">
    <%= submit_tag submit_label, class: 'btn btn-primary' %>
    <% if local_assigns[:cancel_url].present? %>
      <%= link_to t('admin.csv_sync.import_form.cancel_btn'), cancel_url, class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
