.row
  .col-md-12
    %h2= t('shared.contacts')
%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}
              = t('shared.name')
            %th{class: 'col-xs-1'}
              = t('shared.contact_id')
            %th{class: 'col-xs-1'}
              = sort_link(@q, 'whodunnit', t('shared.whodunnit'))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'created_at', t('shared.created_at'))
        %tbody
          - @contacts.each do |version|
            - contact = version.reify
            - next unless contact
            %tr
              %td= contact.name #link_to(x, admin_contact_path(x))
              %td= contact.code #link_to(x, admin_contact_path(x))
              %td= version.whodunnit if version
              %td= l(version.created_at, format: :short) if version
.row
  .col-md-12
    = paginate @contacts
