.row
  .col-md-12
    %h4= "Credit card payment successful"
    %hr
    %dl.dl-horizontal
      %dt= t(:invoice)
      %dd= @invoice.reference_no

      %dt= "Card Type"
      %dd= params['cc_type'].humanize

      %dt= "Card Holder"
      %dd= params['cc_holder_name']

      %dt= "Card Last four digits"
      %dd= params['cc_last_four_digits']

      %dt= "Valid thru"
      %dd= "#{params['cc_month']}/#{params['cc_year']}"
