- content_for :actions do
  = link_to(t(:back_to_domains), registrar_domains_path, class: 'btn btn-default')
= render 'shared/title', name: t(:nameservers)

.row
  .col-md-12
    = search_form_for @q, url: [:registrar, :nameservers], html: { style: 'margin-bottom: 0;' } do |f|
      .row
        .col-md-3
          .form-group
            = f.label t(:hostname_end)
            = f.search_field :hostname_end, class: 'form-control', placeholder: t(:hostname_end), autocomplete: 'off'
        .col-md-3
          .form-group
            = label_tag t(:hostname_end_replacement)
            = text_field_tag :hostname_end_replacement, params[:hostname_end_replacement], class: 'form-control', placeholder: t(:hostname_end_replacement), autocomplete: 'off'
        .col-md-4{style: 'padding-top: 25px;'}
          %button.btn.btn-default
            &nbsp;
            %span.glyphicon.glyphicon-search
            &nbsp;
          %button.btn.btn-default.js-reset-form
            = t(:clear_fields)
          %button.btn.btn-warning{name: 'replace'}
            = t(:replace)
      .row
        .col-md-12
          %p.help-block= t(:hostnames_will_be_replaced_only_if_domain_validates_with_the_new_nameserver)
%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-3'}= t(:hostname)
            %th{class: 'col-xs-3'}= t(:ipv4)
            %th{class: 'col-xs-3'}= t(:ipv6)
            %th{class: 'col-xs-3'}= t(:domain)
        %tbody
          - @nameservers.each do |x|
            %tr
              - if params[:q] && params[:q][:hostname_end]
                - hn = x.hostname.chomp(params[:q][:hostname_end])
                %td
                  = precede hn do
                    %strong= params[:q][:hostname_end]
              - else
                %td= x.hostname
              %td= x.ipv4
              %td= x.ipv4
              %td= link_to(x.domain, info_registrar_domains_url(domain_name: x.domain.name))
.row
  .col-md-12
    = paginate @nameservers

:coffee
  $(".js-reset-form").on "click", (e) ->
    e.preventDefault();
    window.location = "#{registrar_nameservers_path}"

