= form_for([:admin, mail_template], html: {class: 'form-horizontal'}) do |f|
  = render 'shared/full_errors', object: mail_template


  - liquid_help = link_to 'Liquid info', 'https://github.com/Shopify/liquid/wiki/Liquid-for-Designers'

  .row
    .col-md-12
      .panel.panel-default
        .panel-body
          .form-group
            .col-md-4.control-label
              = f.label :name
            .col-md-7
              = f.text_field(:name, class: 'form-control')
          .form-group
            .col-md-4.control-label
              = f.label :subject
              %br
              = liquid_help
            .col-md-7
              = f.text_field(:subject, class: 'form-control')
          .form-group
            .col-md-4.control-label
              = f.label :from
            .col-md-7
              = f.email_field :from, class: 'form-control'
          .form-group
            .col-md-4.control-label
              = f.label :cc
            .col-md-7
              = f.email_field :cc, class: 'form-control'
          .form-group
            .col-md-4.control-label
              = f.label :bcc
            .col-md-7
              = f.email_field :bcc, class: 'form-control'
          .form-group
            .col-md-12
              = f.label :body, t(:html_body)
              = liquid_help
            .col-md-12
              = f.text_area(:body, class: 'form-control', size: '15x15')
          .form-group
            .col-md-12
              = f.label :text_body
              = liquid_help
            .col-md-12
              = f.text_area(:text_body, class: 'form-control', size: '15x15')

  %hr 
  .row
    .col-md-12.text-right
      = button_tag(t(:save), class: 'btn btn-primary')
