- content_for :actions do
  = link_to(t(:new), new_admin_mail_template_path, class: 'btn btn-primary')
= render 'shared/title', name: t(:mail_templates)

.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-3'}= sort_link(@q, 'name', t(:name))
            %th{class: 'col-xs-3'}= sort_link(@q, 'subject')
            %th{class: 'col-xs-3'}= sort_link(@q, 'updated_at')
            %th{class: 'col-xs-3'}
        %tbody
          - @mail_templates.each do |mt|
            %tr
              %td= link_to(truncate(mt.name), admin_mail_template_path(mt))
              %td= truncate(mt.subject)
              %td= l(mt.updated_at)
              %td
                = link_to(t(:edit), edit_admin_mail_template_path(mt), class: 'btn btn-primary btn-xs')

.row
  .col-md-12
    = paginate @mail_templates
