.row
  .col-sm-6
    %h2.text-center-xs
      = "#{t('shared.new_tech_contact')}"
  .col-sm-6
    %h2.text-right.text-center-xs
      = link_to(t('shared.back_to_domain'), [:admin, @domain], class: 'btn btn-default')
%hr
= form_tag(admin_domain_tech_contacts_path(@domain)) do |f|
  .row
    .col-md-12
      .form-group.has-feedback
      .form-group.has-feedback
        = label_tag :tech_contact
        = text_field_tag(:domain_tech_contact, params[:domain_tech_contact], class: 'form-control js-contact-typeahead', placeholder: t('shared.contact_code'), autocomplete: 'off')
        %span.glyphicon.glyphicon-ok.form-control-feedback.js-typeahead-ok.hidden
        %span.glyphicon.glyphicon-remove.form-control-feedback.js-typeahead-remove
        = hidden_field_tag(:tech_contact_id, params[:tech_contact_id], class: 'js-contact-id')
  .row
    .col-md-12.text-right
      = button_tag(t('shared.save'), class: 'btn btn-primary')

