<%= form_for([:admin, @bounced_mail_address], html: { class: 'form-horizontal' }) do |form| %>
  <% if @bounced_mail_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bounced_mail_address.errors.count, "error") %> prohibited this bounced_mail_address from being saved:</h2>

      <ul>
        <% @bounced_mail_address.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :bounce_reason %>
    <%= form.text_field :bounce_reason %>
  </div>

  <div class="field">
    <%= form.label :incidents %>
    <%= form.number_field :incidents %>
  </div>

  <div class="field">
    <%= form.label :response_json %>
    <%= form.text_field :response_json %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
