<p>
  <strong>Email:</strong>
  <%= @bounced_mail_address.email %>
</p>

<p>
  <strong>Bounced message ID:</strong>
  <%= @bounced_mail_address.message_id %>
</p>

<p>
  <strong>Overall bounce type:</strong>
  <%= @bounced_mail_address.bounce_type %> (<%= @bounced_mail_address.bounce_subtype %> )
</p>

<p>
  <strong>Bounced recipient status:</strong>
  <%= @bounced_mail_address.action %> (<%= @bounced_mail_address.status %>)
</p>

<p>
  <strong>Bounced recipient diagnostic:</strong>
  <pre><%= @bounced_mail_address.diagnostic %></pre>
</p>

<%= link_to 'Back', admin_bounced_mail_addresses_path %>
<%= link_to 'Destroy', admin_bounced_mail_address_path(@bounced_mail_address), method: :delete, data: { confirm: 'Are you sure?' } %></td>
