<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @bounced_mail_address.email %>
</p>

<p>
  <strong>Bounce reason:</strong>
  <%= @bounced_mail_address.bounce_reason %>
</p>

<p>
  <strong>Incidents:</strong>
  <%= @bounced_mail_address.incidents %>
</p>

<p>
  <strong>Bounced recipient JSON:</strong>
  <pre><%= JSON.pretty_generate(@bounced_mail_address.recipient_json) %></pre>
</p>

<p>
  <strong>Bounce payload:</strong>
  <pre><%= JSON.pretty_generate(@bounced_mail_address.response_json) %></pre>
</p>

<%= link_to 'Back', admin_bounced_mail_addresses_path %>
