<ol class="breadcrumb">
    <li><%= link_to t('registrant.domains.index.header'), registrant_domains_path %></li>
    <li><%= link_to domain, registrant_domain_path(domain) %></li>
    <li><%= t 'registrant.contacts.contact_index' %></li>
    <li><%= link_to @contact, registrant_domain_contact_path(domain, @contact) %></li>
</ol>

<div class="page-header">
    <h1><%= t '.header' %></h1>
</div>

<%= render 'form' %>