= render 'shared/title', name: @contact.name

.row
  .col-md-6= render 'registrant/contacts/partials/general'
  .col-md-6= render 'registrant/contacts/partials/address'
.row
  .col-md-12= render 'registrant/contacts/partials/statuses', contact: @contact
.row
  .col-md-12= render 'registrant/contacts/partials/domains', contact: @contact


