%tr{class: (@errors && @errors.has_key?(setting.code) && "danger")}
  %td.col-md-6= setting.code.humanize
  - if [TrueClass, FalseClass].include?(setting.value.class)
    %td.col-md-6
      = hidden_field_tag("[settings][#{setting.code}]", '', id: nil)
      = check_box_tag("[settings][#{setting.code}]", true, value)
  - else
    %td.col-md-6= text_field_tag("[settings][#{setting.code}]", setting.value, class: 'form-control')
