- value = Setting.send(var)
%tr{class: (@errors && @errors.has_key?(var.to_s) && "danger")}
  %td.col-md-6= var.to_s.humanize
  - if [TrueClass, FalseClass].include?(value.class)
    %td.col-md-6
      = hidden_field_tag("[settings][#{var}]", '')
      = check_box_tag("[settings][#{var}]", true, value)
  - else
    %td.col-md-6= text_field_tag("[settings][#{var}]", value, class: 'form-control')
