- value = Setting.send(var)
%tr{class: (@errors && @errors.has_key?(var.to_s) && "danger")}
  %td= var.to_s.humanize
  - if [TrueClass, FalseClass].include?(value.class)
    %td
      = hidden_field_tag("[settings][#{var}]", '')
      = check_box_tag("[settings][#{var}]", true, value)
  - else
    %td= text_field_tag("[settings][#{var}]", value)
