%h2= t('settings')
%hr
= form_tag [:admin, :settings] do
  .row
    .col-md-12
      .table-responsive
        %table.table.table-hover.table-bordered.table-condensed
          %thead
            %tr
              %th{class: 'col-xs-9'}
                = t('setting')
              %th{class: 'col-xs-2'}
                = t('value')
          %tbody
            - @settings.each do |x|
              %tr
                %td= t("#{x.var}")
                - if [TrueClass, FalseClass].include?(x.value.class)
                  %td
                    = hidden_field_tag("[settings][#{x.var}]", '')
                    = check_box_tag("[settings][#{x.var}]", true, x.value)
                - else
                  %td= text_field_tag("[settings][#{x.var}]", x.value)
  .row
    .col-md-12.text-right
      %button.btn.btn-primary=t('save')
