.page-header
  .h1
    = t('.title')

= form_tag [:admin, :settings] do
  .panel.panel-default
    .panel-heading
      = t('.domain_validation')
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %tbody
          - @validation_settings.each do |setting|
            = render 'setting_row', setting: setting

  .panel.panel-default
    .panel-heading
      = t('.domain_expiration')
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %tbody
          - @expiration_settings.each do |setting|
            = render 'setting_row', setting: setting

  .panel.panel-default
    .panel-heading
      = t('.other')
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %tbody
          - @other_settings.each do |setting|
            = render 'setting_row', setting: setting
          %tr
            %td.col-md-6= label_tag :default_language
            %td.col-md-6
              = select_tag '[settings][default_language]',
              options_for_select(available_languages, Setting.default_language),
              class: 'form-control'

  .panel.panel-default
    .panel-heading
      = t('.billing')
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %tbody
          - @billing_settings.each do |setting|
            = render 'setting_row', setting: setting

  .panel.panel-default
    .panel-heading
      = t('.contacts')
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %tbody
          - @contacts_settings.each do |setting|
            = render 'setting_row', setting: setting

  .row
    .col-md-12.text-right
      = submit_tag(t('.save_btn'), class: 'btn btn-success', name: nil)
