- content_for :actions do
  = link_to(t(:back), admin_reports_path, class: "btn btn-default")
  = link_to(t(:edit), edit_admin_report_path(@report), class: "btn btn-primary")
- content_for :page_name do
  = @report.name
= render "shared/title", name: @report.name
= render "admin/reports/partials/parameters_form"
