.panel.panel-default
  .panel-heading
    %h3.panel-title= t('shared.address')
  .panel-body
    - unless @contact.address.nil?
      %dl.dl-horizontal
        %dt= t('shared.country')
        %dd= @contact.address.country

        %dt= t('shared.city')
        %dd= @contact.address.city

        %dt= t('shared.street')
        %dd= @contact.address.street

        - if @contact.address.street2
          %dt= t('shared.street')
          %dd= @contact.address.street2

        - if @contact.address.street3
          %dt= t('shared.street')
          %dd= @contact.address.street3



        %dt= t('shared.zip')
        %dd= @contact.address.zip

