.panel.panel-default
  .panel-heading
    %h3.panel-title= t('general')
  .panel-body
    %dl.dl-horizontal
      %dt= t(:ident)
      %dd= "#{@contact.ident} #{ident_indicator(@contact)}"

      %br

      %dt= t(:email)
      %dd= @contact.email

      %dt= t(:phone)
      %dd= @contact.phone

      - if @contact.fax
        %dt= t(:fax)
        %dd= @contact.fax

      %br

      %dt= t(:code)
      %dd= @contact.code

      %dt= t('password')
      %dd= @contact.auth_info
