.panel{class: 'panel-default'}
  .panel-heading
    = t(:statuses)
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-6'}= t(:status)
          %th{class: 'col-xs-6'}= t(:notes)
      %tbody
        - contact.statuses.each do |status|
          %tr
            %td= status
            %td= contact.status_notes[status]
