- panel_class = contact.errors.messages[:statuses] ? 'panel-danger' : 'panel-default'
#contact_statuses.panel{class: panel_class}
  .panel-heading.clearfix
    = t(:statuses)
  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-6'}= t(:status)
          %th{class: 'col-xs-6'}= t(:description)
      %tbody
        - contact.statuses.each do |s|
          %tr
            %td= s.value
            %td= s.description

      - if contact.errors.messages[:statuses]
        %tfoot
          - @domain.errors.messages[:statuses].each do |s|
            %tr
              %td{colspan: 4}= s
