- if @data.css('msgQ').any?
  - msg_q = @data.css('msgQ').first
  .row
    .col-sm-12
      %h2= t '.header', count: msg_q['count']
  %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading.clearfix
            .pull-left= t('message_no', id: msg_q['id'])
            .pull-right
              - if @data.css('trnData trStatus').any? # this is a transfer request
                - unless ['serverApproved', 'clientApproved'].include?(@data.css('trStatus').first.text)
                  = link_to(t(:confirm), 'javascript: void(0);', class: 'btn btn-warning btn-xs js-transfer-confirm')
              = link_to(t(:dequeue), registrar_poll_path(id: msg_q['id']), method: :delete, class: 'btn btn-primary btn-xs')
          .panel-body
            %dl.dl-horizontal
              %dt= t(:message)
              %dd= msg_q.css('msg').text

              %dt= t(:queue_date)
              %dd= @data.css('qDate').text

              %dl.dl-horizontal
              - if @data.css('trnData trStatus').any? # this is a transfer request
                = form_tag confirm_transfer_registrar_poll_path, class: 'js-transfer-form' do
                  = hidden_field_tag 'domain[name]', @data.css('name').text

              - @data.css('trnData').children.each do |x|
                - next if x.blank?
                %dt= t(x.name)
                %dd= x.text
- else
  .row
    .col-sm-12
      %h2= t '.header', count: 0
  %hr
    .row
      .col-md-12
        %p.bg-info{style: 'padding: 15px;'}= t(:you_have_no_new_messages)

:coffee
  load_listener = ->
    $(".js-transfer-confirm").on "click", ->
      $(".js-transfer-form").submit()
  window.addEventListener 'load', load_listener
