%html{lang: 'et'}
  %head
    %meta{charset: "utf-8"}
    :css
      .container {
        margin: auto;
        font-size: 12px;
      }

      .col-md-12 {

      }

      .col-xs-4 {
        width: 33%;
      }

      .left {
        float: left;
      }

      .left {
        padding-right: 5px;
      }

      .right {
        float: right;
      }

      dt {
        float: left;
        width: 100px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        line-height: 1.42857;
      }

      dd {
        margin-left: 120px;
        line-height: 1.42857;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
      }

      th {
        text-align: left;
        border: 0px;
        border-top: 1px solid #DDD;
        padding: 6px;
      }

      thead th {
        border-bottom: 2px solid #DDD;
        border-top: 0px;
      }

      td {
        border-top: 1px solid #DDD;
      }

      td {
        padding: 6px;
      }

      hr {
        height: 1px;
        border: 0;
        color: #DDD;
        background-color: #DDD;
      }

      .clear {
        clear: both;
      }

      .pull-down {
        margin-top: 30px;
      }

      #header {
        position: relative;
        min-height: 100px;
      }

      img {
        width: 106px;
        height: 102px;
      }

      #header-content {
        position: absolute;
        bottom: 0;
      }

      h1 {
        margin-bottom: 5px;
      }

      #footer {
        position: absolute;
        bottom: 0px;
        width: 99%;
      }

      .blue {
        color: #0098da;
      }

  %body
    .container
      #header.row
        .col-sm-6.left
          #header-content
            %h1= "#{@domain.name} (#{Time.zone.now.to_date.strftime("%d/%m/%Y")})"
        .col-sm-6.right
          %img{src: "#{Rails.root}/public/eis-logo-black-et.png"}
      .clear
      %hr
      .row
        .col-sm-8.left
          %h3 Üldine
          %hr
          %dl.dl-horizontal
            %dt Nimi
            %dd= @domain.name
            %dt Registreeritud
            %dd= @domain.registered_at.to_date.strftime("%d/%m/%Y")
            %dt Registreering aegub
            %dd= @domain.valid_to.to_date.strftime("%d/%m/%Y")
            %dt Registripidaja
            %dd= "#{@domain.registrar} #{@domain.registrar.website}"

        .col-sm-4.right
          %h3 Registreerija
          %hr
          %dl.dl-horizontal
            %dt.left_25 Nimi
            %dd.left_25= @domain.registrant

            %dt.left_25 Isikukood
            %dd.left_25= @domain.registrant.ident_human_description

            %dt.left_25 E-mail
            %dd.left_25= @domain.registrant.email

            %dt.left_25 Telefon
            %dd.left_25= @domain.registrant.phone

      .clear
      .row.pull-down
        .col-md-12
          %h3 Administraatori kontaktid
          %hr
          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th{class: 'col-xs-3'} Nimi
                  %th{class: 'col-xs-3'} Isikukood
                  %th{class: 'col-xs-3'} E-mail
                  %th{class: 'col-xs-3'} Telefon
              %tbody
                - @domain.admin_contacts.each do |ac|
                  %tr
                    %td= ac.name
                    %td= ac.ident_human_description
                    %td= ac.email
                    %td= ac.phone

      .clear
      .row.pull-down
        .col-md-12
          %h3 Tehnilised kontaktid
          %hr
          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th{class: 'col-xs-3'} Nimi
                  %th{class: 'col-xs-3'} Isikukood
                  %th{class: 'col-xs-3'} E-mail
                  %th{class: 'col-xs-3'} Telefon
              %tbody
                - @domain.tech_contacts.each do |tc|
                  %tr
                    %td= tc.name
                    %td= tc.ident_human_description
                    %td= tc.email
                    %td= tc.phone

      .clear
      .row.pull-down
        .col-md-12
          %h3 Nimeserverid
          %hr
          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th{class: 'col-xs-4'} Hostinimi
                  %th{class: 'col-xs-4'}= t(:ipv4)
                  %th{class: 'col-xs-4'}= t(:ipv6)
              %tbody
                - @domain.nameservers.each do |x|
                  %tr
                    %td= x
                    %td= x.ipv4
                    %td= x.ipv6
      .clear
      .row.pull-down
        .col-md-12
          %h3= t(:dnskeys)
          %hr
          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th{class: 'col-xs-1'} Lipp
                  %th{class: 'col-xs-1'} Protokolli
                  %th{class: 'col-xs-1'} Algoritm
                  %th{class: 'col-xs-9'} Avalik võti
              %tbody
                - @domain.dnskeys.each do |x|
                  %tr
                    %td= x.flags
                    %td= x.protocol
                    %td= x.alg
                    %td= x.public_key
      #footer
        %hr
          %p{class: 'blue'} Eesti Interneti SA
          %p Paldiski mnt 80, 10617 Tallinn, Estonia T +372 727 1000 E info@internet.ee www.internet.ee
          %p Reg. nr 90010019 KMKR EE101286464
