%html{lang: I18n.locale.to_s}
  %head
    %meta{charset: "utf-8"}
    :css
      .container {
        margin: auto;
        font-size: 12px;
      }

      .col-md-12 {

      }

      .col-xs-4 {
        width: 33%;
      }

      .left {
        float: left;
      }

      .left {
        padding-right: 5px;
      }

      .right {
        float: right;
      }

      dt {
        float: left;
        width: 100px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        line-height: 1.42857;
      }

      dd {
        margin-left: 120px;
        line-height: 1.42857;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        font-size: 12px;
      }

      th {
        text-align: left;
        border: 0px;
        border-top: 1px solid #DDD;
        padding: 6px;
      }

      thead th {
        border-bottom: 2px solid #DDD;
        border-top: 0px;
      }

      td {
        border-top: 1px solid #DDD;
      }

      td {
        padding: 6px;
      }

      hr {
        height: 1px;
        border: 0;
        color: #DDD;
        background-color: #DDD;
      }

      .clear {
        clear: both;
      }

      .pull-down {
        margin-top: 30px;
      }

      #header {
        position: relative;
        min-height: 100px;
      }

      img {
        width: 106px;
        height: 102px;
      }

      #header-content {
        position: absolute;
        bottom: 0;
      }

      h1 {
        margin-bottom: 5px;
      }

  %body
    .container
      #header.row
        .col-sm-6.left
          #header-content
            %h1= @domain.name
        .col-sm-6.right
          %img{src: "#{Rails.root}/public/eis-logo-black-et.png"}
      .clear
      %hr
      .row
        .col-sm-6.left
          %h3= t(:general)
          %hr
          %dl.dl-horizontal
            %dt= t(:name)
            %dd= @domain.name
            %dt= Domain.human_attribute_name :registered_at
            %dd= l(@domain.registered_at)
            %dt= t(:registrar_name)
            %dd= @domain.registrar
            %dt= Domain.human_attribute_name :transfer_code
            %dd= @domain.transfer_code
            %dt= t(:valid_to)
            %dd= l(@domain.valid_to)
            %dt= t('.outzone_time')
            %dd= l(@domain.outzone_at)
            %dt= Domain.human_attribute_name :delete_date
            %dd= l @domain.delete_date
            %dt= Domain.human_attribute_name :force_delete_date
            %dd= l @domain.force_delete_date
            %dt= t('.locked_by_registrant_at')
            %dd= l(@domain.locked_by_registrant_at)
        .col-sm-6.right
          %h3= t('activerecord.models.registrant')
          %hr
          %dl.dl-horizontal
            %dt.left_25= t(:name)
            %dd.left_25= @domain.registrant

            %dt.left_25= t(:id)
            %dd.left_25= @domain.registrant.code

            %dt.left_25= t(:identity_code)
            %dd.left_25= @domain.registrant.ident

            %dt.left_25= t(:email)
            %dd.left_25= @domain.registrant.email

            %dt.left_25= t(:phone)
            %dd.left_25= @domain.registrant.phone
      .clear
      .row.pull-down
        .col-md-12
          - tech_contacts_invalid = @domain.errors.include?(:tech_contacts)
          %h3= t(:tech_contacts)
          %hr
          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th{class: 'col-xs-4'}= t(:name)
                  %th{class: 'col-xs-4'}= t(:id)
                  %th{class: 'col-xs-4'}= t(:email)
              %tbody
                - @domain.tech_contacts.each do |tc|
                  %tr
                    %td= tc
                    %td= tc.code
                    %td= tc.email
              - if tech_contacts_invalid
                %tfoot
                  - @domain.errors.messages[:tech_contacts].each do |x|
                    %tr
                      %td{colspan: 4}= x
      .row
        .col-md-12
          - admin_contacts_invalid = @domain.errors.include?(:admin_contacts)
          %h3= t(:admin_contacts)
          %hr
          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th{class: 'col-xs-4'}= t(:name)
                  %th{class: 'col-xs-4'}= t(:id)
                  %th{class: 'col-xs-4'}= t(:email)
              %tbody
                - @domain.admin_contacts.each do |ac|
                  %tr
                    %td= ac
                    %td= ac.code
                    %td= ac.email
              - if admin_contacts_invalid
                %tfoot
                  - @domain.errors.messages[:admin_contacts].each do |x|
                    %tr
                      %td{colspan: 4}= x
      .clear
      .row.pull-down
        .col-md-12
          %h3= t(:statuses)
          %hr
          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th{class: 'col-xs-6'}= t(:status)
                  %th{class: 'col-xs-6'}= t(:notes)
              %tbody
                - @domain.statuses.each do |status|
                  %tr
                    %td= status
                    %td= @domain.status_notes[status]
      .clear
      .row.pull-down
        .col-md-12
          %h3= t(:nameservers)
          %hr
          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th{class: 'col-xs-4'}= t(:hostname)
                  %th{class: 'col-xs-4'}= t(:ipv4)
                  %th{class: 'col-xs-4'}= t(:ipv6)
              %tbody
                - @domain.nameservers.each do |x|
                  %tr
                    %td= x
                    %td= x.ipv4
                    %td= x.ipv6
      .clear
      .row.pull-down
        .col-md-12
          %h3= t(:dnskeys)
          %hr
          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th{class: 'col-xs-1'}= t(:flag)
                  %th{class: 'col-xs-1'}= t(:protocol)
                  %th{class: 'col-xs-1'}= t(:algorithm)
                  %th{class: 'col-xs-9'}= t(:public_key)
              %tbody
                - @domain.dnskeys.each do |x|
                  %tr
                    %td= x.flags
                    %td= x.protocol
                    %td= x.alg
                    %td= x.public_key
      .clear
      .row.pull-down
        .col-md-12
          %h3= t(:legal_documents)
          %hr
          .table-responsive
            %table.table.table-hover.table-condensed
              %thead
                %tr
                  %th{class: 'col-xs-8'}= t(:created_at)
                  %th{class: 'col-xs-4'}= t(:type)
              %tbody
                - @domain.legal_documents.each do |x|
                  %tr
                    %td= x.created_at
                    %td= x.document_type
