<tr>
    <td><%= link_to truncate(domain.name), info_registrar_domains_path(domain_name: domain.name) %></td>
    <td><%= link_to domain.registrant, registrar_contact_path(id: domain.registrant.code) %></td>
    <td><%= l(domain.valid_to, format: :date_long) %></td>
    <td>
        <%= link_to t(:edit), edit_registrar_domains_path(domain_name: domain.name), class: 'btn btn-primary btn-xs' %>
        <%= link_to t(:renew), renew_registrar_domains_path(domain_name: domain.name), class: 'btn btn-default btn-xs' %>
        <%= link_to t(:delete), delete_registrar_domains_path(domain_name: domain.name), class: 'btn btn-default btn-xs' %>
    </td>
</tr>
