- path = (params[:domain_name]) ? update_registrar_domains_path : registrar_domains_path
- legaldoc_mandatory = params[:domain_name].blank? && current_registrar_user.legaldoc_mandatory?
= form_tag(path, class: 'form-horizontal', multipart: true) do
  .row
    .col-md-8
      #general-tab.tab-pane.active
        = render 'registrar/domains/form/general'
        = render 'registrar/domains/form/contacts'
        = render 'registrar/domains/form/nameservers'
        = render 'registrar/domains/form/dnskeys'

      .panel.panel-default
        .panel-heading.clearfix
          .pull-left= t(:legal_document)
        .panel-body
          .form-group
            .col-md-3.control-label
              - c, fr = 'required', true if legaldoc_mandatory
              = label_tag 'domain[legal_document]', t(:legal_document), class: c
              %p.help-block= t(:legal_document_max_size)
            .col-md-7
              = legal_document_field_tag 'domain[legal_document]', required: fr
    .col-md-4
      %p.domain-general-help= t(:domain_general_help).html_safe
      %p.domain-admin-contact-help= t(:domain_admin_contact_help).html_safe
      %p.domain-tech-contact-help= t(:domain_tech_contact_help).html_safe

  .row
    .col-md-8.text-right
      = button_tag(t('.save_btn'), class: 'btn btn-warning')
