<%= search_form_for [:registrar, @q], html: { class: 'search-form', autocomplete: 'off' } do |f| %>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :name, for: nil %>
                <%= f.search_field :name_matches, value: search_params[:name_matches], class: 'form-control',
                                   placeholder: t(:name) %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :registrant_ident, for: nil %>
                <%= f.search_field :registrant_ident_eq, class: 'form-control', placeholder: t(:registrant_ident) %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :contact_ident, for: nil %>
                <%= f.search_field :contacts_ident_eq, class: 'form-control', placeholder: t(:contact_ident) %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :nameserver_hostname, for: nil %>
                <%= f.search_field :nameservers_hostname_eq, class: 'form-control',
                                   placeholder: t(:nameserver_hostname) %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <%= label_tag :status, nil, for: nil %>
                <%= select_tag :statuses_contains,
                               options_for_select(DomainStatus::STATUSES, params[:statuses_contains]),
                               { multiple: true, class: 'form-control js-combobox' } %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :valid_to_from, for: nil %>
                <%= f.search_field :valid_to_gteq, value: search_params[:valid_to_gteq],
                                   class: 'form-control js-datepicker',
                                   placeholder: t(:valid_to_from) %>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group">
                <%= f.label :valid_to_until, for: nil %>
                <%= f.search_field :valid_to_lteq, value: search_params[:valid_to_lteq],
                                   class: 'form-control js-datepicker',
                                   placeholder: t(:valid_to_until) %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <%= label_tag :results_per_page, nil, for: nil %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <%= text_field_tag :results_per_page, params[:results_per_page], class: 'form-control',
                                   placeholder: t(:results_per_page) %>
            </div>
        </div>

        <div class="col-md-10 text-right">
            <button class="btn btn-primary search">
                &nbsp;
                <span class="glyphicon glyphicon-search"></span>
                &nbsp;
            </button>
            <%= button_tag t('.download_btn'), formaction: registrar_domains_path(format: 'csv'),
                           class: 'btn btn-default' %>
            <%= link_to t('.reset_btn'), registrar_domains_path, class: 'btn btn-default' %>
        </div>
    </div>
<% end %>
