= render 'shared/title', name: "#{t(:delete)}: #{params[:domain_name]}"

= form_tag(destroy_registrar_domains_path, class: 'form-horizontal', multipart: true, method: :delete) do
  .col-md-8
    .panel.panel-default
      .panel-heading.clearfix
        = t(:legal_document)
      .panel-body
        .form-group
          .col-md-4.control-label
            = label_tag 'domain[verified]', t(:verified)
          .col-md-6
            = check_box_tag 'domain[verified]', '1', params[:verified].eql?('1'), onclick: ("return (confirm('#{t(:verified_confirm)}') ? true : false);" if current_registrar_user.legaldoc_mandatory?)

        .form-group
          .col-md-4.control-label
            = label_tag 'domain[legal_document]', t(:legal_document)
            %p.help-block= t(:legal_document_max_size)
          .col-md-6
            = file_field_tag 'domain[legal_document]'
            = hidden_field_tag 'domain[name]', params[:domain_name]
  %hr
  .row
    .col-md-8.text-right
      = button_tag t(:delete), class: 'btn btn-danger'
