- content_for :actions do
  = link_to(t(:new), new_registrar_domain_path, class: 'btn btn-primary')
  = link_to(t(:transfer), transfer_registrar_domains_path, class: 'btn btn-default')
  -# turned off requested by client
  -# = link_to(t(:keyrelay), registrar_keyrelay_path, class: 'btn btn-default')
  -# = link_to(t(:nameservers), registrar_nameservers_path, class: 'btn btn-default')
= render 'shared/title', name: t(:domains)

.row
  .col-md-12
    = search_form_for [:registrar, @q], html: { style: 'margin-bottom: 0;', class: 'js-form', autocomplete: 'off' } do |f|
      .row
        .col-md-3
          .form-group
            = f.label :name
            = f.search_field :name_matches, value: params[:q][:name_matches], class: 'form-control', placeholder: t(:name)
        .col-md-3
          .form-group
            = f.label t(:registrant_ident)
            = f.search_field :registrant_ident_eq, class: 'form-control', placeholder: t(:registrant_ident)
        .col-md-3
          .form-group
            = f.label t(:contact_ident)
            = f.search_field :contacts_ident_eq, class: 'form-control', placeholder: t(:contact_ident)
        .col-md-3
          .form-group
            = f.label t(:nameserver_hostname)
            = f.search_field :nameservers_hostname_eq, class: 'form-control', placeholder: t(:nameserver_hostname)
      .row
        .col-md-6
          .form-group
            = label_tag t(:status)
            = select_tag :statuses_contains, options_for_select(DomainStatus::STATUSES, params[:statuses_contains]), { multiple: true, placeholder: t(:choose), class: 'form-control js-combobox' }
        .col-md-3
          .form-group
            = f.label t(:valid_to_from)
            = f.search_field :valid_to_gteq, value: params[:q][:valid_to_gteq], class: 'form-control datepicker', placeholder: t(:valid_to_from)
        .col-md-3
          .form-group
            = f.label t(:valid_to_until)
            = f.search_field :valid_to_lteq, value: params[:q][:valid_to_lteq], class: 'form-control datepicker', placeholder: t(:valid_to_until)
      .row
        .col-md-6
        .col-md-3
          .form-group
            = label_tag t(:results_per_page)
            = text_field_tag :results_per_page, params[:results_per_page], class: 'form-control', placeholder: t(:results_per_page)
        .col-md-3{style: 'padding-top: 25px;'}
          %button.btn.btn-primary.search
            &nbsp;
            %span.glyphicon.glyphicon-search
            &nbsp;
          %button.btn.btn-default.js-reset-form
            = t(:clear_fields)
      .row
        .col-md-2
          = button_tag t('.download_btn'), class: 'btn btn-primary export-domains-csv-btn',
          formaction: registrar_domains_path(format: 'csv')
%hr

.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'name')
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'registrant_name', t('.registrant'))
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'valid_to', t(:valid_to))
            %th{class: 'col-xs-2'}= t('actions')
        %tbody
          - @domains.each do |x|
            %tr
              %td= link_to(truncate(x.name), info_registrar_domains_path(domain_name: x.name))
              %td
                - if x.registrant
                  = link_to(x.registrant, registrar_contact_path(id: x.registrant.code))
              %td= l(x.valid_to, format: :date_long)
              %td
                = link_to(t(:edit), edit_registrar_domains_path(domain_name: x.name),
                  class: 'btn btn-primary btn-xs')
                = link_to(t(:renew), renew_registrar_domains_path(domain_name: x.name),
                  class: 'btn btn-default btn-xs')
                = link_to(t(:delete), delete_registrar_domains_path(domain_name: x.name),
                    class: 'btn btn-default btn-xs')
.row
  .col-md-6
    = paginate @domains
  .col-md-6.text-right
    .pagination
      = t(:result_count, count: @domains.total_count)

:coffee
  $(".js-reset-form").on "click", (e) ->
    e.preventDefault();
    window.location = "#{registrar_domains_path}"
