<div class="page-header">
    <div class="row">
        <div class="col-sm-10">
            <h1><%= t '.header' %></h1>
        </div>

        <div class="col-sm-2 text-right">
            <%= link_to t(:new), new_registrar_domain_path, class: 'btn btn-primary' %>
            <%= link_to t(:transfer), transfer_registrar_domains_path, class: 'btn btn-default' %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <%= render 'search_form' %>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-condensed">
                <thead>
                <tr>
                    <th class="col-xs-2">
                        <%= sort_link(@q, 'name') %>
                    </th>
                    <th class="col-xs-2">
                        <%= sort_link(@q, 'registrant_name', t('.registrant')) %>
                    </th>
                    <th class="col-xs-2">
                        <%= sort_link(@q, 'valid_to', t(:valid_to)) %>
                    </th>
                    <th class="col-xs-2">
                        <%= t('actions') %>
                    </th>
                </tr>
                </thead>
                <tbody>
                    <%= render @domains %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <%= paginate @domains %>
    </div>
    <div class="col-md-6 text-right">
        <div class="pagination">
            <%= t(:result_count, count: @domains.total_count) %>
        </div>
    </div>
</div>
