- content_for :actions do
  = link_to(t(:new), new_registrar_domain_path, class: 'btn btn-primary')
  = link_to(t(:transfer), transfer_registrar_domains_path, class: 'btn btn-default')
  -# turned off requested by client
  -# = link_to(t(:keyrelay), registrar_keyrelay_path, class: 'btn btn-default')
  -# = link_to(t(:nameservers), registrar_nameservers_path, class: 'btn btn-default')
= render 'shared/title', name: t(:domains)

.row
  .col-md-12{style: 'margin-bottom: -15px;'}
    = form_tag info_registrar_domains_path, class: 'form-horizontal', method: :get do
      .col-md-11
        .form-group
          = text_field_tag :domain_name, params[:domain_name], class: 'form-control', placeholder: t(:domain_name), autocomplete: 'off', autofocus: true
      .col-md-1.text-right.text-center-xs
        .form-group
          %button.btn.btn-default
            &nbsp;
            %span.glyphicon.glyphicon-search
            &nbsp;

%hr

- if @response
  .table-responsive
    %table.table.table-hover.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-3'}= t(:name)
          %th{class: 'col-xs-6'}= t(:valid)
          %th{class: 'col-xs-3'}= t(:actions)
      %tbody
        - @response['domains'].each do |x|
          %tr
            %td= link_to(x['name'], info_registrar_domains_path(domain_name: x['name']))
            %td
              = Time.zone.parse(x['valid_from']).try(:to_date)
              \-
              = Time.zone.parse(x['valid_to']).try(:to_date)
            %td
              = link_to(t(:edit), edit_registrar_domains_path(domain_name: x['name']),
                class: 'btn btn-primary btn-xs')
              = link_to(t(:renew), renew_registrar_domains_path(domain_name: x['name']),
                class: 'btn btn-default btn-xs')
              = link_to(t(:delete), delete_registrar_domains_path(domain_name: x['name']),
                  class: 'btn btn-default btn-xs')

  = paginate @paginatable_array
