= render 'shared/title', name: t(:transfer_domain)

.row
  .col-md-8
    = form_tag transfer_registrar_domains_path, class: 'form-horizontal', method: :post, multipart: true do
      .form-group
        .col-md-3.control-label
          = label_tag :domain_name, t(:name), class: 'required'
        .col-md-7
          = text_field_tag :domain_name, params[:domain_name], class: 'form-control', 
            placeholder: t(:domain_name), autocomplete: 'off', autofocus: true, required: true
      .form-group
        .col-md-3.control-label
          = label_tag :password, t(:password), class: 'required'
        .col-md-7
          = text_field_tag :password, params[:password], 
            class: 'form-control', autocomplete: 'off', required: true
      .form-group
        .col-md-3.control-label
          = label_tag 'legal_document', t(:legal_document), class: 'required'
        .col-md-7
          = file_field_tag 'legal_document', required: true
      .form-group
        .col-md-10.text-right
          %button.btn.btn-primary{ name: 'query' }= t(:query)
          %button.btn.btn-primary{ name: 'approve' }= t(:approve)
          %button.btn.btn-primary{ name: 'reject' }= t(:reject)
