= render 'shared/title', name: t(:repp_logs)

.row
  .col-md-12
    %hr
    = search_form_for @q, url: [:admin, :repp_logs], html: { style: 'margin-bottom: 0;', class: 'js-form' } do |f|
      .row
        .col-md-3
          .form-group
            = f.label :request_path
            = f.select :request_path_eq, [[t(:choose),''], '/repp/v1/domains', '/repp/v1/contacts'], {}, class: 'form-control selectize', placeholder: t(:choose)
        .col-md-3
          .form-group
            = f.label :request_method
            = f.select :request_method_eq, [[t(:choose),''], 'GET', 'POST', 'PUT', 'DELETE'], {}, class: 'form-control selectize', placeholder: t(:choose)
        .col-md-3
          .form-group
            = f.label :response_code
            = f.search_field :response_code_eq, class: 'form-control', placeholder: t(:response_code), autocomplete: 'off'
        .col-md-3
          .form-group
            = f.label :api_user
            = f.search_field :api_user_name_cont, class: 'form-control', placeholder: t(:api_user), autocomplete: 'off'
      .row
        .col-md-3
          .form-group
            = f.label :registrar
            = f.search_field :api_user_registrar_cont, class: 'form-control', placeholder: t(:registrar_name), autocomplete: 'off'
        .col-md-3
          .form-group
            = f.label t(:created_after)
            = f.search_field :created_at_gteq, value: params[:q][:created_at_gteq], class: 'form-control datepicker', placeholder: t(:created_after), autocomplete: 'off'
        .col-md-3
          .form-group
            = f.label t(:created_before)
            = f.search_field :created_at_lteq, value: params[:q][:created_at_lteq], class: 'form-control datepicker', placeholder: t(:created_before), autocomplete: 'off'
        .col-md-3{style: 'padding-top: 25px;'}
          %button.btn.btn-primary
            &nbsp;
            %span.glyphicon.glyphicon-search
            &nbsp;
          %button.btn.btn-default.js-reset-form
            = t(:clear_fields)
%hr
.row
  .col-md-12
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}= t(:request_path)
            %th{class: 'col-xs-2'}= t(:request_method)
            %th{class: 'col-xs-2'}= t(:response_code)
            %th{class: 'col-xs-2'}= t(:api_user)
            %th{class: 'col-xs-2'}= t(:registrar_name)
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'created_at')
        %tbody
          - @repp_logs.each do |x|
            %tr
              %td= link_to(x.request_path, admin_repp_log_path(x))
              %td= x.request_method
              %td= x.response_code
              %td= x.api_user_name
              %td= x.api_user_registrar
              %td= l(x.created_at)
.row
  .col-md-12
    = paginate @repp_logs

:coffee
  $(".js-reset-form").on "click", (e) ->
    e.preventDefault();
    window.location = "#{admin_repp_logs_path}"
