- content_for :actions do
  = link_to(t(:back), :back, class: 'btn btn-primary')
= render 'shared/title', name: t(:repp_log)

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t(:details)
      .panel-body
        %dl.dl-horizontal
          %dt= t(:request_path)
          %dd= @repp_log.request_path

          %dt= t(:request_method)
          %dd= @repp_log.request_method

          %dt= t(:response_code)
          %dd= @repp_log.response_code

          %dt= t(:api_user)
          %dd= @repp_log.api_user_name

          %dt= t(:registrar_name)
          %dd= @repp_log.api_user_registrar

          %dt= t(:ip)
          %dd= @repp_log.ip

          %dt= t(:created_at)
          %dd= @repp_log.created_at

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t(:request_params)
      .panel-body
        = preserve do
          %pre
            = JSON.pretty_generate(JSON.parse(@repp_log.request_params))
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t(:response)
      .panel-body
        = preserve do
          %pre
            = JSON.pretty_generate(JSON.parse(@repp_log.response))
