.row
  .col-sm-6
    %h2.text-center-xs
      = "#{t('user_details')}"
  .col-sm-6
    %h2.text-right.text-center-xs
      = link_to(t('edit'), edit_admin_user_path(@user), class: 'btn btn-primary')
      = link_to(t('delete'), admin_user_path(@user), method: :delete, data: { confirm: t('are_you_sure') }, class: 'btn btn-danger')

%hr
- if @user.errors.any?
  - @user.errors.each do |attr, err|
    = err
    %br
- if @user.errors.any?
  %hr
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t('general')
      .panel-body
        %dl.dl-horizontal
          %dt= t('username')
          %dd= @user.username

          %dt= t('password')
          %dd= @user.password

          %dt= t('identity_code')
          %dd= @user.identity_code

  .col-md-6
    .panel.panel-default
      .panel-heading
        %h3.panel-title= t('address')
      .panel-body
        %dl.dl-horizontal
          %dt= t('email')
          %dd= @user.email

          %dt= t('role')
          - if @user.role
            %dd= t(@user.role)
          - else
            %dd
