- domains = contact.all_domains(page: params[:domain_page], per: 20,
                                params: domain_filter_params.to_h)
.panel.panel-default
  .panel-heading
    .pull-left
      = t(:domains)
    .pull-right
      = form_tag request.path, method: :get do
        = select_tag :domain_filter, options_for_select(%w(Registrant AdminDomainContact TechDomainContact), selected: params[:domain_filter]),
            include_blank: true, class: 'form-control2 selectize2'
        %button.btn.btn-primary
          %span.glyphicon.glyphicon-search
    .clearfix

  .table-responsive
    %table.table.table-hover.table-bordered.table-condensed
      %thead
        %tr
          %th{class: 'col-xs-3'}=custom_sort_link t(:domain_name), :name
          %th{class: 'col-xs-3'}=custom_sort_link t(:registrar_name), :registrar_name
          %th{class: 'col-xs-3'}=custom_sort_link t(:valid_to), :valid_to
          %th{class: 'col-xs-3'}= t('.roles')
      %tbody
        - domains.each do |x|
          %tr
            %td= link_to(x.name, info_registrar_domains_path(domain_name: x.name))
            %td= x.registrar.name
            %td= l(x.valid_to, format: :short)
            %td= x.roles.join(", ")

= paginate domains, param_name: :domain_page
