.panel.panel-default
  .panel-heading
    %h3.panel-title= t(:general)
  .panel-body
    %dl.dl-horizontal
      %dt= t(:contact_code)
      %dd= @contact.id

      %dt= t(:password)
      %dd= @contact.password

      %br

      %dt= t(:ident)
      %dd= ident_for(@contact)

      %dt= t(:email)
      %dd= @contact.email

      %dt= t(:phone)
      %dd= @contact.phone
