= render 'shared/title', name: t(:epp_logs)

.row
  .col-md-12
    %hr
    = search_form_for @q, url: [:admin, :epp_logs], html: { style: 'margin-bottom: 0;', class: 'js-form' } do |f|
      .row
        .col-md-3
          .form-group
            = f.label :request_command
            = f.select :request_command_eq, [[t(:choose),''], 'hello', 'login', 'logout', 'info', 'create', 'update', 'delete', 'check', 'renew', 'transfer', 'poll', 'keyrelay'], {}, class: 'form-control selectize', placeholder: t(:choose)
        .col-md-3
          .form-group
            - opts  = [[t(:choose),''], 'contact', 'domain', 'poll', 'keyrelay']
            - opts += [params[:q][:request_object_cont]] if params[:q].present? && params[:q][:request_object_cont].present?
            = f.label :request_object
            = f.select :request_object_cont, opts, {}, class: 'form-control selectize_create', placeholder: t(:choose)
        .col-md-3
          .form-group
            = f.label :request_successful
            = f.select :request_successful_true, [[t(:choose), ''], 'true', 'false'], {}, class: 'form-control selectize', placeholder: t(:choose)
        .col-md-3
          .form-group
            = f.label :api_user
            = f.search_field :api_user_name_cont, class: 'form-control', placeholder: t(:api_user), autocomplete: 'off'
      .row
        .col-md-3
          .form-group
            = f.label :registrar
            = f.search_field :api_user_registrar_cont, class: 'form-control', placeholder: t(:registrar_name), autocomplete: 'off'
        .col-md-3
          .form-group
            = f.label t(:created_after)
            = f.search_field :created_at_gteq, value: params[:q][:created_at_gteq], class: 'form-control datepicker', placeholder: t(:created_after), autocomplete: 'off'
        .col-md-3
          .form-group
            = f.label t(:created_before)
            = f.search_field :created_at_lteq, value: params[:q][:created_at_lteq], class: 'form-control datepicker', placeholder: t(:created_before), autocomplete: 'off'
        .col-md-3{style: 'padding-top: 25px;'}
          %button.btn.btn-primary
            &nbsp;
            %span.glyphicon.glyphicon-search
            &nbsp;
          %button.btn.btn-default.js-reset-form
            = t(:clear_fields)
.row
  .col-md-12
    %hr
    = paginate @epp_logs
    .table-responsive
      %table.table.table-hover.table-bordered.table-condensed
        %thead
          %tr
            %th{class: 'col-xs-2'}= t(:request_command)
            %th{class: 'col-xs-2'}= t(:request_object)
            %th{class: 'col-xs-2'}= t(:request_successful)
            %th{class: 'col-xs-2'}= t(:api_user)
            %th{class: 'col-xs-2'}= t(:registrar_name)
            %th{class: 'col-xs-2'}
              = sort_link(@q, 'created_at')
        %tbody
          - @epp_logs.each do |x|
            %tr
              %td= link_to(x.request_command, admin_epp_log_path(x))
              %td= x.request_object
              %td= x.request_successful
              %td= x.api_user_name
              %td= x.api_user_registrar
              %td= l(x.created_at)
.row
  .col-md-12
    = paginate @epp_logs

:coffee
  $(".js-reset-form").on "click", (e) ->
    e.preventDefault();
    window.location = "#{admin_epp_logs_path}"
