.row
  .col-sm-6
    %h2.text-center-xs= t('shared.transfer_domain')
  .col-sm-6
    %h2.text-right.text-center-xs
      = link_to(t('shared.domain_transfers'), client_domain_transfers_path, class: 'btn btn-default')

%hr
= form_for([:client, @domain_transfer]) do |f|
  = render 'shared/errors', object: @domain_transfer
  - if @domain_transfer.errors.any?
    %hr
  .row
    .col-md-6
      .form-group
        = label_tag :domain_name
        = text_field_tag(:domain_name, params[:domain_name], class: 'form-control')
    .row
      .col-md-6
        .form-group
          = label_tag :domain_pw, t('shared.domain_pw')
          = text_field_tag(:domain_pw, params[:domain_pw], class: 'form-control')
  .row
    .col-md-12.text-right
      = button_tag(t('shared.request_domain_transfer'), class: 'btn btn-primary', name: 'request')
