.row
  .col-sm-6
    %h2.text-center-xs
      = "#{t('shared.domain_transfer')}"
  .col-sm-6
    %h2.text-right.text-center-xs
      = link_to(t('shared.domain_transfers'), client_domain_transfers_path, class: 'btn btn-default')
      - if can? :approve_as_client, @domain_transfer
        = link_to(t('shared.approve'), approve_client_domain_transfer_path, method: :post, class: 'btn btn-success')
%hr
.row
  .col-md-12
    %dl.dl-horizontal
      %dt= t('shared.domain')
      - if current_registrar == @domain_transfer.domain.registrar
        %dd= link_to(@domain_transfer.domain, client_domain_path(@domain_transfer.domain))
      - else
        %dd= @domain_transfer.domain

      %dt= t('shared.status')
      %dd= @domain_transfer.status

      %dt= t('shared.transfer_requested_at')
      %dd= l(@domain_transfer.transfer_requested_at)

      %dt= t('shared.transfer_from')
      %dd= @domain_transfer.transfer_from

      %dt= t('shared.transfer_to')
      %dd= @domain_transfer.transfer_to

      %dt= t('shared.accept_time')
      - if @domain_transfer.transferred_at
        %dd= l(@domain_transfer.transferred_at)
      - else
        %dd= l(@domain_transfer.wait_until)

      %dt= t('shared.domain_valid_to')
      %dd= l(@domain_transfer.domain.valid_to)
