%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "Full stack top-level domain (TLD) management.", name: "description"}/
    %meta{content: "Gitlab LTD", name: "author"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{href: "../../favicon.ico", rel: "icon"}/
    %title Eesti Interneti SA
  %body
    / Static navbar
    .navbar.navbar-inverse.navbar-static-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to APP_CONFIG['app_name'], root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              = link_to t('shared.domains'), admin_domains_path
            %li
              = link_to t('shared.contacts'), admin_contacts_path
            %li
              = link_to t('shared.registrars'), admin_registrars_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = t('shared.settings')
                %span.caret
              %ul.dropdown-menu{role: "menu"}
                %li.dropdown-header= t('shared.system')
                %li
                  = link_to t('shared.setting_groups'), admin_setting_groups_path
                %li.divider
                %li.dropdown-header= t('shared.users')
                %li
                  = link_to t('shared.epp_users'), admin_epp_users_path
                %li
                  = link_to t('shared.users'), admin_users_path
          %ul.nav.navbar-nav.navbar-right
            %li= link_to t('shared.log_out'), '/logout'
        / /.nav-collapse
    .container
      - display = (flash.empty?) ? 'none' : 'block'
      #flash{style: "display: #{display};"}
        - type = (flash[:notice]) ? 'bg-success' : 'bg-danger'
        .alert{class: type}= flash[:notice] || flash[:alert]
      = yield

