%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "EPP-Client", name: "description"}/
    %meta{content: "Gitlab LTD", name: "author"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{href: "../../favicon.ico", rel: "icon"}/
    %title= t('shared.eedirekt')
  %body
    / Static navbar
    .navbar.navbar-inverse.navbar-static-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to t('shared.eedirekt'), client_domains_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li.dropdown.active
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = t('shared.domains')
                %span.caret
              %ul.dropdown-menu{role: "menu"}
                %li
                  = link_to t('shared.domain_list'), client_domains_path
                %li
                  = link_to t('shared.transfer_domain'), new_client_domain_transfer_path

            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = t('shared.contacts')
                %span.caret
              %ul.dropdown-menu{role: "menu"}
                %li
                  = link_to t('shared.contact_list'), client_contacts_path
            - if current_user.admin?
              %li
                = link_to 'Admin', admin_root_path
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  = current_registrar
                  %span.caret
                %ul.dropdown-menu{role: "menu"}
                  - Registrar.all.each do |x|
                    - next if x == current_registrar
                    %li
                      = link_to x,  switch_registrar_sessions_path(registrar_id: x)
          %ul.nav.navbar-nav.navbar-right
            %li= link_to t('shared.log_out'), '/logout'
        / /.nav-collapse
    .container
      - display = (flash.empty?) ? 'none' : 'block'
      #flash{style: "display: #{display};"}
        - type = (flash[:notice]) ? 'bg-success' : 'bg-danger'
        .alert{class: type}= flash[:notice] || flash[:alert]
      = yield
