!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Full stack top-level domain (TLD) management.", :name => "description"}/
    %meta{:content => "Gitlab LTD", :name => "author"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track' => true
    %link{:href => "../../favicon.ico", :rel => "icon"}/
    %title Eesti Interneti SA - Log In
  %body
    .container
      .form-signin
        %h2.form-signin-heading.text-center Eesti Interneti SA
        %hr
        - if Rails.env.development?
          = button_to 'ID card (gitlab)', 'sessions', class: 'btn btn-lg btn-primary btn-block', name: 'gitlab'
          = button_to 'ID card (zone)', 'sessions', class: 'btn btn-lg btn-primary btn-block', name: 'zone'
        -else
          = button_to 'ID card', 'sessions', class: 'btn btn-lg btn-primary btn-block'
          = button_to 'Mobile ID', 'sessions', class: 'btn btn-lg btn-primary btn-block'
