!!!
%html{:lang => I18n.locale.to_s}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %meta{:content => "Full stack top-level domain (TLD) management.", :name => "description"}/
    %meta{:content => "Gitlab Ltd", :name => "author"}/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'login', media: 'all', 'data-turbolinks-track' => true
    = favicon_link_tag 'favicon.ico'
    %title Eesti Interneti SA - Log In
  %body{:style => env_style}
    .container
      .form-signin
        - display = (flash.empty?) ? 'none' : 'block'
        #flash{style: "display: #{display};"}
          - type = (flash[:notice]) ? 'bg-success' : 'bg-danger'
          .alert{class: type}= flash[:notice] || flash[:alert]
        %h2.form-signin-heading.text-center Eesti Interneti SA
        %hr
        / TODO: Refactor this when ID card login is done
        = button_to 'ID card (user1)', admin_sessions_path,
          class: 'btn btn-lg btn-primary btn-block', name: 'user1'
        = button_to 'ID card (user2)', admin_sessions_path,
          class: 'btn btn-lg btn-primary btn-block', name: 'user2'
