- content_for :actions do
  = link_to(t(:delete), admin_api_user_certificate_path(@api_user, @certificate),
    method: :delete, data: { confirm: t(:are_you_sure) }, class: 'btn btn-danger')
= render 'shared/title', name: t(:certificates)

- if @certificate.errors.any?
  - @certificate.errors.each do |attr, err|
    = err
    %br
- if @certificate.errors.any?
  %hr

.row
  .col-md-12
    .panel.panel-default
      .panel-heading.clearfix
        .pull-left
          = t(:general)

      .panel-body
        %dl.dl-horizontal
          %dt= t(:api_user)
          %dd= link_to(@certificate.api_user, [:admin, @api_user.registrar, @api_user])

          %dt= t(:common_name)
          %dd= @certificate.common_name

          %dt= t(:md5)
          %dd= @certificate.md5

          %dt= t(:interface)
          %dd= @certificate.interface.try(:upcase)

          %dt= t(:updated_at)
          %dd= l(@certificate.updated_at)

          %dt= t(:created_at)
          %dd= l(@certificate.created_at)

- if @csr
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading.clearfix
          .pull-left
            = t(:csr)
          .pull-right
            = link_to(t(:download), download_csr_admin_api_user_certificate_path(@api_user, @certificate), class: 'btn btn-default btn-xs')
            - unless @crt
              = link_to(t(:sign_this_request), sign_admin_api_user_certificate_path(@api_user, @certificate), method: :post, class: 'btn btn-primary btn-xs')

        .panel-body
          %dl.dl-horizontal
            %dt= t(:version)
            %dd= @csr.version

            %dt= CertificationRequest.human_attribute_name :subject
            %dd= @csr.subject

            %dt= t(:signature_algorithm)
            %dd= @csr.signature_algorithm

- if @crt
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading.clearfix
          .pull-left
            = t('crt') unless @certificate.revoked?
            = t('crt_revoked') if @certificate.revoked?
          .pull-right
            = link_to(t(:download), download_crt_admin_api_user_certificate_path(@api_user, @certificate), class: 'btn btn-default btn-xs')
            - if !@certificate.revoked? && @certificate.csr
              = link_to(t(:revoke_this_certificate), revoke_admin_api_user_certificate_path(@api_user, @certificate), method: :post, class: 'btn btn-primary btn-xs')
        - if @crt
          .panel-body
            %dl.dl-horizontal
              %dt= t(:version)
              %dd= @crt.version

              %dt= Certificate.human_attribute_name :serial_number
              %dd= @crt.serial

              %dt= t(:signature_algorithm)
              %dd= @crt.signature_algorithm

              %dt= t(:issuer)
              %dd= @crt.issuer

              %dt= t(:valid_from)
              %dd= @crt.not_before

              %dt= t(:valid_to)
              %dd= @crt.not_after

              %dt= Certificate.human_attribute_name :subject
              %dd= @crt.subject

              %dt= Certificate.human_attribute_name :extensions
              %dd= @crt.extensions.map(&:to_s).join('<br>').html_safe
